In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_excel('C:\\Users\\nafissaad\\Tutorial\\Fundamental analysis\\NEDL Investment Management\\Book2.xlsx',index_col='Comparables')
df=df[df.columns[0:5]]
df

,Market price,Total assets,Total liabilities,Shares outstanding,Earnings per share
Comparables,,,,,
TOTAL SA,39.90145,201445.159266,108777.655735,2601.88100,3.292310
EQUINOR ASA,14.07913,88269.260945,54541.032481,3338.66100,1.702511
ENI SPA,11.35130,106355.530833,60467.566295,3634.18500,1.017618
REPSOL SA,11.95291,54607.693080,26832.145614,1527.39600,1.283083
NESTE OYJ,23.49696,7389.082693,3229.129766,769.21110,0.896684
OMV AG,41.77053,33208.643653,19424.194885,327.27270,3.893494
GALP ENERGIA SGPS SA,12.19489,11398.989801,5965.893614,829.25060,0.790714
AKER BP ASA,22.53655,8455.327161,6109.555939,360.11350,0.990006
DCC PLC,64.70000,7077.616000,4644.089000,98.39658,2.801400
VOPAK,39.49259,4955.016068,2399.475224,127.83540,1.760921
RUBIS,43.13896,4179.564903,2082.502085,100.09180,2.344945
TGS NOPEC GEOPHYSICAL CO ASA,23.25792,1274.448454,292.414091,118.90680,1.312509
SBM OFFSHORE NV,13.56332,7839.322140,5005.491919,198.67130,0.780005
SUBSEA 7 SA,8.26340,5938.255139,1449.160521,300.00000,0.420003
HELLENIC PETROLEUM SA,6.96732,6287.035690,4135.422681,305.63520,0.610571
MOTOR OIL (HELLAS) SA,17.00526,2558.398903,1559.091956,110.78300,2.052933
ENERGEAN OIL & GAS PLC,9.23000,1394.989016,541.526753,177.08940,0.600004
VIVO ENERGY PLC,1.29000,2218.215126,1762.126157,1266.07300,0.082501
PETROFAC LTD,3.93300,4555.154558,3763.533658,345.91270,0.141751
SARAS SPA,1.20322,2659.421967,1667.439412,951.00000,0.132733

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, TOTAL SA to SARAS SPA
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Market price        20 non-null     float64
 1   Total assets        20 non-null     float64
 2   Total liabilities   20 non-null     float64
 3   Shares outstanding  20 non-null     float64
 4   Earnings per share  20 non-null     float64
dtypes: float64(5)
memory usage: 960.0+ bytes

In [4]:
df.columns[1]

'Total assets '

In [5]:
df['Book Value of equity']=df['Total assets ']-df['Total liabilities']
df

,Market price,Total assets,Total liabilities,Shares outstanding,Earnings per share,Book Value of equity
Comparables,,,,,,
TOTAL SA,39.90145,201445.159266,108777.655735,2601.88100,3.292310,92667.503531
EQUINOR ASA,14.07913,88269.260945,54541.032481,3338.66100,1.702511,33728.228464
ENI SPA,11.35130,106355.530833,60467.566295,3634.18500,1.017618,45887.964538
REPSOL SA,11.95291,54607.693080,26832.145614,1527.39600,1.283083,27775.547466
NESTE OYJ,23.49696,7389.082693,3229.129766,769.21110,0.896684,4159.952926
OMV AG,41.77053,33208.643653,19424.194885,327.27270,3.893494,13784.448768
GALP ENERGIA SGPS SA,12.19489,11398.989801,5965.893614,829.25060,0.790714,5433.096187
AKER BP ASA,22.53655,8455.327161,6109.555939,360.11350,0.990006,2345.771222
DCC PLC,64.70000,7077.616000,4644.089000,98.39658,2.801400,2433.527000
VOPAK,39.49259,4955.016068,2399.475224,127.83540,1.760921,2555.540844
RUBIS,43.13896,4179.564903,2082.502085,100.09180,2.344945,2097.062818
TGS NOPEC GEOPHYSICAL CO ASA,23.25792,1274.448454,292.414091,118.90680,1.312509,982.034364
SBM OFFSHORE NV,13.56332,7839.322140,5005.491919,198.67130,0.780005,2833.830221
SUBSEA 7 SA,8.26340,5938.255139,1449.160521,300.00000,0.420003,4489.094618
HELLENIC PETROLEUM SA,6.96732,6287.035690,4135.422681,305.63520,0.610571,2151.613009
MOTOR OIL (HELLAS) SA,17.00526,2558.398903,1559.091956,110.78300,2.052933,999.306947
ENERGEAN OIL & GAS PLC,9.23000,1394.989016,541.526753,177.08940,0.600004,853.462263
VIVO ENERGY PLC,1.29000,2218.215126,1762.126157,1266.07300,0.082501,456.088969
PETROFAC LTD,3.93300,4555.154558,3763.533658,345.91270,0.141751,791.620901
SARAS SPA,1.20322,2659.421967,1667.439412,951.00000,0.132733,991.982555

In [6]:
df['Book value per share']=df['Book Value of equity']/df['Shares outstanding']
df

,Market price,Total assets,Total liabilities,Shares outstanding,Earnings per share,Book Value of equity,Book value per share
Comparables,,,,,,,
TOTAL SA,39.90145,201445.159266,108777.655735,2601.88100,3.292310,92667.503531,35.615581
EQUINOR ASA,14.07913,88269.260945,54541.032481,3338.66100,1.702511,33728.228464,10.102322
ENI SPA,11.35130,106355.530833,60467.566295,3634.18500,1.017618,45887.964538,12.626755
REPSOL SA,11.95291,54607.693080,26832.145614,1527.39600,1.283083,27775.547466,18.184903
NESTE OYJ,23.49696,7389.082693,3229.129766,769.21110,0.896684,4159.952926,5.408077
OMV AG,41.77053,33208.643653,19424.194885,327.27270,3.893494,13784.448768,42.119153
GALP ENERGIA SGPS SA,12.19489,11398.989801,5965.893614,829.25060,0.790714,5433.096187,6.551815
AKER BP ASA,22.53655,8455.327161,6109.555939,360.11350,0.990006,2345.771222,6.513977
DCC PLC,64.70000,7077.616000,4644.089000,98.39658,2.801400,2433.527000,24.731825
VOPAK,39.49259,4955.016068,2399.475224,127.83540,1.760921,2555.540844,19.990870
RUBIS,43.13896,4179.564903,2082.502085,100.09180,2.344945,2097.062818,20.951395
TGS NOPEC GEOPHYSICAL CO ASA,23.25792,1274.448454,292.414091,118.90680,1.312509,982.034364,8.258858
SBM OFFSHORE NV,13.56332,7839.322140,5005.491919,198.67130,0.780005,2833.830221,14.263913
SUBSEA 7 SA,8.26340,5938.255139,1449.160521,300.00000,0.420003,4489.094618,14.963649
HELLENIC PETROLEUM SA,6.96732,6287.035690,4135.422681,305.63520,0.610571,2151.613009,7.039808
MOTOR OIL (HELLAS) SA,17.00526,2558.398903,1559.091956,110.78300,2.052933,999.306947,9.020400
ENERGEAN OIL & GAS PLC,9.23000,1394.989016,541.526753,177.08940,0.600004,853.462263,4.819386
VIVO ENERGY PLC,1.29000,2218.215126,1762.126157,1266.07300,0.082501,456.088969,0.360239
PETROFAC LTD,3.93300,4555.154558,3763.533658,345.91270,0.141751,791.620901,2.288499
SARAS SPA,1.20322,2659.421967,1667.439412,951.00000,0.132733,991.982555,1.043094

In [7]:
df['Price-to-book(P/B)']=df['Market price']/df['Book value per share']
df

,Market price,Total assets,Total liabilities,Shares outstanding,Earnings per share,Book Value of equity,Book value per share,Price-to-book(P/B)
Comparables,,,,,,,,
TOTAL SA,39.90145,201445.159266,108777.655735,2601.88100,3.292310,92667.503531,35.615581,1.120337
EQUINOR ASA,14.07913,88269.260945,54541.032481,3338.66100,1.702511,33728.228464,10.102322,1.393653
ENI SPA,11.35130,106355.530833,60467.566295,3634.18500,1.017618,45887.964538,12.626755,0.898988
REPSOL SA,11.95291,54607.693080,26832.145614,1527.39600,1.283083,27775.547466,18.184903,0.657299
NESTE OYJ,23.49696,7389.082693,3229.129766,769.21110,0.896684,4159.952926,5.408077,4.344790
OMV AG,41.77053,33208.643653,19424.194885,327.27270,3.893494,13784.448768,42.119153,0.991723
GALP ENERGIA SGPS SA,12.19489,11398.989801,5965.893614,829.25060,0.790714,5433.096187,6.551815,1.861300
AKER BP ASA,22.53655,8455.327161,6109.555939,360.11350,0.990006,2345.771222,6.513977,3.459722
DCC PLC,64.70000,7077.616000,4644.089000,98.39658,2.801400,2433.527000,24.731825,2.616062
VOPAK,39.49259,4955.016068,2399.475224,127.83540,1.760921,2555.540844,19.990870,1.975531
RUBIS,43.13896,4179.564903,2082.502085,100.09180,2.344945,2097.062818,20.951395,2.059002
TGS NOPEC GEOPHYSICAL CO ASA,23.25792,1274.448454,292.414091,118.90680,1.312509,982.034364,8.258858,2.816118
SBM OFFSHORE NV,13.56332,7839.322140,5005.491919,198.67130,0.780005,2833.830221,14.263913,0.950884
SUBSEA 7 SA,8.26340,5938.255139,1449.160521,300.00000,0.420003,4489.094618,14.963649,0.552232
HELLENIC PETROLEUM SA,6.96732,6287.035690,4135.422681,305.63520,0.610571,2151.613009,7.039808,0.989703
MOTOR OIL (HELLAS) SA,17.00526,2558.398903,1559.091956,110.78300,2.052933,999.306947,9.020400,1.885200
ENERGEAN OIL & GAS PLC,9.23000,1394.989016,541.526753,177.08940,0.600004,853.462263,4.819386,1.915182
VIVO ENERGY PLC,1.29000,2218.215126,1762.126157,1266.07300,0.082501,456.088969,0.360239,3.580955
PETROFAC LTD,3.93300,4555.154558,3763.533658,345.91270,0.141751,791.620901,2.288499,1.718594
SARAS SPA,1.20322,2659.421967,1667.439412,951.00000,0.132733,991.982555,1.043094,1.153510

In [8]:
df['Price-to-earnings(P/E)']=df['Market price']/df['Earnings per share']#how many years it will take o pay its price
df

,Market price,Total assets,Total liabilities,Shares outstanding,Earnings per share,Book Value of equity,Book value per share,Price-to-book(P/B),Price-to-earnings(P/E)
Comparables,,,,,,,,,
TOTAL SA,39.90145,201445.159266,108777.655735,2601.88100,3.292310,92667.503531,35.615581,1.120337,12.119590
EQUINOR ASA,14.07913,88269.260945,54541.032481,3338.66100,1.702511,33728.228464,10.102322,1.393653,8.269626
ENI SPA,11.35130,106355.530833,60467.566295,3634.18500,1.017618,45887.964538,12.626755,0.898988,11.154777
REPSOL SA,11.95291,54607.693080,26832.145614,1527.39600,1.283083,27775.547466,18.184903,0.657299,9.315770
NESTE OYJ,23.49696,7389.082693,3229.129766,769.21110,0.896684,4159.952926,5.408077,4.344790,26.204295
OMV AG,41.77053,33208.643653,19424.194885,327.27270,3.893494,13784.448768,42.119153,0.991723,10.728288
GALP ENERGIA SGPS SA,12.19489,11398.989801,5965.893614,829.25060,0.790714,5433.096187,6.551815,1.861300,15.422634
AKER BP ASA,22.53655,8455.327161,6109.555939,360.11350,0.990006,2345.771222,6.513977,3.459722,22.764043
DCC PLC,64.70000,7077.616000,4644.089000,98.39658,2.801400,2433.527000,24.731825,2.616062,23.095595
VOPAK,39.49259,4955.016068,2399.475224,127.83540,1.760921,2555.540844,19.990870,1.975531,22.427231
RUBIS,43.13896,4179.564903,2082.502085,100.09180,2.344945,2097.062818,20.951395,2.059002,18.396573
TGS NOPEC GEOPHYSICAL CO ASA,23.25792,1274.448454,292.414091,118.90680,1.312509,982.034364,8.258858,2.816118,17.720204
SBM OFFSHORE NV,13.56332,7839.322140,5005.491919,198.67130,0.780005,2833.830221,14.263913,0.950884,17.388758
SUBSEA 7 SA,8.26340,5938.255139,1449.160521,300.00000,0.420003,4489.094618,14.963649,0.552232,19.674633
HELLENIC PETROLEUM SA,6.96732,6287.035690,4135.422681,305.63520,0.610571,2151.613009,7.039808,0.989703,11.411160
MOTOR OIL (HELLAS) SA,17.00526,2558.398903,1559.091956,110.78300,2.052933,999.306947,9.020400,1.885200,8.283396
ENERGEAN OIL & GAS PLC,9.23000,1394.989016,541.526753,177.08940,0.600004,853.462263,4.819386,1.915182,15.383232
VIVO ENERGY PLC,1.29000,2218.215126,1762.126157,1266.07300,0.082501,456.088969,0.360239,3.580955,15.636261
PETROFAC LTD,3.93300,4555.154558,3763.533658,345.91270,0.141751,791.620901,2.288499,1.718594,27.745850
SARAS SPA,1.20322,2659.421967,1667.439412,951.00000,0.132733,991.982555,1.043094,1.153510,9.064981

In [9]:
compare=pd.DataFrame(columns=[df.columns],index=['ROYAL DUTCH SHELL PLC','BP PLC'])
compare

,Market price,Total assets,Total liabilities,Shares outstanding,Earnings per share,Book Value of equity,Book value per share,Price-to-book(P/B),Price-to-earnings(P/E)
ROYAL DUTCH SHELL PLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BP PLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
compare.loc['ROYAL DUTCH SHELL PLC',df.columns[0:5]]=[21.56,313192,154292,4162,2.12]
compare.loc['BP PLC',df.columns[0:5]]=[4.63,221384,141713,20251,0.35]
compare

,Market price,Total assets,Total liabilities,Shares outstanding,Earnings per share,Book Value of equity,Book value per share,Price-to-book(P/B),Price-to-earnings(P/E)
ROYAL DUTCH SHELL PLC,21.56,313192,154292,4162,2.12,NaN,NaN,NaN,NaN
BP PLC,4.63,221384,141713,20251,0.35,NaN,NaN,NaN,NaN

In [11]:
(compare['Total assets '].values-compare['Total liabilities'].values)

array([[158900],
       [79671]], dtype=object)

In [12]:
compare['Book Value of equity']=(compare['Total assets '].values-compare['Total liabilities'].values)
compare['Book value per share']=(compare['Book Value of equity'].values/compare['Shares outstanding'].values)
compare

,Market price,Total assets,Total liabilities,Shares outstanding,Earnings per share,Book Value of equity,Book value per share,Price-to-book(P/B),Price-to-earnings(P/E)
ROYAL DUTCH SHELL PLC,21.56,313192,154292,4162,2.12,158900,38.17876,NaN,NaN
BP PLC,4.63,221384,141713,20251,0.35,79671,3.934176,NaN,NaN

In [13]:
Valuation=pd.DataFrame(columns=[['Price-to-Book','Price-to-Earning']],index=['Fair ratio','ROYAL DUTCH SHELL PLC','BP PLC'])
Valuation

                      Price-to-Book Price-to-Earning
Fair ratio                      NaN              NaN
ROYAL DUTCH SHELL PLC           NaN              NaN
BP PLC                          NaN              NaN

In [14]:
Valuation.loc['Fair ratio','Price-to-Book']=df['Price-to-book(P/B)'].mean()
Valuation.loc['Fair ratio','Price-to-Earning']=df['Price-to-earnings(P/E)'].mean()
Valuation

                      Price-to-Book Price-to-Earning
Fair ratio                 1.847039        16.110345
ROYAL DUTCH SHELL PLC           NaN              NaN
BP PLC                          NaN              NaN

In [15]:
Valuation.loc['Fair ratio','Price-to-Book'].values*compare.loc['ROYAL DUTCH SHELL PLC','Book value per share'].values

array([70.51766667153123], dtype=object)

In [16]:
#Fair Value=fair Price-to-book industry mean*Book value per share
Valuation.loc['ROYAL DUTCH SHELL PLC','Price-to-Book']=Valuation.loc['Fair ratio','Price-to-Book'].values*compare.loc['ROYAL DUTCH SHELL PLC','Book value per share'].values
Valuation.loc['BP PLC','Price-to-Book']=Valuation.loc['Fair ratio','Price-to-Book'].values*compare.loc['BP PLC','Book value per share'].values
Valuation

                      Price-to-Book Price-to-Earning
Fair ratio                 1.847039        16.110345
ROYAL DUTCH SHELL PLC     70.517667              NaN
BP PLC                     7.266577              NaN

In [17]:
#Fair Value=fair Price-to-Earning industry mean*Earning per share
Valuation.loc['ROYAL DUTCH SHELL PLC','Price-to-Earning']=Valuation.loc['Fair ratio','Price-to-Earning'].values*compare.loc['ROYAL DUTCH SHELL PLC','Earnings per share'].values
Valuation.loc['BP PLC','Price-to-Earning']=Valuation.loc['Fair ratio','Price-to-Earning'].values*compare.loc['BP PLC','Earnings per share'].values
Valuation

                      Price-to-Book Price-to-Earning
Fair ratio                 1.847039        16.110345
ROYAL DUTCH SHELL PLC     70.517667        34.153931
BP PLC                     7.266577         5.638621

In [18]:
#Bothe Valuation techunique is greater than market price so they are under valued