In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_excel('C:\\Users\\nafissaad\\Tutorial\\Fundamental analysis\\The Treynor-Black model-the balance between active and passive investment\\Book3.xlsx',index_col='Unnamed: 0')
df

               RDS     BP    FTSE 250
2014-11-30  21.325  4.202  15851.7600
2014-12-31  21.535  4.110  16116.7379
2015-01-31  20.180  4.245  16352.4681
2015-02-28  21.502  4.548  17334.4191
2015-03-31  20.385  4.433  17188.7970
...            ...    ...         ...
2019-07-31  34.851  7.310  22339.9205
2019-08-31  31.095  6.812  22099.2310
2019-09-30  32.578  7.024  22788.0627
2019-10-31  30.515  6.663  22933.9233
2019-11-30  30.691  6.639  23885.9192

[61 rows x 3 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 61 entries, 2014-11-30 to 2019-11-30
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RDS       61 non-null     float64
 1   BP        61 non-null     float64
 2   FTSE 250  61 non-null     float64
dtypes: float64(3)
memory usage: 1.9 KB

In [4]:
matrix=pd.DataFrame(columns=[['RDS','BP']],index=['Market price','Fair value','Moth to coverage','Alpha','Beta','Idiosyncratic variance','Apprisal ratio','Active weight','Active weight squared'])

In [5]:
matrix.loc['Market price','RDS']=21.53
matrix.loc['Market price','BP']=4.63
matrix.loc['Fair value','RDS']=34.153931
matrix.loc['Fair value','BP']=5.638621
matrix.loc['Moth to coverage','RDS']=36#3 years
matrix.loc['Moth to coverage','BP']=36
matrix.loc['Alpha','RDS']=(matrix.loc['Fair value','RDS']/matrix.loc['Market price','RDS'])**(1/36)-1#suppose to appriciate 1.28% per month
matrix.loc['Alpha','BP']=(matrix.loc['Fair value','BP']/matrix.loc['Market price','BP'])**(1/36)-1
matrix

                              RDS        BP
Market price                21.53      4.63
Fair value              34.153931  5.638621
Moth to coverage               36        36
Alpha                      0.0129   0.00549
Beta                          NaN       NaN
Idiosyncratic variance        NaN       NaN
Apprisal ratio                NaN       NaN
Active weight                 NaN       NaN
Active weight squared         NaN       NaN

In [6]:
returns=df.pct_change().dropna()
returns

                 RDS        BP  FTSE 250
2014-12-31  0.009848 -0.021894  0.016716
2015-01-31 -0.062921  0.032847  0.014626
2015-02-28  0.065510  0.071378  0.060049
2015-03-31 -0.051949 -0.025286 -0.008401
2015-04-30  0.025656  0.076472  0.027327
2015-05-31 -0.042424 -0.027452  0.042030
2015-06-30 -0.080565 -0.068089 -0.032612
2015-07-31  0.029987 -0.058728  0.009993
2015-08-31 -0.063555 -0.072709 -0.029280
2015-09-30 -0.083188 -0.073642 -0.022708
2015-10-31  0.087480  0.156992  0.028499
2015-11-30 -0.009095  0.014088  0.018982
2015-12-31 -0.071205 -0.081160  0.002341
2016-01-31 -0.005217  0.062334 -0.053159
2016-02-29  0.107608 -0.044444  0.007823
2016-03-31  0.022171 -0.003658  0.022342
2016-04-30  0.056733  0.067401 -0.002811
2016-05-31 -0.050490 -0.025799  0.026058
2016-06-30  0.235294  0.226482 -0.050627
2016-07-31 -0.050565 -0.025704  0.063768
2016-08-31 -0.024869  0.020684  0.028166
2016-09-30  0.028733  0.051696  0.011673
2016-10-31  0.065048  0.074715 -0.016649
2016-11-30  0.012570 -0.033297  0.001405
2016-12-31  0.106849  0.109198  0.032904
2017-01-31 -0.042350 -0.072172  0.004585
2017-02-28 -0.014458 -0.023354  0.035026
2017-03-31  0.007950  0.008850  0.013941
2017-04-30 -0.044599 -0.032848  0.038360
2017-05-31  0.066511  0.072559  0.021542
2017-06-30 -0.030922 -0.051098 -0.029367
2017-07-31  0.048131  0.006636  0.024205
2017-08-31  0.013670  0.015257  0.004156
2017-09-30  0.057121  0.072171  0.006450
2017-10-31  0.052055  0.068870  0.019946
2017-11-30  0.011812 -0.027360 -0.012047
2017-12-31  0.051966  0.068575  0.040409
2018-01-31 -0.007038 -0.041277 -0.022366
2018-02-28 -0.051563 -0.037368 -0.027071
2018-03-31 -0.029338  0.008608 -0.008701
2018-04-30  0.133219  0.122657  0.047175
2018-05-31  0.043863  0.085408  0.030641
2018-06-30  0.008446  0.003433  0.001289
2018-07-31 -0.005344 -0.008622  0.003883
2018-08-31 -0.029819 -0.032027 -0.006189
2018-09-30  0.053974  0.076726 -0.015565
2018-10-31 -0.051594 -0.037219 -0.066615
2018-11-30 -0.037719 -0.069473 -0.021085
2018-12-31 -0.026391 -0.046274 -0.051303
2019-01-31  0.023618  0.048675  0.070927
2019-02-28  0.009833  0.042129  0.025932
2019-03-31  0.027251  0.045106 -0.001101
2019-04-30  0.015110  0.000950  0.042186
2019-05-31  0.018953 -0.018983 -0.039842
2019-06-30  0.045306  0.015757  0.028701
2019-07-31  0.008362 -0.005307  0.012771
2019-08-31 -0.107773 -0.068126 -0.010774
2019-09-30  0.047693  0.031122  0.031170
2019-10-31 -0.063325 -0.051395  0.006401
2019-11-30  0.005768 -0.003602  0.041510

In [7]:
np.polyfit(np.array(returns['FTSE 250']),np.array(returns['RDS']),1)#1 means constant true,FTSE 250 is independent

array([0.37574094, 0.00502309])

In [8]:
matrix.loc['Beta','RDS']=np.polyfit(np.array(returns['FTSE 250']),np.array(returns['RDS']),1)[0]
matrix.loc['Beta','BP']=np.polyfit(np.array(returns['FTSE 250']),np.array(returns['BP']),1)[0]
matrix

                              RDS        BP
Market price                21.53      4.63
Fair value              34.153931  5.638621
Moth to coverage               36        36
Alpha                      0.0129   0.00549
Beta                     0.375741  0.487283
Idiosyncratic variance        NaN       NaN
Apprisal ratio                NaN       NaN
Active weight                 NaN       NaN
Active weight squared         NaN       NaN

In [9]:
returns['RDS Abnormal Returns']=returns['RDS'].values-matrix.loc['Beta','RDS'].values*returns['FTSE 250'].values
returns['BP Abnormal Returns']=returns['BP'].values-matrix.loc['Beta','BP'].values*returns['FTSE 250'].values
returns

,RDS,BP,FTSE 250,RDS Abnormal Returns,BP Abnormal Returns
2014-12-31,0.009848,-0.021894,0.016716,0.003567,-0.03004
2015-01-31,-0.062921,0.032847,0.014626,-0.068417,0.02572
2015-02-28,0.065510,0.071378,0.060049,0.042948,0.042117
2015-03-31,-0.051949,-0.025286,-0.008401,-0.048792,-0.021192
2015-04-30,0.025656,0.076472,0.027327,0.015388,0.063156
2015-05-31,-0.042424,-0.027452,0.042030,-0.058216,-0.047932
2015-06-30,-0.080565,-0.068089,-0.032612,-0.068312,-0.052198
2015-07-31,0.029987,-0.058728,0.009993,0.026232,-0.063598
2015-08-31,-0.063555,-0.072709,-0.029280,-0.052553,-0.058442
2015-09-30,-0.083188,-0.073642,-0.022708,-0.074656,-0.062577
2015-10-31,0.087480,0.156992,0.028499,0.076772,0.143105
2015-11-30,-0.009095,0.014088,0.018982,-0.016227,0.004838
2015-12-31,-0.071205,-0.081160,0.002341,-0.072084,-0.082301
2016-01-31,-0.005217,0.062334,-0.053159,0.014757,0.088238
2016-02-29,0.107608,-0.044444,0.007823,0.104669,-0.048256
2016-03-31,0.022171,-0.003658,0.022342,0.013777,-0.014545
2016-04-30,0.056733,0.067401,-0.002811,0.05779,0.068771
2016-05-31,-0.050490,-0.025799,0.026058,-0.060281,-0.038496
2016-06-30,0.235294,0.226482,-0.050627,0.254317,0.251151
2016-07-31,-0.050565,-0.025704,0.063768,-0.074525,-0.056778
2016-08-31,-0.024869,0.020684,0.028166,-0.035452,0.006959
2016-09-30,0.028733,0.051696,0.011673,0.024347,0.046008
2016-10-31,0.065048,0.074715,-0.016649,0.071303,0.082828
2016-11-30,0.012570,-0.033297,0.001405,0.012042,-0.033981
2016-12-31,0.106849,0.109198,0.032904,0.094486,0.093164
2017-01-31,-0.042350,-0.072172,0.004585,-0.044073,-0.074406
2017-02-28,-0.014458,-0.023354,0.035026,-0.027619,-0.040422
2017-03-31,0.007950,0.008850,0.013941,0.002712,0.002056
2017-04-30,-0.044599,-0.032848,0.038360,-0.059012,-0.05154
2017-05-31,0.066511,0.072559,0.021542,0.058416,0.062062
2017-06-30,-0.030922,-0.051098,-0.029367,-0.019888,-0.036787
2017-07-31,0.048131,0.006636,0.024205,0.039036,-0.005158
2017-08-31,0.013670,0.015257,0.004156,0.012109,0.013232
2017-09-30,0.057121,0.072171,0.006450,0.054697,0.069028
2017-10-31,0.052055,0.068870,0.019946,0.04456,0.059151
2017-11-30,0.011812,-0.027360,-0.012047,0.016339,-0.021489
2017-12-31,0.051966,0.068575,0.040409,0.036783,0.048885
2018-01-31,-0.007038,-0.041277,-0.022366,0.001365,-0.030379
2018-02-28,-0.051563,-0.037368,-0.027071,-0.041391,-0.024177
2018-03-31,-0.029338,0.008608,-0.008701,-0.026069,0.012848
2018-04-30,0.133219,0.122657,0.047175,0.115493,0.09967
2018-05-31,0.043863,0.085408,0.030641,0.03235,0.070477
2018-06-30,0.008446,0.003433,0.001289,0.007962,0.002805
2018-07-31,-0.005344,-0.008622,0.003883,-0.006803,-0.010514
2018-08-31,-0.029819,-0.032027,-0.006189,-0.027494,-0.02901
2018-09-30,0.053974,0.076726,-0.015565,0.059822,0.08431
2018-10-31,-0.051594,-0.037219,-0.066615,-0.026564,-0.004758
2018-11-30,-0.037719,-0.069473,-0.021085,-0.029797,-0.059199
2018-12-31,-0.026391,-0.046274,-0.051303,-0.007114,-0.021275
2019-01-31,0.023618,0.048675,0.070927,-0.003032,0.014113
2019-02-28,0.009833,0.042129,0.025932,0.000089,0.029492
2019-03-31,0.027251,0.045106,-0.001101,0.027665,0.045643
2019-04-30,0.015110,0.000950,0.042186,-0.000741,-0.019606
2019-05-31,0.018953,-0.018983,-0.039842,0.033923,0.000431
2019-06-30,0.045306,0.015757,0.028701,0.034522,0.001771
2019-07-31,0.008362,-0.005307,0.012771,0.003563,-0.01153
2019-08-31,-0.107773,-0.068126,-0.010774,-0.103725,-0.062876
2019-09-30,0.047693,0.031122,0.031170,0.035981,0.015933
2019-10-31,-0.063325,-0.051395,0.006401,-0.06573,-0.054514
2019-11-30,0.005768,-0.003602,0.041510,-0.009829,-0.023829

In [10]:
matrix.loc['Apprisal ratio'].sum()

0

In [11]:
matrix.loc['Idiosyncratic variance','RDS']=returns['RDS Abnormal Returns'].var()
matrix.loc['Idiosyncratic variance','BP']=returns['BP Abnormal Returns'].var()
matrix.loc['Apprisal ratio','RDS']=matrix.loc['Alpha','RDS']/matrix.loc['Idiosyncratic variance','RDS']#Apprisal ratio is risk adjusted return, higher ratio is better
matrix.loc['Apprisal ratio','BP']=matrix.loc['Alpha','BP']/matrix.loc['Idiosyncratic variance','BP']
matrix.loc['Active weight','RDS']=matrix.loc['Apprisal ratio','RDS']/matrix.loc['Apprisal ratio'].sum()
matrix.loc['Active weight','BP']=matrix.loc['Apprisal ratio','BP']/matrix.loc['Apprisal ratio'].sum()
matrix.loc['Active weight squared','RDS']=matrix.loc['Active weight','RDS']**2
matrix.loc['Active weight squared','BP']=matrix.loc['Active weight','BP']**2
matrix

                              RDS        BP
Market price                21.53      4.63
Fair value              34.153931  5.638621
Moth to coverage               36        36
Alpha                      0.0129   0.00549
Beta                     0.375741  0.487283
Idiosyncratic variance   0.003413  0.003685
Apprisal ratio           3.779276  1.489612
Active weight            0.717282  0.282718
Active weight squared    0.514493   0.07993

In [12]:
Active_alpha=matrix.loc['Active weight'].dot(matrix.loc['Alpha'])#% value
Active_beta=matrix.loc['Active weight'].dot(matrix.loc['Beta'])#normal values
Active_volatility=matrix.loc['Idiosyncratic variance'].dot(matrix.loc['Active weight squared'])#normal value
Market_return=np.prod(1+returns['FTSE 250'])**(1/60)-1#Average monthly Appriciation
Market_variance=returns['FTSE 250'].var()#Marke_variance is less than Idiosyncratic variance and Active_volatiloty which means passive investment is much more attractive 
Market_variance

0.0008890612255150322

In [13]:
Risk_free_treasury_Annual_rate=0.0079
Risk_free_treasury_monthly=(1+Risk_free_treasury_Annual_rate)**(1/12)-1
Excess_market_return=Market_return-Risk_free_treasury_monthly
Excess_market_return

0.006200916483898977

In [14]:
Uncorrelated_active_weight=(Active_alpha/Active_volatility)/(Excess_market_return/Market_variance)#% values
Corrected_active_weight=Uncorrelated_active_weight/(1+(1-Active_beta)*Uncorrelated_active_weight)#% value
passive_weight=1-Corrected_active_weight
Uncorrelated_active_weight,Corrected_active_weight,passive_weight

(0.7554308781054766, 0.5217921839689422, 0.4782078160310578)

In [15]:
final_weight=pd.DataFrame()
final_weight['RSD']=Corrected_active_weight*matrix.loc['Active weight','RDS'].values
final_weight['BP']=Corrected_active_weight*matrix.loc['Active weight','BP'].values
final_weight['FTSE 250']=passive_weight
final_weight

        RSD       BP  FTSE 250
0  0.374272  0.14752  0.478208

In [16]:
final_weight.values.sum()

1.0