In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Net_income=[883,1226,1074,1231,1004]
Net_income.reverse()
Net_income

[1004, 1231, 1074, 1226, 883]

In [3]:
Matrix=pd.DataFrame(columns=['Values'],index=['Discount Rate','Growth rate(1-5)','Growth rate(5-10)','Terminal value','Ticker','Share Price','Outstanding shares'])
Matrix

                   Values
Discount Rate         NaN
Growth rate(1-5)      NaN
Growth rate(5-10)     NaN
Terminal value        NaN
Ticker                NaN
Share Price           NaN
Outstanding shares    NaN

In [4]:
Matrix.loc['Discount Rate','Values']=0.09
Matrix.loc['Growth rate(1-5)','Values']=(Net_income[-1]/Net_income[0])**(1/5)-1
Matrix.loc['Growth rate(5-10)','Values']=(Net_income[-1]/Net_income[0])**(1/5)-1
Matrix.loc['Terminal value','Values']=10
Matrix.loc['Share Price','Values']=1397.70
Matrix.loc['Ticker','Values']='LINDEBD'
Matrix.loc['Outstanding shares','Values']=15.22
Matrix

                      Values
Discount Rate           0.09
Growth rate(1-5)   -0.025357
Growth rate(5-10)  -0.025357
Terminal value            10
Ticker               LINDEBD
Share Price           1397.7
Outstanding shares     15.22

In [5]:
Cash_flow_chart=pd.DataFrame(columns=['FCF(Free Cash Flow)','Present Value'],index=[i for i in range(1,11)])
Cash_flow_chart

   FCF(Free Cash Flow) Present Value
1                  NaN           NaN
2                  NaN           NaN
3                  NaN           NaN
4                  NaN           NaN
5                  NaN           NaN
6                  NaN           NaN
7                  NaN           NaN
8                  NaN           NaN
9                  NaN           NaN
10                 NaN           NaN

In [6]:
pv=Net_income[-1]
for i in Cash_flow_chart.index:
    Cash_flow_chart.loc[i,'FCF(Free Cash Flow)']=pv
    Cash_flow_chart.loc[i,'Present Value']=Cash_flow_chart.loc[i,'FCF(Free Cash Flow)']/(1+0.1)**i
    pv=pv*(1+Matrix.loc['Growth rate(1-5)','Values'])

In [7]:
Cash_flow_chart

   FCF(Free Cash Flow) Present Value
1                  883    802.727273
2           860.609432    711.247465
3           838.786631    630.192811
4           817.517199    558.375247
5           796.787104    494.742103
6           776.582669    438.360671
7           756.890567    388.404539
8           737.697804     344.14147
9            718.99172    304.922676
10          700.759973    270.173305

In [8]:
planning_to_sell1=Cash_flow_chart.loc[10,'FCF(Free Cash Flow)']*Matrix.loc['Terminal value','Values']
planning_to_sell2=Cash_flow_chart.loc[10,'Present Value']*Matrix.loc['Terminal value','Values']
planning_to_sell1

7007.599725795788

In [9]:
x=[i for i in Cash_flow_chart['FCF(Free Cash Flow)']]
y=[i for i in Cash_flow_chart['Present Value']]

In [10]:
x.append(planning_to_sell1)
y.append(planning_to_sell2)

In [11]:
sum(y)/Matrix.loc['Outstanding shares','Values']

502.3009597850415