In [23]:
import pandas as pd 
import numpy as np
from sklearn import linear_model

In [24]:
df=pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [25]:
df.age.median()

16.5

In [26]:
import math
median_bedrooms = math.floor(df.age.median())
median_bedrooms

16

In [27]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [28]:
reg=linear_model.LinearRegression()
s=reg.fit(df[['area','bedrooms','age']].values,df.price.values)

In [29]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [30]:
reg.intercept_

221323.00186540443

In [31]:
reg.predict([[3000,3,40]])

array([498408.25158031])

In [32]:
112.06244194*3000+23388.88007794*3-3231.71790863*40+221323.00186540443

498408.25157402444