In [1]:
import pandas as pd
url='https://raw.githubusercontent.com/nafissaad/Tutorial1/main/Tutorial/Feature%20engineering/Codebasics/2%20Outlier%20detect%20and%20removal%20using%20perecntile/heights.csv'
df=pd.read_csv(url)
df

       name  height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5    khusbu     5.4
6    dmitry     6.2
7    selena     6.5
8      john     7.1
9     imran    14.5
10     jose     6.1
11  deepika     5.6
12   yoseph     1.2
13    binod     5.5

In [2]:
df.describe()

          height
count  14.000000
mean    6.050000
std     2.779804
min     1.200000
25%     5.250000
50%     5.550000
75%     6.175000
max    14.500000

In [3]:
Q1=df.height.quantile(0.25)
Q3=df.height.quantile(0.75)
Q1,Q3

(5.25, 6.175)

In [4]:
IQR=Q3-Q1
IQR

0.9249999999999998

In [5]:
lower_limit=Q1-1.5*IQR
upper_limit=Q3+1.5*IQR
lower_limit,upper_limit

(3.8625000000000003, 7.5625)

In [6]:
df[(df.height<lower_limit)|(df.height>upper_limit)]

      name  height
9    imran    14.5
12  yoseph     1.2

In [7]:
df_no_outlier=df[~(df.height<lower_limit)|(df.height>upper_limit)]
df_no_outlier

       name  height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5    khusbu     5.4
6    dmitry     6.2
7    selena     6.5
8      john     7.1
9     imran    14.5
10     jose     6.1
11  deepika     5.6
13    binod     5.5