In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [3]:
df['Name']=['Joe','Jim','Mary']
df

   Name
0   Joe
1   Jim
2  Mary

In [4]:
df['Weight']=[150,200,130]
df['Reservation Price']=[10.12,15.17,13.25]
df['Percentage Action']=[0.6,0.4,0.7]
df

   Name  Weight  Reservation Price  Percentage Action
0   Joe     150              10.12                0.6
1   Jim     200              15.17                0.4
2  Mary     130              13.25                0.7

In [5]:
df=pd.DataFrame(
    [
    ('Joe',150,10.12,0.6),
    ('Jim',200,15.17,0.4),
    ('Mary',130,13.25,0.7)
],
    columns=['Name','Weight','Reservation Price','Percentage Action']
)
df

   Name  Weight  Reservation Price  Percentage Action
0   Joe     150              10.12                0.6
1   Jim     200              15.17                0.4
2  Mary     130              13.25                0.7

In [6]:
df['Reservation Price']

0    10.12
1    15.17
2    13.25
Name: Reservation Price, dtype: float64

In [7]:
type(df['Reservation Price'])

pandas.core.series.Series

In [8]:
df[['Reservation Price','Weight']]

   Reservation Price  Weight
0              10.12     150
1              15.17     200
2              13.25     130

In [9]:
df.iloc[0]

Name                   Joe
Weight                 150
Reservation Price    10.12
Percentage Action      0.6
Name: 0, dtype: object

In [10]:
df.loc[0,'Reservation Price']

10.12

In [11]:
df[df['Reservation Price']<14]

   Name  Weight  Reservation Price  Percentage Action
0   Joe     150              10.12                0.6
2  Mary     130              13.25                0.7

In [12]:
df[(df['Reservation Price']<14) & (df['Percentage Action']>0.6)]

   Name  Weight  Reservation Price  Percentage Action
2  Mary     130              13.25                0.7

In [13]:
df.loc[(df['Reservation Price']<14) & (df['Percentage Action']>0.6),['Name','Weight']]

   Name  Weight
2  Mary     130

In [14]:
df[['Reservation Price','Weight']]*10

   Reservation Price  Weight
0              101.2    1500
1              151.7    2000
2              132.5    1300

In [15]:
df.describe()

           Weight  Reservation Price  Percentage Action
count    3.000000           3.000000           3.000000
mean   160.000000          12.846667           0.566667
std     36.055513           2.549046           0.152753
min    130.000000          10.120000           0.400000
25%    140.000000          11.685000           0.500000
50%    150.000000          13.250000           0.600000
75%    175.000000          14.210000           0.650000
max    200.000000          15.170000           0.700000

In [16]:
df.std(numeric_only=True)

Weight               36.055513
Reservation Price     2.549046
Percentage Action     0.152753
dtype: float64

In [17]:
df.quantile(0.7)

Weight               170.000
Reservation Price     14.018
Percentage Action      0.640
Name: 0.7, dtype: float64

In [18]:
df.min()

Name                   Jim
Weight                 130
Reservation Price    10.12
Percentage Action      0.4
dtype: object

In [19]:
df.max()

Name                  Mary
Weight                 200
Reservation Price    15.17
Percentage Action      0.7
dtype: object

In [20]:
df.mean(axis=1,numeric_only=True)#average of everyoes values

0    53.573333
1    71.856667
2    47.983333
dtype: float64

In [21]:
def multiply_by_100(value):
    return value * 100
df.apply(multiply_by_100)

,Name,Weight,Reservation Price,Percentage Action
0,JoeJoeJoeJoeJoeJoeJoeJoeJoeJoeJoeJoeJoeJoeJoeJ...,15000,1012.0,60.0
1,JimJimJimJimJimJimJimJimJimJimJimJimJimJimJimJ...,20000,1517.0,40.0
2,MaryMaryMaryMaryMaryMaryMaryMaryMaryMaryMaryMa...,13000,1325.0,70.0

In [22]:
multiply_by_100(5)

500