In [1]:
from dataclasses import dataclass

In [2]:
@dataclass
class ModelInputs:
    starting_salary: int = 60000
    promos_every_n_years: int = 5
    cost_of_living_raised: float = 0.02
    promo_raise: float =0.15
    savings_rate: float =0.25
    interest_rate: float =0.05
    desired_cash: int = 1500000
model_data = ModelInputs()
model_data

ModelInputs(starting_salary=60000, promos_every_n_years=5, cost_of_living_raised=0.02, promo_raise=0.15, savings_rate=0.25, interest_rate=0.05, desired_cash=1500000)

In [3]:
model_data.desired_cash

1500000

In [4]:
data=model_data

In [5]:
data.promo_raise

0.15

In [6]:
years=14
int(years/data.promos_every_n_years)

2

In [7]:
def salary_at_year(data,year):
    num_promos = int(year/data.promos_every_n_years)
    salary_t = data.starting_salary*(1+data.cost_of_living_raised)**year * (1+data.promo_raise)**num_promos
    return salary_t
salary_at_year(data,5)

76181.5754208

In [8]:
for i in range(6):
    year=i+1
    salary=salary_at_year(model_data,year)
    print(f'The salary at year {year} is ${salary:,.0f}')

The salary at year 1 is $61,200
The salary at year 2 is $62,424
The salary at year 3 is $63,672
The salary at year 4 is $64,946
The salary at year 5 is $76,182
The salary at year 6 is $77,705

In [9]:
year=3
def cash_saved_during_year(data,year):
    salary= salary_at_year(data,year)
    cash_saved=salary*data.savings_rate
    return cash_saved
cash_saved_during_year(data,5)

19045.3938552

In [10]:
def wealth_at_year(data,year,prior_wealth):
    cash_saved = cash_saved_during_year(data,year)
    wealth = prior_wealth*(1 + data.interest_rate) + cash_saved
    return wealth

In [11]:
prior_wealth = 0
for i in range(6):
    year = i+1
    wealth = wealth_at_year(data,year,prior_wealth)
    print(f'The wealth at year {year} is ${wealth:.0f}.')
    
    prior_wealth = wealth

The wealth at year 1 is $15300.
The wealth at year 2 is $31671.
The wealth at year 3 is $49173.
The wealth at year 4 is $67868.
The wealth at year 5 is $90307.
The wealth at year 6 is $114248.

In [12]:
prior_wealth = 0
wealth =0
year=0
while wealth < data.desired_cash:
    year = year + 1
    wealth = wealth_at_year(data,year,prior_wealth)
    print(f'The wealth at year {year} is ${wealth:.0f}.')
    
    prior_wealth = wealth
print('\nRetirement:')
print(f'It will take {year} years to retire.')
year

The wealth at year 1 is $15300.
The wealth at year 2 is $31671.
The wealth at year 3 is $49173.
The wealth at year 4 is $67868.
The wealth at year 5 is $90307.
The wealth at year 6 is $114248.
The wealth at year 7 is $139775.
The wealth at year 8 is $166975.
The wealth at year 9 is $195939.
The wealth at year 10 is $229918.
The wealth at year 11 is $266080.
The wealth at year 12 is $304542.
The wealth at year 13 is $345431.
The wealth at year 14 is $388878.
The wealth at year 15 is $439025.
The wealth at year 16 is $492294.
The wealth at year 17 is $548853.
The wealth at year 18 is $608878.
The wealth at year 19 is $672557.
The wealth at year 20 is $745168.
The wealth at year 21 is $822190.
The wealth at year 22 is $903859.
The wealth at year 23 is $990422.
The wealth at year 24 is $1082140.
The wealth at year 25 is $1185745.
The wealth at year 26 is $1295520.
The wealth at year 27 is $1411793.
The wealth at year 28 is $1534910.

Retirement:
It will take 28 years to retire.

28