In [2]:
from dataclasses import dataclass

In [3]:
@dataclass
class ModelInputs:
    starting_salary: int = 60000
    promos_every_n_years: int = 5
    cost_of_living_raised: float = 0.02
    promo_raise: float =0.15
    savings_rate: float =0.25
    interest_rate: float =0.05
    desired_cash: int = 1500000
model_data = ModelInputs()
model_data

ModelInputs(starting_salary=60000, promos_every_n_years=5, cost_of_living_raised=0.02, promo_raise=0.15, savings_rate=0.25, interest_rate=0.05, desired_cash=1500000)

In [4]:
model_data.desired_cash

1500000

In [5]:
data=model_data

In [7]:
data.promo_raise

0.15

In [12]:
years=14
int(years/data.promos_every_n_years)

2

In [19]:
def salary_at_year(data,year):
    num_promos = int(year/data.promos_every_n_years)
    salary_t = data.starting_salary*(1+data.cost_of_living_raised)**year * (1+data.promo_raise)**num_promos
    return salary_t
salary_at_year(data,5)

76181.5754208

In [20]:
for i in range(6):
    year=i+1
    salary=salary_at_year(model_data,year)
    print(f'The salary at year {year} is ${salary:,.0f}')

The salary at year 1 is $61,200
The salary at year 2 is $62,424
The salary at year 3 is $63,672
The salary at year 4 is $64,946
The salary at year 5 is $76,182
The salary at year 6 is $77,705