In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame(
    [
    ('Joe',150,10.12,0.6),
    ('Jim',200,15.17,0.4),
    ('Mary',130,13.25,0.7)
],
    columns=['Name','Weight','Reservation Price','Percentage Action']
)
df

   Name  Weight  Reservation Price  Percentage Action
0   Joe     150              10.12                0.6
1   Jim     200              15.17                0.4
2  Mary     130              13.25                0.7

In [3]:
my_num =10.12
f'${my_num:,.2f}'

'$10.12'

In [4]:
s= df.style.format({
    'Reservation Price':'${:,.2F}'
})
s

In [5]:
type(s)

pandas.io.formats.style.Styler

In [6]:
def set_color_to_blue(value):
    return 'color: blue'
df.style.applymap(set_color_to_blue)

In [7]:
def set_color_to_blue(value):
    return 'background-color: lightgreen'
df.style.applymap(set_color_to_blue)

In [8]:
def highlight_inactive(value):
    #this section needed to handle Name column
    if isinstance(value,str):
        return ''
    #Main logic
    if value <0.5:
        return 'background-color: pink'
    return''
df.style.applymap(highlight_inactive)

In [9]:
df.applymap(highlight_inactive)

  Name Weight Reservation Price       Percentage Action
0
1                                background-color: pink
2

In [10]:
df.style.hide_columns(['Weight'])

In [11]:
df.style.set_caption('My Table')

In [12]:
def hover(hover_color="#ffff99"):
    return dict(selector="tr:hover",
                props=[("background-color", hover_color)])

styles = [
    hover(),
    dict(selector="th", props=[("font-size", "150%"),
                               ("text-align", "center")]),
    dict(selector="caption", props=[("caption-side", "bottom")])
]
df.style.set_table_styles(styles).set_caption("Hover to highlight.")

In [13]:
df.style.bar()

In [14]:
df.style.bar(align='zero',color='lightblue')

In [15]:
df.style.bar(align='zero',color='lightblue',subset=['Reservation Price'])