In [1]:
import yfinance as yf
import pandas as pd
import datetime as dt
from pandas_datareader import data as pdr

In [2]:
asset="TSLA"
df=yf.download(asset,start='2021-03-02',end='2021-07-09',interval="60m")
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-03-01 12:30:00-05:00,714.590027,718.000000,707.559998,709.479980,709.479980,0
2021-03-01 13:30:00-05:00,709.669983,712.200012,704.302673,710.840027,710.840027,2245535
2021-03-01 14:30:00-05:00,710.905029,715.499878,708.679993,712.609985,712.609985,2351321
2021-03-01 15:30:00-05:00,712.645020,719.000000,711.510010,718.429993,718.429993,2371893
2021-03-02 09:30:00-05:00,718.280029,721.109985,702.250000,709.109985,709.109985,6962448
...,...,...,...,...,...,...
2021-07-08 09:30:00-04:00,628.369995,640.274780,620.460022,639.559998,639.559998,8298995
2021-07-08 10:30:00-04:00,639.320007,641.799988,634.580017,639.000000,639.000000,3135138
2021-07-08 11:30:00-04:00,639.000000,646.286011,636.500000,645.290894,645.290894,2657097
2021-07-08 12:30:00-04:00,645.435974,650.719971,644.900024,649.650024,649.650024,2427912
2022-10-07 16:00:00-04:00,223.070007,223.070007,223.070007,223.070007,223.070007,0

In [3]:
df.iloc[2] #has a name

Open         7.109050e+02
High         7.154999e+02
Low          7.086800e+02
Close        7.126100e+02
Adj Close    7.126100e+02
Volume       2.351321e+06
Name: 2021-03-01 14:30:00-05:00, dtype: float64

In [4]:
def Intermonthtrend(df,entry,exit):
    for i in range(len(df)):
        ret_120min=df.iloc[i].Open/df.iloc[0].Open-1
        if ret_120min>0.02:
            break
    #print('1 ',ret_120min)
    tickret=df.Open.pct_change()
    #print('2 ',tickret)
    #print('3 ',i)
    if ret_120min > entry:
        buyprice=df.iloc[i+1].Open
        #print('4 ',buyprice)
        buytime=df.iloc[i+1].name
        #print('5 ',buytime)
        cumulated=(tickret.loc[buytime:]+1).cumprod()-1
        #print('6 ',cumulated)
        exittime=cumulated[(cumulated <-exit) | (cumulated>exit)].first_valid_index()
        #print('7 ',exittime)
        
        if exittime==None:
            exitprice=df.iloc[-1].open
        else:
            exitprice=df.loc[exittime+dt.timedelta(minutes=60)].Open
            #print('7 ',exitprice)
        profit=exitprice-buyprice
        #print('8 ',profit)
        profitret=profit/buyprice
        #print('9 ',profitret)
        #print(profitret)
        return profitret
    
    else:
        return None

In [5]:
df.iloc[25].Open

626.0599975585938

In [6]:
x=Intermonthtrend(df,0.01,0.01)
x

0.014167099384768622