In [1]:
#!python -m pip uinstall binance.client

In [2]:
import pandas as pd
import yfinance as yf
import numpy as np
from pandas.tseries.offsets import MonthBegin

In [3]:
tic=['ETH-USD','BTC-USD']

In [4]:
df=yf.download(tic[1],start='2021-1-1',interval='1mo')
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-01,28994.009766,41946.738281,28722.755859,33114.359375,33114.359375,2153473433571
2021-02-01,33114.578125,58330.570312,32384.228516,45137.769531,45137.769531,2267152936675
2021-03-01,45159.503906,61683.863281,45115.093750,58918.832031,58918.832031,1681184264687
2021-04-01,58926.562500,64863.097656,47159.484375,57750.175781,57750.175781,1844481772417
2021-05-01,57714.664062,59519.355469,30681.496094,37332.855469,37332.855469,1976593438572
2021-06-01,37293.792969,41295.269531,28893.621094,35040.835938,35040.835938,1189647451707
2021-07-01,35035.984375,42235.546875,29360.955078,41626.195312,41626.195312,819103381204
2021-08-01,41460.843750,50482.078125,37458.003906,47166.687500,47166.687500,1014674184428
2021-09-01,47099.773438,52853.765625,39787.609375,43790.894531,43790.894531,1102139678824
2021-10-01,43816.742188,66930.390625,43320.023438,61318.957031,61318.957031,1153077903534
2021-11-01,61320.449219,68789.625000,53569.765625,57005.425781,57005.425781,1053270271383
2021-12-01,56907.964844,59041.683594,42874.617188,46306.445312,46306.445312,957047184722
2022-01-01,46311.746094,47881.406250,33184.058594,38483.125000,38483.125000,923979037681
2022-02-01,38481.765625,45661.171875,34459.218750,43193.234375,43193.234375,671335993325
2022-03-01,43194.503906,48086.835938,37260.203125,45538.675781,45538.675781,830943838435
2022-04-01,45554.164062,47313.476562,37697.941406,37714.875000,37714.875000,830115888649
2022-05-01,37713.265625,39902.949219,26350.490234,31792.310547,31792.310547,1105689315990
2022-06-01,31792.554688,31957.285156,17708.623047,19784.726562,19784.726562,923939211678
2022-07-01,19820.470703,24572.580078,18966.951172,23336.896484,23336.896484,927582363389
2022-08-01,23336.718750,25135.589844,19600.785156,20049.763672,20049.763672,894192654543
2022-09-01,20050.498047,22673.820312,18290.314453,19431.789062,19431.789062,1123272250385
2022-10-01,19431.105469,20988.394531,18319.822266,20495.773438,20495.773438,957903424925
2022-11-01,20494.898438,21446.886719,15599.046875,17168.566406,17168.566406,1224531549126
2022-12-01,17168.001953,18318.531250,16398.136719,16547.496094,16547.496094,541356716034
2023-01-01,16547.914062,21564.501953,16521.234375,20688.781250,20688.781250,356322999036
2023-01-19,20713.824219,20901.675781,20693.292969,20883.093750,20883.093750,27815903232

In [5]:
def getmonthlydata(symbol):
    frame=yf.download(symbol,start='2021-1-1',interval='1mo')
    frame['Time']=frame.index
    frame[symbol]=frame['Close']
    frame=frame.set_index('Time')
    frame.index=pd.to_datetime(frame.index,unit='ms')
    frame=frame[symbol]
    frame=frame.astype(float)
    return(frame)

In [6]:
dfs=[]
for coin in tic:
    dfs.append(getmonthlydata(coin))

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
dfs

[Time
 2021-01-01    1314.986206
 2021-02-01    1416.048950
 2021-03-01    1918.362061
 2021-04-01    2773.207031
 2021-05-01    2714.945312
 2021-06-01    2274.547607
 2021-07-01    2536.209961
 2021-08-01    3433.732666
 2021-09-01    3001.678955
 2021-10-01    4288.074219
 2021-11-01    4631.479004
 2021-12-01    3682.632812
 2022-01-01    2688.278809
 2022-02-01    2919.201172
 2022-03-01    3281.642822
 2022-04-01    2730.186768
 2022-05-01    1942.328003
 2022-06-01    1067.298828
 2022-07-01    1681.517334
 2022-08-01    1553.684937
 2022-09-01    1327.978638
 2022-10-01    1572.714478
 2022-11-01    1295.688599
 2022-12-01    1196.771240
 2023-01-01    1515.506958
 2023-01-19    1537.089355
 Name: ETH-USD, dtype: float64,
 Time
 2021-01-01    33114.359375
 2021-02-01    45137.769531
 2021-03-01    58918.832031
 2021-04-01    57750.175781
 2021-05-01    37332.855469
 2021-06-01    35040.835938
 2021-07-01    41626.195312
 2021-08-01    47166.687500
 2021-09-01    43790.894531
 2021-10-01    61318.957031
 2021-11-01    57005.425781
 2021-12-01    46306.445312
 2022-01-01    38483.125000
 2022-02-01    43193.234375
 2022-03-01    45538.675781
 2022-04-01    37714.875000
 2022-05-01    31792.310547
 2022-06-01    19784.726562
 2022-07-01    23336.896484
 2022-08-01    20049.763672
 2022-09-01    19431.789062
 2022-10-01    20495.773438
 2022-11-01    17168.566406
 2022-12-01    16547.496094
 2023-01-01    20688.781250
 2023-01-19    20883.093750
 Name: BTC-USD, dtype: float64]

In [8]:
mergedf=pd.concat(dfs,axis=1)

In [9]:
mergedf

                ETH-USD       BTC-USD
Time
2021-01-01  1314.986206  33114.359375
2021-02-01  1416.048950  45137.769531
2021-03-01  1918.362061  58918.832031
2021-04-01  2773.207031  57750.175781
2021-05-01  2714.945312  37332.855469
2021-06-01  2274.547607  35040.835938
2021-07-01  2536.209961  41626.195312
2021-08-01  3433.732666  47166.687500
2021-09-01  3001.678955  43790.894531
2021-10-01  4288.074219  61318.957031
2021-11-01  4631.479004  57005.425781
2021-12-01  3682.632812  46306.445312
2022-01-01  2688.278809  38483.125000
2022-02-01  2919.201172  43193.234375
2022-03-01  3281.642822  45538.675781
2022-04-01  2730.186768  37714.875000
2022-05-01  1942.328003  31792.310547
2022-06-01  1067.298828  19784.726562
2022-07-01  1681.517334  23336.896484
2022-08-01  1553.684937  20049.763672
2022-09-01  1327.978638  19431.789062
2022-10-01  1572.714478  20495.773438
2022-11-01  1295.688599  17168.566406
2022-12-01  1196.771240  16547.496094
2023-01-01  1515.506958  20688.781250
2023-01-19  1537.089355  20883.093750

In [10]:
ret_df=mergedf.pct_change()
ret_df

             ETH-USD   BTC-USD
Time
2021-01-01       NaN       NaN
2021-02-01  0.076855  0.363088
2021-03-01  0.354729  0.305311
2021-04-01  0.445612 -0.019835
2021-05-01 -0.021009 -0.353546
2021-06-01 -0.162212 -0.061394
2021-07-01  0.115039  0.187934
2021-08-01  0.353883  0.133101
2021-09-01 -0.125826 -0.071572
2021-10-01  0.428559  0.400267
2021-11-01  0.080084 -0.070346
2021-12-01 -0.204869 -0.187684
2022-01-01 -0.270012 -0.168947
2022-02-01  0.085900  0.122394
2022-03-01  0.124158  0.054301
2022-04-01 -0.168043 -0.171806
2022-05-01 -0.288573 -0.157035
2022-06-01 -0.450505 -0.377688
2022-07-01  0.575489  0.179541
2022-08-01 -0.076022 -0.140856
2022-09-01 -0.145272 -0.030822
2022-10-01  0.184292  0.054755
2022-11-01 -0.176145 -0.162336
2022-12-01 -0.076343 -0.036175
2023-01-01  0.266330  0.250267
2023-01-19  0.014241  0.009392

In [11]:
logret_df=np.log(ret_df+1)
logret_df

             ETH-USD   BTC-USD
Time
2021-01-01       NaN       NaN
2021-02-01  0.074044  0.309752
2021-03-01  0.303601  0.266441
2021-04-01  0.368533 -0.020034
2021-05-01 -0.021233 -0.436253
2021-06-01 -0.176991 -0.063360
2021-07-01  0.108890  0.172216
2021-08-01  0.302977  0.124958
2021-09-01 -0.134476 -0.074262
2021-10-01  0.356666  0.336663
2021-11-01  0.077039 -0.072943
2021-12-01 -0.229248 -0.207865
2022-01-01 -0.314727 -0.185061
2022-02-01  0.082409  0.115464
2022-03-01  0.117034  0.052878
2022-04-01 -0.183974 -0.188507
2022-05-01 -0.340483 -0.170830
2022-06-01 -0.598756 -0.474314
2022-07-01  0.454566  0.165125
2022-08-01 -0.079067 -0.151818
2022-09-01 -0.156972 -0.031307
2022-10-01  0.169145  0.053308
2022-11-01 -0.193761 -0.177139
2022-12-01 -0.079415 -0.036845
2023-01-01  0.236123  0.223357
2023-01-19  0.014141  0.009348

In [12]:
logret_df

             ETH-USD   BTC-USD
Time
2021-01-01       NaN       NaN
2021-02-01  0.074044  0.309752
2021-03-01  0.303601  0.266441
2021-04-01  0.368533 -0.020034
2021-05-01 -0.021233 -0.436253
2021-06-01 -0.176991 -0.063360
2021-07-01  0.108890  0.172216
2021-08-01  0.302977  0.124958
2021-09-01 -0.134476 -0.074262
2021-10-01  0.356666  0.336663
2021-11-01  0.077039 -0.072943
2021-12-01 -0.229248 -0.207865
2022-01-01 -0.314727 -0.185061
2022-02-01  0.082409  0.115464
2022-03-01  0.117034  0.052878
2022-04-01 -0.183974 -0.188507
2022-05-01 -0.340483 -0.170830
2022-06-01 -0.598756 -0.474314
2022-07-01  0.454566  0.165125
2022-08-01 -0.079067 -0.151818
2022-09-01 -0.156972 -0.031307
2022-10-01  0.169145  0.053308
2022-11-01 -0.193761 -0.177139
2022-12-01 -0.079415 -0.036845
2023-01-01  0.236123  0.223357
2023-01-19  0.014141  0.009348

In [13]:
def top_ret(window,top_n,data):
    ret_wd=logret_df.rolling(window).sum()
    ret_s=ret_wd.loc[date]
    top_performers=ret_s.nlargest(top_n)
    pred_ret=ret_df.loc[top_performers.name+MonthBegin(1),top_performers.index].mean()
    return pred_ret

In [14]:
profits=[]

In [15]:
for date in ret_df.index[1:-2]:
    profits.append(top_ret(7,2,date))

In [16]:
profits

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 -0.09869890126563907,
 0.41441293178205874,
 0.004868941194465848,
 -0.19627624285054218,
 -0.21947919907250785,
 0.10414692875634268,
 0.0892294741113504,
 -0.16992415389895615,
 -0.22280422603622357,
 -0.41409683374381534,
 0.37751490085668615,
 -0.10843883126539422,
 -0.088046820496886,
 0.11952341703782332,
 -0.1692406534873237,
 -0.056259157912834645,
 0.25829813383973554]

In [17]:
ret_df['ETH-USD']

Time
2021-01-01         NaN
2021-02-01    0.076855
2021-03-01    0.354729
2021-04-01    0.445612
2021-05-01   -0.021009
2021-06-01   -0.162212
2021-07-01    0.115039
2021-08-01    0.353883
2021-09-01   -0.125826
2021-10-01    0.428559
2021-11-01    0.080084
2021-12-01   -0.204869
2022-01-01   -0.270012
2022-02-01    0.085900
2022-03-01    0.124158
2022-04-01   -0.168043
2022-05-01   -0.288573
2022-06-01   -0.450505
2022-07-01    0.575489
2022-08-01   -0.076022
2022-09-01   -0.145272
2022-10-01    0.184292
2022-11-01   -0.176145
2022-12-01   -0.076343
2023-01-01    0.266330
2023-01-19    0.014241
Name: ETH-USD, dtype: float64

In [18]:
pd.Series(profits).mean()

-0.02207472308539177

In [19]:
matrix=[]
profits=[]
windows=range(1,13)
for window in windows:
    for date in ret_df.index[1:-2]:
         profits.append(top_ret(window,2,date))
    matrix.append(profits)
    profits=[]

In [20]:
all_months=pd.DataFrame(matrix,index=windows)
all_months

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
1,0.33002,0.212888,-0.187277,-0.111803,0.151487,0.243492,-0.098699,0.414413,0.004869,-0.196276,...,-0.169924,-0.222804,-0.414097,0.377515,-0.108439,-0.088047,0.119523,-0.169241,-0.056259,0.258298
2,NaN,0.212888,-0.187277,-0.111803,0.151487,0.243492,-0.098699,0.414413,0.004869,-0.196276,...,-0.169924,-0.222804,-0.414097,0.377515,-0.108439,-0.088047,0.119523,-0.169241,-0.056259,0.258298
3,NaN,NaN,-0.187277,-0.111803,0.151487,0.243492,-0.098699,0.414413,0.004869,-0.196276,...,-0.169924,-0.222804,-0.414097,0.377515,-0.108439,-0.088047,0.119523,-0.169241,-0.056259,0.258298
4,NaN,NaN,NaN,-0.111803,0.151487,0.243492,-0.098699,0.414413,0.004869,-0.196276,...,-0.169924,-0.222804,-0.414097,0.377515,-0.108439,-0.088047,0.119523,-0.169241,-0.056259,0.258298
5,NaN,NaN,NaN,NaN,0.151487,0.243492,-0.098699,0.414413,0.004869,-0.196276,...,-0.169924,-0.222804,-0.414097,0.377515,-0.108439,-0.088047,0.119523,-0.169241,-0.056259,0.258298
6,NaN,NaN,NaN,NaN,NaN,0.243492,-0.098699,0.414413,0.004869,-0.196276,...,-0.169924,-0.222804,-0.414097,0.377515,-0.108439,-0.088047,0.119523,-0.169241,-0.056259,0.258298
7,NaN,NaN,NaN,NaN,NaN,NaN,-0.098699,0.414413,0.004869,-0.196276,...,-0.169924,-0.222804,-0.414097,0.377515,-0.108439,-0.088047,0.119523,-0.169241,-0.056259,0.258298
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.414413,0.004869,-0.196276,...,-0.169924,-0.222804,-0.414097,0.377515,-0.108439,-0.088047,0.119523,-0.169241,-0.056259,0.258298
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.004869,-0.196276,...,-0.169924,-0.222804,-0.414097,0.377515,-0.108439,-0.088047,0.119523,-0.169241,-0.056259,0.258298
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.196276,...,-0.169924,-0.222804,-0.414097,0.377515,-0.108439,-0.088047,0.119523,-0.169241,-0.056259,0.258298
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.169924,-0.222804,-0.414097,0.377515,-0.108439,-0.088047,0.119523,-0.169241,-0.056259,0.258298
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.169924,-0.222804,-0.414097,0.377515,-0.108439,-0.088047,0.119523,-0.169241,-0.056259,0.258298

In [21]:
(all_months + 1).prod(axis=1)-1

1    -0.246533
2    -0.433492
3    -0.532926
4    -0.425298
5    -0.352956
6    -0.438079
7    -0.548111
8    -0.498626
9    -0.645525
10   -0.647242
11   -0.561096
12   -0.437678
dtype: float64