In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import ta

In [2]:
df=yf.download('BTC-USD',start='2022-01-01',interval='1h')

[*********************100%***********************]  1 of 1 completed

In [3]:
df

,Open,High,Low,Close,Adj Close,Volume
2021-12-31 18:00:00+00:00,47056.730469,47066.531250,46706.472656,46711.804688,46711.804688,0
2021-12-31 19:00:00+00:00,46714.722656,46714.722656,45894.710938,45894.710938,45894.710938,916097024
2021-12-31 20:00:00+00:00,45819.953125,46164.007812,45819.953125,46005.335938,46005.335938,854394880
2021-12-31 21:00:00+00:00,45973.988281,46407.808594,45945.445312,46298.363281,46298.363281,2313248768
2021-12-31 22:00:00+00:00,46300.851562,46513.929688,46300.851562,46406.589844,46406.589844,142417920
...,...,...,...,...,...,...
2023-01-30 06:00:00+00:00,23727.181641,23737.990234,23690.900391,23704.287109,23704.287109,62887936
2023-01-30 07:00:00+00:00,23703.281250,23707.785156,23624.406250,23653.941406,23653.941406,221149184
2023-01-30 08:00:00+00:00,23655.265625,23675.697266,23563.728516,23565.150391,23565.150391,526645248
2023-01-30 09:00:00+00:00,23566.371094,23566.371094,23327.933594,23358.853516,23358.853516,878833664
2023-01-30 09:21:00+00:00,23357.951172,23357.951172,23357.951172,23357.951172,23357.951172,0

In [4]:
df['stochrsi_k']=ta.momentum.stochrsi_k(df.Close)
df

,Open,High,Low,Close,Adj Close,Volume,stochrsi_k
2021-12-31 18:00:00+00:00,47056.730469,47066.531250,46706.472656,46711.804688,46711.804688,0,NaN
2021-12-31 19:00:00+00:00,46714.722656,46714.722656,45894.710938,45894.710938,45894.710938,916097024,NaN
2021-12-31 20:00:00+00:00,45819.953125,46164.007812,45819.953125,46005.335938,46005.335938,854394880,NaN
2021-12-31 21:00:00+00:00,45973.988281,46407.808594,45945.445312,46298.363281,46298.363281,2313248768,NaN
2021-12-31 22:00:00+00:00,46300.851562,46513.929688,46300.851562,46406.589844,46406.589844,142417920,NaN
...,...,...,...,...,...,...,...
2023-01-30 06:00:00+00:00,23727.181641,23737.990234,23690.900391,23704.287109,23704.287109,62887936,0.118394
2023-01-30 07:00:00+00:00,23703.281250,23707.785156,23624.406250,23653.941406,23653.941406,221149184,0.075691
2023-01-30 08:00:00+00:00,23655.265625,23675.697266,23563.728516,23565.150391,23565.150391,526645248,0.024904
2023-01-30 09:00:00+00:00,23566.371094,23566.371094,23327.933594,23358.853516,23358.853516,878833664,0.000000
2023-01-30 09:21:00+00:00,23357.951172,23357.951172,23357.951172,23357.951172,23357.951172,0,0.000000

In [5]:
df['stochrsi_d']=ta.momentum.stochrsi_d(df.Close)
df

,Open,High,Low,Close,Adj Close,Volume,stochrsi_k,stochrsi_d
2021-12-31 18:00:00+00:00,47056.730469,47066.531250,46706.472656,46711.804688,46711.804688,0,NaN,NaN
2021-12-31 19:00:00+00:00,46714.722656,46714.722656,45894.710938,45894.710938,45894.710938,916097024,NaN,NaN
2021-12-31 20:00:00+00:00,45819.953125,46164.007812,45819.953125,46005.335938,46005.335938,854394880,NaN,NaN
2021-12-31 21:00:00+00:00,45973.988281,46407.808594,45945.445312,46298.363281,46298.363281,2313248768,NaN,NaN
2021-12-31 22:00:00+00:00,46300.851562,46513.929688,46300.851562,46406.589844,46406.589844,142417920,NaN,NaN
...,...,...,...,...,...,...,...,...
2023-01-30 06:00:00+00:00,23727.181641,23737.990234,23690.900391,23704.287109,23704.287109,62887936,0.118394,0.104319
2023-01-30 07:00:00+00:00,23703.281250,23707.785156,23624.406250,23653.941406,23653.941406,221149184,0.075691,0.105587
2023-01-30 08:00:00+00:00,23655.265625,23675.697266,23563.728516,23565.150391,23565.150391,526645248,0.024904,0.072996
2023-01-30 09:00:00+00:00,23566.371094,23566.371094,23327.933594,23358.853516,23358.853516,878833664,0.000000,0.033532
2023-01-30 09:21:00+00:00,23357.951172,23357.951172,23357.951172,23357.951172,23357.951172,0,0.000000,0.008301

In [6]:
for i in (8,14,50):
    df['EMA_'+str(i)]=ta.trend.ema_indicator(df.Close,window=i)

In [7]:
df

,Open,High,Low,Close,Adj Close,Volume,stochrsi_k,stochrsi_d,EMA_8,EMA_14,EMA_50
2021-12-31 18:00:00+00:00,47056.730469,47066.531250,46706.472656,46711.804688,46711.804688,0,NaN,NaN,NaN,NaN,NaN
2021-12-31 19:00:00+00:00,46714.722656,46714.722656,45894.710938,45894.710938,45894.710938,916097024,NaN,NaN,NaN,NaN,NaN
2021-12-31 20:00:00+00:00,45819.953125,46164.007812,45819.953125,46005.335938,46005.335938,854394880,NaN,NaN,NaN,NaN,NaN
2021-12-31 21:00:00+00:00,45973.988281,46407.808594,45945.445312,46298.363281,46298.363281,2313248768,NaN,NaN,NaN,NaN,NaN
2021-12-31 22:00:00+00:00,46300.851562,46513.929688,46300.851562,46406.589844,46406.589844,142417920,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2023-01-30 06:00:00+00:00,23727.181641,23737.990234,23690.900391,23704.287109,23704.287109,62887936,0.118394,0.104319,23707.977086,23676.403560,23417.928718
2023-01-30 07:00:00+00:00,23703.281250,23707.785156,23624.406250,23653.941406,23653.941406,221149184,0.075691,0.105587,23695.969157,23673.408606,23427.184118
2023-01-30 08:00:00+00:00,23655.265625,23675.697266,23563.728516,23565.150391,23565.150391,526645248,0.024904,0.072996,23666.898320,23658.974177,23432.594560
2023-01-30 09:00:00+00:00,23566.371094,23566.371094,23327.933594,23358.853516,23358.853516,878833664,0.000000,0.033532,23598.443919,23618.958089,23429.702754
2023-01-30 09:21:00+00:00,23357.951172,23357.951172,23357.951172,23357.951172,23357.951172,0,0.000000,0.008301,23545.001086,23584.157167,23426.888967

In [8]:
df['atr']=ta.volatility.average_true_range(df.High,df.Low,df.Close)
df

,Open,High,Low,Close,Adj Close,Volume,stochrsi_k,stochrsi_d,EMA_8,EMA_14,EMA_50,atr
2021-12-31 18:00:00+00:00,47056.730469,47066.531250,46706.472656,46711.804688,46711.804688,0,NaN,NaN,NaN,NaN,NaN,0.000000
2021-12-31 19:00:00+00:00,46714.722656,46714.722656,45894.710938,45894.710938,45894.710938,916097024,NaN,NaN,NaN,NaN,NaN,0.000000
2021-12-31 20:00:00+00:00,45819.953125,46164.007812,45819.953125,46005.335938,46005.335938,854394880,NaN,NaN,NaN,NaN,NaN,0.000000
2021-12-31 21:00:00+00:00,45973.988281,46407.808594,45945.445312,46298.363281,46298.363281,2313248768,NaN,NaN,NaN,NaN,NaN,0.000000
2021-12-31 22:00:00+00:00,46300.851562,46513.929688,46300.851562,46406.589844,46406.589844,142417920,NaN,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-30 06:00:00+00:00,23727.181641,23737.990234,23690.900391,23704.287109,23704.287109,62887936,0.118394,0.104319,23707.977086,23676.403560,23417.928718,87.299354
2023-01-30 07:00:00+00:00,23703.281250,23707.785156,23624.406250,23653.941406,23653.941406,221149184,0.075691,0.105587,23695.969157,23673.408606,23427.184118,87.019322
2023-01-30 08:00:00+00:00,23655.265625,23675.697266,23563.728516,23565.150391,23565.150391,526645248,0.024904,0.072996,23666.898320,23658.974177,23432.594560,88.801424
2023-01-30 09:00:00+00:00,23566.371094,23566.371094,23327.933594,23358.853516,23358.853516,878833664,0.000000,0.033532,23598.443919,23618.958089,23429.702754,99.489715
2023-01-30 09:21:00+00:00,23357.951172,23357.951172,23357.951172,23357.951172,23357.951172,0,0.000000,0.008301,23545.001086,23584.157167,23426.888967,92.447760

In [9]:
df.dropna(inplace=True)
df

,Open,High,Low,Close,Adj Close,Volume,stochrsi_k,stochrsi_d,EMA_8,EMA_14,EMA_50,atr
2022-01-02 19:00:00+00:00,47012.750000,47208.011719,46950.945312,46997.726562,46997.726562,639627264,0.199969,0.516608,47234.305704,47257.026019,47141.234644,261.885358
2022-01-02 20:00:00+00:00,46996.644531,47063.089844,46951.691406,47050.390625,47050.390625,2777321472,0.024192,0.252488,47193.435687,47229.474633,47137.672133,251.136292
2022-01-02 21:00:00+00:00,47052.828125,47152.343750,46989.667969,47047.894531,47047.894531,0,0.047388,0.090516,47161.093208,47205.263953,47134.151443,244.817684
2022-01-02 22:00:00+00:00,47048.480469,47332.085938,47048.480469,47288.203125,47288.203125,148367360,0.179881,0.083820,47189.339856,47216.322509,47140.192685,247.630093
2022-01-02 23:00:00+00:00,47296.281250,47414.335938,47295.910156,47344.843750,47344.843750,0,0.311783,0.179684,47223.896277,47233.458674,47148.218217,238.951716
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-30 06:00:00+00:00,23727.181641,23737.990234,23690.900391,23704.287109,23704.287109,62887936,0.118394,0.104319,23707.977086,23676.403560,23417.928718,87.299354
2023-01-30 07:00:00+00:00,23703.281250,23707.785156,23624.406250,23653.941406,23653.941406,221149184,0.075691,0.105587,23695.969157,23673.408606,23427.184118,87.019322
2023-01-30 08:00:00+00:00,23655.265625,23675.697266,23563.728516,23565.150391,23565.150391,526645248,0.024904,0.072996,23666.898320,23658.974177,23432.594560,88.801424
2023-01-30 09:00:00+00:00,23566.371094,23566.371094,23327.933594,23358.853516,23358.853516,878833664,0.000000,0.033532,23598.443919,23618.958089,23429.702754,99.489715
2023-01-30 09:21:00+00:00,23357.951172,23357.951172,23357.951172,23357.951172,23357.951172,0,0.000000,0.008301,23545.001086,23584.157167,23426.888967,92.447760

In [10]:
def checkcross(df):
    series=np.where(df['stochrsi_k']>df['stochrsi_d'],1,0)
    df['cross']=series
    df['cross']=df['cross'].diff()
    df['cross']=np.where(df['cross']>0,True,False)
    return df

In [11]:
df

,Open,High,Low,Close,Adj Close,Volume,stochrsi_k,stochrsi_d,EMA_8,EMA_14,EMA_50,atr
2022-01-02 19:00:00+00:00,47012.750000,47208.011719,46950.945312,46997.726562,46997.726562,639627264,0.199969,0.516608,47234.305704,47257.026019,47141.234644,261.885358
2022-01-02 20:00:00+00:00,46996.644531,47063.089844,46951.691406,47050.390625,47050.390625,2777321472,0.024192,0.252488,47193.435687,47229.474633,47137.672133,251.136292
2022-01-02 21:00:00+00:00,47052.828125,47152.343750,46989.667969,47047.894531,47047.894531,0,0.047388,0.090516,47161.093208,47205.263953,47134.151443,244.817684
2022-01-02 22:00:00+00:00,47048.480469,47332.085938,47048.480469,47288.203125,47288.203125,148367360,0.179881,0.083820,47189.339856,47216.322509,47140.192685,247.630093
2022-01-02 23:00:00+00:00,47296.281250,47414.335938,47295.910156,47344.843750,47344.843750,0,0.311783,0.179684,47223.896277,47233.458674,47148.218217,238.951716
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-30 06:00:00+00:00,23727.181641,23737.990234,23690.900391,23704.287109,23704.287109,62887936,0.118394,0.104319,23707.977086,23676.403560,23417.928718,87.299354
2023-01-30 07:00:00+00:00,23703.281250,23707.785156,23624.406250,23653.941406,23653.941406,221149184,0.075691,0.105587,23695.969157,23673.408606,23427.184118,87.019322
2023-01-30 08:00:00+00:00,23655.265625,23675.697266,23563.728516,23565.150391,23565.150391,526645248,0.024904,0.072996,23666.898320,23658.974177,23432.594560,88.801424
2023-01-30 09:00:00+00:00,23566.371094,23566.371094,23327.933594,23358.853516,23358.853516,878833664,0.000000,0.033532,23598.443919,23618.958089,23429.702754,99.489715
2023-01-30 09:21:00+00:00,23357.951172,23357.951172,23357.951172,23357.951172,23357.951172,0,0.000000,0.008301,23545.001086,23584.157167,23426.888967,92.447760

In [12]:
df['stochrsi_k']>df['stochrsi_d']

2022-01-02 19:00:00+00:00    False
2022-01-02 20:00:00+00:00    False
2022-01-02 21:00:00+00:00    False
2022-01-02 22:00:00+00:00     True
2022-01-02 23:00:00+00:00     True
                             ...
2023-01-30 06:00:00+00:00     True
2023-01-30 07:00:00+00:00    False
2023-01-30 08:00:00+00:00    False
2023-01-30 09:00:00+00:00    False
2023-01-30 09:21:00+00:00    False
Length: 9414, dtype: bool

In [13]:
df=checkcross(df)

In [14]:
df# at 2022-01-04 21:00:00+00:00 stochrsi_k > stochrsi_d but that is not the case at 2022-01-04 20:00:00+00:00

,Open,High,Low,Close,Adj Close,Volume,stochrsi_k,stochrsi_d,EMA_8,EMA_14,EMA_50,atr,cross
2022-01-02 19:00:00+00:00,47012.750000,47208.011719,46950.945312,46997.726562,46997.726562,639627264,0.199969,0.516608,47234.305704,47257.026019,47141.234644,261.885358,False
2022-01-02 20:00:00+00:00,46996.644531,47063.089844,46951.691406,47050.390625,47050.390625,2777321472,0.024192,0.252488,47193.435687,47229.474633,47137.672133,251.136292,False
2022-01-02 21:00:00+00:00,47052.828125,47152.343750,46989.667969,47047.894531,47047.894531,0,0.047388,0.090516,47161.093208,47205.263953,47134.151443,244.817684,False
2022-01-02 22:00:00+00:00,47048.480469,47332.085938,47048.480469,47288.203125,47288.203125,148367360,0.179881,0.083820,47189.339856,47216.322509,47140.192685,247.630093,True
2022-01-02 23:00:00+00:00,47296.281250,47414.335938,47295.910156,47344.843750,47344.843750,0,0.311783,0.179684,47223.896277,47233.458674,47148.218217,238.951716,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-30 06:00:00+00:00,23727.181641,23737.990234,23690.900391,23704.287109,23704.287109,62887936,0.118394,0.104319,23707.977086,23676.403560,23417.928718,87.299354,False
2023-01-30 07:00:00+00:00,23703.281250,23707.785156,23624.406250,23653.941406,23653.941406,221149184,0.075691,0.105587,23695.969157,23673.408606,23427.184118,87.019322,False
2023-01-30 08:00:00+00:00,23655.265625,23675.697266,23563.728516,23565.150391,23565.150391,526645248,0.024904,0.072996,23666.898320,23658.974177,23432.594560,88.801424,False
2023-01-30 09:00:00+00:00,23566.371094,23566.371094,23327.933594,23358.853516,23358.853516,878833664,0.000000,0.033532,23598.443919,23618.958089,23429.702754,99.489715,False
2023-01-30 09:21:00+00:00,23357.951172,23357.951172,23357.951172,23357.951172,23357.951172,0,0.000000,0.008301,23545.001086,23584.157167,23426.888967,92.447760,False

In [15]:
df['TP']=df.Close+(df.atr*2)

In [16]:
df['SL']=df.Close-(df.atr*3)
df

,Open,High,Low,Close,Adj Close,Volume,stochrsi_k,stochrsi_d,EMA_8,EMA_14,EMA_50,atr,cross,TP,SL
2022-01-02 19:00:00+00:00,47012.750000,47208.011719,46950.945312,46997.726562,46997.726562,639627264,0.199969,0.516608,47234.305704,47257.026019,47141.234644,261.885358,False,47521.497278,46212.070489
2022-01-02 20:00:00+00:00,46996.644531,47063.089844,46951.691406,47050.390625,47050.390625,2777321472,0.024192,0.252488,47193.435687,47229.474633,47137.672133,251.136292,False,47552.663209,46296.981749
2022-01-02 21:00:00+00:00,47052.828125,47152.343750,46989.667969,47047.894531,47047.894531,0,0.047388,0.090516,47161.093208,47205.263953,47134.151443,244.817684,False,47537.529900,46313.441479
2022-01-02 22:00:00+00:00,47048.480469,47332.085938,47048.480469,47288.203125,47288.203125,148367360,0.179881,0.083820,47189.339856,47216.322509,47140.192685,247.630093,True,47783.463311,46545.312846
2022-01-02 23:00:00+00:00,47296.281250,47414.335938,47295.910156,47344.843750,47344.843750,0,0.311783,0.179684,47223.896277,47233.458674,47148.218217,238.951716,False,47822.747182,46627.988603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-30 06:00:00+00:00,23727.181641,23737.990234,23690.900391,23704.287109,23704.287109,62887936,0.118394,0.104319,23707.977086,23676.403560,23417.928718,87.299354,False,23878.885818,23442.389047
2023-01-30 07:00:00+00:00,23703.281250,23707.785156,23624.406250,23653.941406,23653.941406,221149184,0.075691,0.105587,23695.969157,23673.408606,23427.184118,87.019322,False,23827.980051,23392.883440
2023-01-30 08:00:00+00:00,23655.265625,23675.697266,23563.728516,23565.150391,23565.150391,526645248,0.024904,0.072996,23666.898320,23658.974177,23432.594560,88.801424,False,23742.753239,23298.746118
2023-01-30 09:00:00+00:00,23566.371094,23566.371094,23327.933594,23358.853516,23358.853516,878833664,0.000000,0.033532,23598.443919,23618.958089,23429.702754,99.489715,False,23557.832946,23060.384370
2023-01-30 09:21:00+00:00,23357.951172,23357.951172,23357.951172,23357.951172,23357.951172,0,0.000000,0.008301,23545.001086,23584.157167,23426.888967,92.447760,False,23542.846692,23080.607891

In [17]:
df['Buysignals']=np.where((df.cross)&
                          (df.Close>df.EMA_8)
                          &(df.EMA_8>df.EMA_14)
                          &(df.EMA_14>df.EMA_50),1,0)

In [18]:
df[df.Buysignals==1]

,Open,High,Low,Close,Adj Close,Volume,stochrsi_k,stochrsi_d,EMA_8,EMA_14,EMA_50,atr,cross,TP,SL,Buysignals
2022-01-11 16:00:00+00:00,41721.941406,42782.371094,41721.941406,42727.378906,42727.378906,0,0.392136,0.185734,41997.838922,41944.869975,41872.500103,352.651301,True,43432.681508,41669.425004,1
2022-01-12 00:00:00+00:00,42742.179688,42918.714844,42664.984375,42737.199219,42737.199219,176791552,0.767205,0.766941,42643.632489,42488.949130,42110.246821,299.468835,True,43336.136889,41838.792714,1
2022-01-12 09:00:00+00:00,42625.992188,42875.132812,42611.968750,42778.679688,42778.679688,224499712,0.295671,0.194619,42658.264331,42604.909371,42270.137510,229.828208,True,43238.336103,42089.195064,1
2022-01-12 21:00:00+00:00,43855.277344,44135.367188,43832.601562,43832.601562,43832.601562,2086070272,0.527612,0.524891,43679.084919,43483.429791,42777.162622,266.240734,True,44365.083031,43033.879360,1
2022-01-13 13:00:00+00:00,43774.281250,43882.929688,43723.910156,43859.609375,43859.609375,2842075136,0.318197,0.304109,43775.662025,43733.491152,43235.615619,188.625345,True,44236.860065,43293.733339,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-27 14:00:00+00:00,22915.447266,23037.753906,22880.603516,23001.648438,23001.648438,0,0.727037,0.703412,22958.174590,22957.997742,22948.344274,104.649034,True,23210.946505,22687.701337,1
2023-01-28 00:00:00+00:00,23079.964844,23165.896484,23059.410156,23155.417969,23155.417969,0,0.337645,0.321692,23104.737762,23082.332292,23006.510260,110.208817,True,23375.835603,22824.791517,1
2023-01-29 05:00:00+00:00,23229.044922,23240.240234,23205.412109,23240.240234,23240.240234,0,0.706308,0.688312,23165.232306,23124.504981,23055.074114,80.131402,True,23400.503038,22999.846029,1
2023-01-29 09:00:00+00:00,23178.701172,23335.513672,23177.531250,23301.685547,23301.685547,582174720,0.637610,0.625409,23209.565765,23171.122964,23080.675769,77.912134,True,23457.509815,23067.949144,1
2023-01-29 17:00:00+00:00,23591.099609,23625.316406,23573.179688,23592.787109,23592.787109,464596992,0.953239,0.935335,23504.038825,23421.380304,23202.632417,84.127965,True,23761.043039,23340.403215,1

In [19]:
df.iloc[0]

Open              47012.75
High          47208.011719
Low           46950.945312
Close         46997.726562
Adj Close     46997.726562
Volume           639627264
stochrsi_k        0.199969
stochrsi_d        0.516608
EMA_8         47234.305704
EMA_14        47257.026019
EMA_50        47141.234644
atr             261.885358
cross                False
TP            47521.497278
SL            46212.070489
Buysignals               0
Name: 2022-01-02 19:00:00+00:00, dtype: object

In [20]:
df.iloc[0].name

Timestamp('2022-01-02 19:00:00+0000', tz='UTC')

In [21]:
selldates=[]
outcome=[]
for i in range(len(df)):
    if df.Buysignals.iloc[i]:
        k=1
        SL=df.SL.iloc[i]
        TP=df.TP.iloc[i]
        in_position=True
        while in_position:
            loop_close=df.Close.iloc[i+k]
            if loop_close>=TP:
                selldates.append(df.iloc[i+k].name)
                outcome.append('TP')
                in_position=False#Escaping the while loop
            elif loop_close<=SL:
                selldates.append(df.iloc[i+k].name)
                outcome.append('SL')
                in_position=False#Escaping the while loop
            k+=1

In [22]:
selldates

[Timestamp('2022-01-12 13:00:00+0000', tz='UTC'),
 Timestamp('2022-01-12 13:00:00+0000', tz='UTC'),
 Timestamp('2022-01-12 13:00:00+0000', tz='UTC'),
 Timestamp('2022-01-13 17:00:00+0000', tz='UTC'),
 Timestamp('2022-01-13 15:00:00+0000', tz='UTC'),
 Timestamp('2022-01-15 19:00:00+0000', tz='UTC'),
 Timestamp('2022-01-15 20:00:00+0000', tz='UTC'),
 Timestamp('2022-01-17 15:00:00+0000', tz='UTC'),
 Timestamp('2022-01-20 21:00:00+0000', tz='UTC'),
 Timestamp('2022-01-25 18:00:00+0000', tz='UTC'),
 Timestamp('2022-01-26 04:00:00+0000', tz='UTC'),
 Timestamp('2022-01-26 14:00:00+0000', tz='UTC'),
 Timestamp('2022-01-26 21:00:00+0000', tz='UTC'),
 Timestamp('2022-01-26 20:00:00+0000', tz='UTC'),
 Timestamp('2022-01-29 13:00:00+0000', tz='UTC'),
 Timestamp('2022-01-28 21:00:00+0000', tz='UTC'),
 Timestamp('2022-01-29 20:00:00+0000', tz='UTC'),
 Timestamp('2022-01-29 20:00:00+0000', tz='UTC'),
 Timestamp('2022-01-29 21:00:00+0000', tz='UTC'),
 Timestamp('2022-01-31 00:00:00+0000', tz='UTC'),
 Timestamp('2022-01-31 00:00:00+0000', tz='UTC'),
 Timestamp('2022-02-01 16:00:00+0000', tz='UTC'),
 Timestamp('2022-02-02 14:00:00+0000', tz='UTC'),
 Timestamp('2022-02-02 14:00:00+0000', tz='UTC'),
 Timestamp('2022-02-02 14:00:00+0000', tz='UTC'),
 Timestamp('2022-02-04 16:00:00+0000', tz='UTC'),
 Timestamp('2022-02-06 23:00:00+0000', tz='UTC'),
 Timestamp('2022-02-06 23:00:00+0000', tz='UTC'),
 Timestamp('2022-02-06 23:00:00+0000', tz='UTC'),
 Timestamp('2022-02-06 23:00:00+0000', tz='UTC'),
 Timestamp('2022-02-06 23:00:00+0000', tz='UTC'),
 Timestamp('2022-02-06 23:00:00+0000', tz='UTC'),
 Timestamp('2022-02-06 23:00:00+0000', tz='UTC'),
 Timestamp('2022-02-06 23:00:00+0000', tz='UTC'),
 Timestamp('2022-02-06 23:00:00+0000', tz='UTC'),
 Timestamp('2022-02-07 14:00:00+0000', tz='UTC'),
 Timestamp('2022-02-07 15:00:00+0000', tz='UTC'),
 Timestamp('2022-02-07 14:00:00+0000', tz='UTC'),
 Timestamp('2022-02-08 05:00:00+0000', tz='UTC'),
 Timestamp('2022-02-10 11:00:00+0000', tz='UTC'),
 Timestamp('2022-02-10 21:00:00+0000', tz='UTC'),
 Timestamp('2022-02-15 10:00:00+0000', tz='UTC'),
 Timestamp('2022-02-15 23:00:00+0000', tz='UTC'),
 Timestamp('2022-02-16 14:00:00+0000', tz='UTC'),
 Timestamp('2022-02-16 14:00:00+0000', tz='UTC'),
 Timestamp('2022-02-17 09:00:00+0000', tz='UTC'),
 Timestamp('2022-02-26 00:00:00+0000', tz='UTC'),
 Timestamp('2022-02-26 00:00:00+0000', tz='UTC'),
 Timestamp('2022-02-27 19:00:00+0000', tz='UTC'),
 Timestamp('2022-02-28 20:00:00+0000', tz='UTC'),
 Timestamp('2022-03-01 12:00:00+0000', tz='UTC'),
 Timestamp('2022-03-01 12:00:00+0000', tz='UTC'),
 Timestamp('2022-03-01 12:00:00+0000', tz='UTC'),
 Timestamp('2022-03-03 16:00:00+0000', tz='UTC'),
 Timestamp('2022-03-03 15:00:00+0000', tz='UTC'),
 Timestamp('2022-03-03 15:00:00+0000', tz='UTC'),
 Timestamp('2022-03-03 15:00:00+0000', tz='UTC'),
 Timestamp('2022-03-03 03:00:00+0000', tz='UTC'),
 Timestamp('2022-03-10 02:00:00+0000', tz='UTC'),
 Timestamp('2022-03-10 01:00:00+0000', tz='UTC'),
 Timestamp('2022-03-16 03:00:00+0000', tz='UTC'),
 Timestamp('2022-03-16 09:00:00+0000', tz='UTC'),
 Timestamp('2022-03-18 16:00:00+0000', tz='UTC'),
 Timestamp('2022-03-18 18:00:00+0000', tz='UTC'),
 Timestamp('2022-03-19 15:00:00+0000', tz='UTC'),
 Timestamp('2022-03-18 17:00:00+0000', tz='UTC'),
 Timestamp('2022-03-20 09:00:00+0000', tz='UTC'),
 Timestamp('2022-03-24 15:00:00+0000', tz='UTC'),
 Timestamp('2022-03-24 00:00:00+0000', tz='UTC'),
 Timestamp('2022-03-23 23:00:00+0000', tz='UTC'),
 Timestamp('2022-03-24 15:00:00+0000', tz='UTC'),
 Timestamp('2022-03-24 15:00:00+0000', tz='UTC'),
 Timestamp('2022-03-25 11:00:00+0000', tz='UTC'),
 Timestamp('2022-03-25 11:00:00+0000', tz='UTC'),
 Timestamp('2022-03-25 11:00:00+0000', tz='UTC'),
 Timestamp('2022-03-27 15:00:00+0000', tz='UTC'),
 Timestamp('2022-03-27 20:00:00+0000', tz='UTC'),
 Timestamp('2022-03-27 20:00:00+0000', tz='UTC'),
 Timestamp('2022-03-27 16:00:00+0000', tz='UTC'),
 Timestamp('2022-03-28 04:00:00+0000', tz='UTC'),
 Timestamp('2022-03-28 13:00:00+0000', tz='UTC'),
 Timestamp('2022-03-30 01:00:00+0000', tz='UTC'),
 Timestamp('2022-03-28 23:00:00+0000', tz='UTC'),
 Timestamp('2022-03-31 14:00:00+0000', tz='UTC'),
 Timestamp('2022-03-30 01:00:00+0000', tz='UTC'),
 Timestamp('2022-03-30 01:00:00+0000', tz='UTC'),
 Timestamp('2022-03-30 01:00:00+0000', tz='UTC'),
 Timestamp('2022-04-02 18:00:00+0000', tz='UTC'),
 Timestamp('2022-04-02 18:00:00+0000', tz='UTC'),
 Timestamp('2022-04-02 18:00:00+0000', tz='UTC'),
 Timestamp('2022-04-04 00:00:00+0000', tz='UTC'),
 Timestamp('2022-04-05 14:00:00+0000', tz='UTC'),
 Timestamp('2022-04-05 14:00:00+0000', tz='UTC'),
 Timestamp('2022-04-14 15:00:00+0000', tz='UTC'),
 Timestamp('2022-04-14 13:00:00+0000', tz='UTC'),
 Timestamp('2022-04-14 13:00:00+0000', tz='UTC'),
 Timestamp('2022-04-14 14:00:00+0000', tz='UTC'),
 Timestamp('2022-04-19 13:00:00+0000', tz='UTC'),
 Timestamp('2022-04-19 13:00:00+0000', tz='UTC'),
 Timestamp('2022-04-20 11:00:00+0000', tz='UTC'),
 Timestamp('2022-04-20 10:00:00+0000', tz='UTC'),
 Timestamp('2022-04-20 11:00:00+0000', tz='UTC'),
 Timestamp('2022-04-21 10:00:00+0000', tz='UTC'),
 Timestamp('2022-04-21 17:00:00+0000', tz='UTC'),
 Timestamp('2022-04-26 14:00:00+0000', tz='UTC'),
 Timestamp('2022-04-26 14:00:00+0000', tz='UTC'),
 Timestamp('2022-04-28 17:00:00+0000', tz='UTC'),
 Timestamp('2022-04-29 10:00:00+0000', tz='UTC'),
 Timestamp('2022-04-29 10:00:00+0000', tz='UTC'),
 Timestamp('2022-05-02 18:00:00+0000', tz='UTC'),
 Timestamp('2022-05-02 18:00:00+0000', tz='UTC'),
 Timestamp('2022-05-04 18:00:00+0000', tz='UTC'),
 Timestamp('2022-05-14 13:00:00+0000', tz='UTC'),
 Timestamp('2022-05-15 20:00:00+0000', tz='UTC'),
 Timestamp('2022-05-20 15:00:00+0000', tz='UTC'),
 Timestamp('2022-05-20 15:00:00+0000', tz='UTC'),
 Timestamp('2022-05-23 06:00:00+0000', tz='UTC'),
 Timestamp('2022-05-23 19:00:00+0000', tz='UTC'),
 Timestamp('2022-05-23 19:00:00+0000', tz='UTC'),
 Timestamp('2022-05-26 08:00:00+0000', tz='UTC'),
 Timestamp('2022-05-26 08:00:00+0000', tz='UTC'),
 Timestamp('2022-05-29 12:00:00+0000', tz='UTC'),
 Timestamp('2022-05-30 02:00:00+0000', tz='UTC'),
 Timestamp('2022-05-30 20:00:00+0000', tz='UTC'),
 Timestamp('2022-05-30 20:00:00+0000', tz='UTC'),
 Timestamp('2022-05-30 21:00:00+0000', tz='UTC'),
 Timestamp('2022-05-31 15:00:00+0000', tz='UTC'),
 Timestamp('2022-06-01 14:00:00+0000', tz='UTC'),
 Timestamp('2022-06-01 15:00:00+0000', tz='UTC'),
 Timestamp('2022-06-06 01:00:00+0000', tz='UTC'),
 Timestamp('2022-06-06 01:00:00+0000', tz='UTC'),
 Timestamp('2022-06-07 00:00:00+0000', tz='UTC'),
 Timestamp('2022-06-07 00:00:00+0000', tz='UTC'),
 Timestamp('2022-06-21 07:00:00+0000', tz='UTC'),
 Timestamp('2022-06-21 13:00:00+0000', tz='UTC'),
 Timestamp('2022-06-21 06:00:00+0000', tz='UTC'),
 Timestamp('2022-06-21 08:00:00+0000', tz='UTC'),
 Timestamp('2022-06-21 22:00:00+0000', tz='UTC'),
 Timestamp('2022-06-26 11:00:00+0000', tz='UTC'),
 Timestamp('2022-06-25 07:00:00+0000', tz='UTC'),
 Timestamp('2022-06-26 11:00:00+0000', tz='UTC'),
 Timestamp('2022-06-26 11:00:00+0000', tz='UTC'),
 Timestamp('2022-06-25 15:00:00+0000', tz='UTC'),
 Timestamp('2022-06-26 11:00:00+0000', tz='UTC'),
 Timestamp('2022-06-26 15:00:00+0000', tz='UTC'),
 Timestamp('2022-07-04 22:00:00+0000', tz='UTC'),
 Timestamp('2022-07-05 11:00:00+0000', tz='UTC'),
 Timestamp('2022-07-05 08:00:00+0000', tz='UTC'),
 Timestamp('2022-07-06 23:00:00+0000', tz='UTC'),
 Timestamp('2022-07-06 22:00:00+0000', tz='UTC'),
 Timestamp('2022-07-07 14:00:00+0000', tz='UTC'),
 Timestamp('2022-07-07 14:00:00+0000', tz='UTC'),
 Timestamp('2022-07-07 18:00:00+0000', tz='UTC'),
 Timestamp('2022-07-08 01:00:00+0000', tz='UTC'),
 Timestamp('2022-07-08 01:00:00+0000', tz='UTC'),
 Timestamp('2022-07-10 13:00:00+0000', tz='UTC'),
 Timestamp('2022-07-15 19:00:00+0000', tz='UTC'),
 Timestamp('2022-07-16 16:00:00+0000', tz='UTC'),
 Timestamp('2022-07-17 23:00:00+0000', tz='UTC'),
 Timestamp('2022-07-18 17:00:00+0000', tz='UTC'),
 Timestamp('2022-07-19 15:00:00+0000', tz='UTC'),
 Timestamp('2022-07-20 14:00:00+0000', tz='UTC'),
 Timestamp('2022-07-21 02:00:00+0000', tz='UTC'),
 Timestamp('2022-07-22 11:00:00+0000', tz='UTC'),
 Timestamp('2022-07-22 11:00:00+0000', tz='UTC'),
 Timestamp('2022-07-25 00:00:00+0000', tz='UTC'),
 Timestamp('2022-07-28 15:00:00+0000', tz='UTC'),
 Timestamp('2022-07-30 13:00:00+0000', tz='UTC'),
 Timestamp('2022-07-30 13:00:00+0000', tz='UTC'),
 Timestamp('2022-07-30 13:00:00+0000', tz='UTC'),
 Timestamp('2022-07-31 22:00:00+0000', tz='UTC'),
 Timestamp('2022-07-30 13:00:00+0000', tz='UTC'),
 Timestamp('2022-07-30 13:00:00+0000', tz='UTC'),
 Timestamp('2022-07-30 13:00:00+0000', tz='UTC'),
 Timestamp('2022-07-30 22:00:00+0000', tz='UTC'),
 Timestamp('2022-07-30 19:00:00+0000', tz='UTC'),
 Timestamp('2022-08-03 22:00:00+0000', tz='UTC'),
 Timestamp('2022-08-05 17:00:00+0000', tz='UTC'),
 Timestamp('2022-08-08 05:00:00+0000', tz='UTC'),
 Timestamp('2022-08-06 23:00:00+0000', tz='UTC'),
 Timestamp('2022-08-06 23:00:00+0000', tz='UTC'),
 Timestamp('2022-08-08 05:00:00+0000', tz='UTC'),
 Timestamp('2022-08-08 06:00:00+0000', tz='UTC'),
 Timestamp('2022-08-08 06:00:00+0000', tz='UTC'),
 Timestamp('2022-08-08 21:00:00+0000', tz='UTC'),
 Timestamp('2022-08-09 09:00:00+0000', tz='UTC'),
 Timestamp('2022-08-11 01:00:00+0000', tz='UTC'),
 Timestamp('2022-08-11 12:00:00+0000', tz='UTC'),
 Timestamp('2022-08-11 22:00:00+0000', tz='UTC'),
 Timestamp('2022-08-11 18:00:00+0000', tz='UTC'),
 Timestamp('2022-08-13 03:00:00+0000', tz='UTC'),
 Timestamp('2022-08-14 07:00:00+0000', tz='UTC'),
 Timestamp('2022-08-26 15:00:00+0000', tz='UTC'),
 Timestamp('2022-08-26 15:00:00+0000', tz='UTC'),
 Timestamp('2022-08-26 15:00:00+0000', tz='UTC'),
 Timestamp('2022-08-26 11:00:00+0000', tz='UTC'),
 Timestamp('2022-08-26 11:00:00+0000', tz='UTC'),
 Timestamp('2022-08-26 07:00:00+0000', tz='UTC'),
 Timestamp('2022-08-30 04:00:00+0000', tz='UTC'),
 Timestamp('2022-08-30 14:00:00+0000', tz='UTC'),
 Timestamp('2022-09-01 07:00:00+0000', tz='UTC'),
 Timestamp('2022-09-02 17:00:00+0000', tz='UTC'),
 Timestamp('2022-09-09 03:00:00+0000', tz='UTC'),
 Timestamp('2022-09-09 03:00:00+0000', tz='UTC'),
 Timestamp('2022-09-09 03:00:00+0000', tz='UTC'),
 Timestamp('2022-09-10 22:00:00+0000', tz='UTC'),
 Timestamp('2022-09-10 22:00:00+0000', tz='UTC'),
 Timestamp('2022-09-12 01:00:00+0000', tz='UTC'),
 Timestamp('2022-09-12 01:00:00+0000', tz='UTC'),
 Timestamp('2022-09-12 01:00:00+0000', tz='UTC'),
 Timestamp('2022-09-12 07:00:00+0000', tz='UTC'),
 Timestamp('2022-09-13 12:00:00+0000', tz='UTC'),
 Timestamp('2022-09-13 12:00:00+0000', tz='UTC'),
 Timestamp('2022-09-13 12:00:00+0000', tz='UTC'),
 Timestamp('2022-09-13 12:00:00+0000', tz='UTC'),
 Timestamp('2022-09-18 09:00:00+0000', tz='UTC'),
 Timestamp('2022-09-21 19:00:00+0000', tz='UTC'),
 Timestamp('2022-09-23 11:00:00+0000', tz='UTC'),
 Timestamp('2022-09-23 10:00:00+0000', tz='UTC'),
 Timestamp('2022-09-26 06:00:00+0000', tz='UTC'),
 Timestamp('2022-09-25 21:00:00+0000', tz='UTC'),
 Timestamp('2022-09-25 21:00:00+0000', tz='UTC'),
 Timestamp('2022-09-25 21:00:00+0000', tz='UTC'),
 Timestamp('2022-09-27 01:00:00+0000', tz='UTC'),
 Timestamp('2022-09-27 01:00:00+0000', tz='UTC'),
 Timestamp('2022-09-27 01:00:00+0000', tz='UTC'),
 Timestamp('2022-09-27 16:00:00+0000', tz='UTC'),
 Timestamp('2022-09-27 16:00:00+0000', tz='UTC'),
 Timestamp('2022-09-29 13:00:00+0000', tz='UTC'),
 Timestamp('2022-09-29 13:00:00+0000', tz='UTC'),
 Timestamp('2022-09-30 14:00:00+0000', tz='UTC'),
 Timestamp('2022-09-30 14:00:00+0000', tz='UTC'),
 Timestamp('2022-09-30 20:00:00+0000', tz='UTC'),
 Timestamp('2022-10-03 18:00:00+0000', tz='UTC'),
 Timestamp('2022-10-04 13:00:00+0000', tz='UTC'),
 Timestamp('2022-10-04 20:00:00+0000', tz='UTC'),
 Timestamp('2022-10-05 13:00:00+0000', tz='UTC'),
 Timestamp('2022-10-07 06:00:00+0000', tz='UTC'),
 Timestamp('2022-10-14 01:00:00+0000', tz='UTC'),
 Timestamp('2022-10-14 14:00:00+0000', tz='UTC'),
 Timestamp('2022-10-17 10:00:00+0000', tz='UTC'),
 Timestamp('2022-10-17 11:00:00+0000', tz='UTC'),
 Timestamp('2022-10-18 18:00:00+0000', tz='UTC'),
 Timestamp('2022-10-18 15:00:00+0000', tz='UTC'),
 Timestamp('2022-10-18 15:00:00+0000', tz='UTC'),
 Timestamp('2022-10-23 17:00:00+0000', tz='UTC'),
 Timestamp('2022-10-23 17:00:00+0000', tz='UTC'),
 Timestamp('2022-10-23 17:00:00+0000', tz='UTC'),
 Timestamp('2022-10-23 17:00:00+0000', tz='UTC'),
 Timestamp('2022-10-26 08:00:00+0000', tz='UTC'),
 Timestamp('2022-10-27 20:00:00+0000', tz='UTC'),
 Timestamp('2022-10-27 20:00:00+0000', tz='UTC'),
 Timestamp('2022-10-27 13:00:00+0000', tz='UTC'),
 Timestamp('2022-10-29 09:00:00+0000', tz='UTC'),
 Timestamp('2022-10-29 08:00:00+0000', tz='UTC'),
 Timestamp('2022-10-31 02:00:00+0000', tz='UTC'),
 Timestamp('2022-10-30 16:00:00+0000', tz='UTC'),
 Timestamp('2022-11-04 14:00:00+0000', tz='UTC'),
 Timestamp('2022-11-05 00:00:00+0000', tz='UTC'),
 Timestamp('2022-11-06 23:00:00+0000', tz='UTC'),
 Timestamp('2022-11-06 23:00:00+0000', tz='UTC'),
 Timestamp('2022-11-06 22:00:00+0000', tz='UTC'),
 Timestamp('2022-11-16 14:00:00+0000', tz='UTC'),
 Timestamp('2022-11-16 13:00:00+0000', tz='UTC'),
 Timestamp('2022-11-16 14:00:00+0000', tz='UTC'),
 Timestamp('2022-11-16 13:00:00+0000', tz='UTC'),
 Timestamp('2022-11-18 16:00:00+0000', tz='UTC'),
 Timestamp('2022-11-20 08:00:00+0000', tz='UTC'),
 Timestamp('2022-11-24 01:00:00+0000', tz='UTC'),
 Timestamp('2022-11-24 01:00:00+0000', tz='UTC'),
 Timestamp('2022-11-24 01:00:00+0000', tz='UTC'),
 Timestamp('2022-11-26 01:00:00+0000', tz='UTC'),
 Timestamp('2022-11-28 01:00:00+0000', tz='UTC'),
 Timestamp('2022-11-26 18:00:00+0000', tz='UTC'),
 Timestamp('2022-11-28 01:00:00+0000', tz='UTC'),
 Timestamp('2022-11-27 23:00:00+0000', tz='UTC'),
 Timestamp('2022-11-30 00:00:00+0000', tz='UTC'),
 Timestamp('2022-11-30 00:00:00+0000', tz='UTC'),
 Timestamp('2022-11-30 19:00:00+0000', tz='UTC'),
 Timestamp('2022-11-30 19:00:00+0000', tz='UTC'),
 Timestamp('2022-12-01 15:00:00+0000', tz='UTC'),
 Timestamp('2022-12-04 19:00:00+0000', tz='UTC'),
 Timestamp('2022-12-04 23:00:00+0000', tz='UTC'),
 Timestamp('2022-12-05 04:00:00+0000', tz='UTC'),
 Timestamp('2022-12-09 20:00:00+0000', tz='UTC'),
 Timestamp('2022-12-12 00:00:00+0000', tz='UTC'),
 Timestamp('2022-12-10 23:00:00+0000', tz='UTC'),
 Timestamp('2022-12-13 10:00:00+0000', tz='UTC'),
 Timestamp('2022-12-13 13:00:00+0000', tz='UTC'),
 Timestamp('2022-12-14 14:00:00+0000', tz='UTC'),
 Timestamp('2022-12-14 14:00:00+0000', tz='UTC'),
 Timestamp('2022-12-14 14:00:00+0000', tz='UTC'),
 Timestamp('2022-12-20 15:00:00+0000', tz='UTC'),
 Timestamp('2022-12-22 15:00:00+0000', tz='UTC'),
 Timestamp('2022-12-22 14:00:00+0000', tz='UTC'),
 Timestamp('2022-12-22 14:00:00+0000', tz='UTC'),
 Timestamp('2022-12-27 17:00:00+0000', tz='UTC'),
 Timestamp('2022-12-27 17:00:00+0000', tz='UTC'),
 Timestamp('2022-12-27 17:00:00+0000', tz='UTC'),
 Timestamp('2022-12-26 23:00:00+0000', tz='UTC'),
 Timestamp('2022-12-25 20:00:00+0000', tz='UTC'),
 Timestamp('2022-12-25 14:00:00+0000', tz='UTC'),
 Timestamp('2022-12-27 14:00:00+0000', tz='UTC'),
 Timestamp('2023-01-02 07:00:00+0000', tz='UTC'),
 Timestamp('2023-01-03 16:00:00+0000', tz='UTC'),
 Timestamp('2023-01-03 16:00:00+0000', tz='UTC'),
 Timestamp('2023-01-04 18:00:00+0000', tz='UTC'),
 Timestamp('2023-01-06 06:00:00+0000', tz='UTC'),
 Timestamp('2023-01-06 12:00:00+0000', tz='UTC'),
 Timestamp('2023-01-06 11:00:00+0000', tz='UTC'),
 Timestamp('2023-01-06 11:00:00+0000', tz='UTC'),
 Timestamp('2023-01-08 23:00:00+0000', tz='UTC'),
 Timestamp('2023-01-08 15:00:00+0000', tz='UTC'),
 Timestamp('2023-01-08 15:00:00+0000', tz='UTC'),
 Timestamp('2023-01-08 23:00:00+0000', tz='UTC'),
 Timestamp('2023-01-09 16:00:00+0000', tz='UTC'),
 Timestamp('2023-01-09 20:00:00+0000', tz='UTC'),
 Timestamp('2023-01-10 18:00:00+0000', tz='UTC'),
 Timestamp('2023-01-11 19:00:00+0000', tz='UTC'),
 Timestamp('2023-01-13 10:00:00+0000', tz='UTC'),
 Timestamp('2023-01-13 15:00:00+0000', tz='UTC'),
 Timestamp('2023-01-13 15:00:00+0000', tz='UTC'),
 Timestamp('2023-01-13 15:00:00+0000', tz='UTC'),
 Timestamp('2023-01-13 21:00:00+0000', tz='UTC'),
 Timestamp('2023-01-16 19:00:00+0000', tz='UTC'),
 Timestamp('2023-01-16 02:00:00+0000', tz='UTC'),
 Timestamp('2023-01-16 01:00:00+0000', tz='UTC'),
 Timestamp('2023-01-16 08:00:00+0000', tz='UTC'),
 Timestamp('2023-01-18 13:00:00+0000', tz='UTC'),
 Timestamp('2023-01-18 13:00:00+0000', tz='UTC'),
 Timestamp('2023-01-18 16:00:00+0000', tz='UTC'),
 Timestamp('2023-01-18 16:00:00+0000', tz='UTC'),
 Timestamp('2023-01-20 16:00:00+0000', tz='UTC'),
 Timestamp('2023-01-22 02:00:00+0000', tz='UTC'),
 Timestamp('2023-01-25 01:00:00+0000', tz='UTC'),
 Timestamp('2023-01-25 01:00:00+0000', tz='UTC'),
 Timestamp('2023-01-24 23:00:00+0000', tz='UTC'),
 Timestamp('2023-01-29 13:00:00+0000', tz='UTC'),
 Timestamp('2023-01-29 10:00:00+0000', tz='UTC'),
 Timestamp('2023-01-27 17:00:00+0000', tz='UTC'),
 Timestamp('2023-01-29 10:00:00+0000', tz='UTC'),
 Timestamp('2023-01-29 10:00:00+0000', tz='UTC'),
 Timestamp('2023-01-29 12:00:00+0000', tz='UTC'),
 Timestamp('2023-01-29 19:00:00+0000', tz='UTC')]

In [23]:
outcome

['TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'TP',
 'TP',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'TP',
 'SL',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'TP',
 'TP',
 'SL',
 'SL',
 'SL',
 'TP',
 'TP',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'SL',
 'TP',
 'SL',
 'SL',
 'SL',
 'SL',
 'TP',
 'SL',
 'TP',
 'SL',
 'SL',
 'TP',
 'SL',
 'SL',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'TP',
 'TP',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'TP',
 'SL',
 'TP',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'TP',
 'TP',
 'SL',
 'SL',
 'TP',
 'TP',
 'SL',
 'TP',
 'TP',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'SL',
 'SL',
 'TP',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'TP',
 'TP',
 'SL',
 'SL',
 'TP',
 'TP',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'TP',
 'SL',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'SL',
 'SL',
 'TP',
 'TP',
 'SL',
 'TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'TP',
 'SL',
 'TP',
 'TP',
 'SL',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'SL',
 'TP',
 'TP',
 'SL',
 'SL',
 'TP',
 'TP',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'SL',
 'TP',
 'SL',
 'SL',
 'SL',
 'TP',
 'SL',
 'SL',
 'TP',
 'SL',
 'SL',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'SL',
 'TP',
 'TP',
 'SL',
 'SL',
 'TP',
 'SL',
 'SL',
 'SL',
 'SL',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP',
 'TP']

In [24]:
df.loc[selldates,'sellsignals']=1
df.loc[selldates,'outcome']=outcome
df

,Open,High,Low,Close,Adj Close,Volume,stochrsi_k,stochrsi_d,EMA_8,EMA_14,EMA_50,atr,cross,TP,SL,Buysignals,sellsignals,outcome
2022-01-02 19:00:00+00:00,47012.750000,47208.011719,46950.945312,46997.726562,46997.726562,639627264,0.199969,0.516608,47234.305704,47257.026019,47141.234644,261.885358,False,47521.497278,46212.070489,0,NaN,NaN
2022-01-02 20:00:00+00:00,46996.644531,47063.089844,46951.691406,47050.390625,47050.390625,2777321472,0.024192,0.252488,47193.435687,47229.474633,47137.672133,251.136292,False,47552.663209,46296.981749,0,NaN,NaN
2022-01-02 21:00:00+00:00,47052.828125,47152.343750,46989.667969,47047.894531,47047.894531,0,0.047388,0.090516,47161.093208,47205.263953,47134.151443,244.817684,False,47537.529900,46313.441479,0,NaN,NaN
2022-01-02 22:00:00+00:00,47048.480469,47332.085938,47048.480469,47288.203125,47288.203125,148367360,0.179881,0.083820,47189.339856,47216.322509,47140.192685,247.630093,True,47783.463311,46545.312846,0,NaN,NaN
2022-01-02 23:00:00+00:00,47296.281250,47414.335938,47295.910156,47344.843750,47344.843750,0,0.311783,0.179684,47223.896277,47233.458674,47148.218217,238.951716,False,47822.747182,46627.988603,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-30 06:00:00+00:00,23727.181641,23737.990234,23690.900391,23704.287109,23704.287109,62887936,0.118394,0.104319,23707.977086,23676.403560,23417.928718,87.299354,False,23878.885818,23442.389047,0,NaN,NaN
2023-01-30 07:00:00+00:00,23703.281250,23707.785156,23624.406250,23653.941406,23653.941406,221149184,0.075691,0.105587,23695.969157,23673.408606,23427.184118,87.019322,False,23827.980051,23392.883440,0,NaN,NaN
2023-01-30 08:00:00+00:00,23655.265625,23675.697266,23563.728516,23565.150391,23565.150391,526645248,0.024904,0.072996,23666.898320,23658.974177,23432.594560,88.801424,False,23742.753239,23298.746118,0,NaN,NaN
2023-01-30 09:00:00+00:00,23566.371094,23566.371094,23327.933594,23358.853516,23358.853516,878833664,0.000000,0.033532,23598.443919,23618.958089,23429.702754,99.489715,False,23557.832946,23060.384370,0,NaN,NaN
2023-01-30 09:21:00+00:00,23357.951172,23357.951172,23357.951172,23357.951172,23357.951172,0,0.000000,0.008301,23545.001086,23584.157167,23426.888967,92.447760,False,23542.846692,23080.607891,0,NaN,NaN

In [25]:
df.sellsignals=df.sellsignals.fillna(0).astype(int)

In [26]:
df

,Open,High,Low,Close,Adj Close,Volume,stochrsi_k,stochrsi_d,EMA_8,EMA_14,EMA_50,atr,cross,TP,SL,Buysignals,sellsignals,outcome
2022-01-02 19:00:00+00:00,47012.750000,47208.011719,46950.945312,46997.726562,46997.726562,639627264,0.199969,0.516608,47234.305704,47257.026019,47141.234644,261.885358,False,47521.497278,46212.070489,0,0,NaN
2022-01-02 20:00:00+00:00,46996.644531,47063.089844,46951.691406,47050.390625,47050.390625,2777321472,0.024192,0.252488,47193.435687,47229.474633,47137.672133,251.136292,False,47552.663209,46296.981749,0,0,NaN
2022-01-02 21:00:00+00:00,47052.828125,47152.343750,46989.667969,47047.894531,47047.894531,0,0.047388,0.090516,47161.093208,47205.263953,47134.151443,244.817684,False,47537.529900,46313.441479,0,0,NaN
2022-01-02 22:00:00+00:00,47048.480469,47332.085938,47048.480469,47288.203125,47288.203125,148367360,0.179881,0.083820,47189.339856,47216.322509,47140.192685,247.630093,True,47783.463311,46545.312846,0,0,NaN
2022-01-02 23:00:00+00:00,47296.281250,47414.335938,47295.910156,47344.843750,47344.843750,0,0.311783,0.179684,47223.896277,47233.458674,47148.218217,238.951716,False,47822.747182,46627.988603,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-30 06:00:00+00:00,23727.181641,23737.990234,23690.900391,23704.287109,23704.287109,62887936,0.118394,0.104319,23707.977086,23676.403560,23417.928718,87.299354,False,23878.885818,23442.389047,0,0,NaN
2023-01-30 07:00:00+00:00,23703.281250,23707.785156,23624.406250,23653.941406,23653.941406,221149184,0.075691,0.105587,23695.969157,23673.408606,23427.184118,87.019322,False,23827.980051,23392.883440,0,0,NaN
2023-01-30 08:00:00+00:00,23655.265625,23675.697266,23563.728516,23565.150391,23565.150391,526645248,0.024904,0.072996,23666.898320,23658.974177,23432.594560,88.801424,False,23742.753239,23298.746118,0,0,NaN
2023-01-30 09:00:00+00:00,23566.371094,23566.371094,23327.933594,23358.853516,23358.853516,878833664,0.000000,0.033532,23598.443919,23618.958089,23429.702754,99.489715,False,23557.832946,23060.384370,0,0,NaN
2023-01-30 09:21:00+00:00,23357.951172,23357.951172,23357.951172,23357.951172,23357.951172,0,0.000000,0.008301,23545.001086,23584.157167,23426.888967,92.447760,False,23542.846692,23080.607891,0,0,NaN

In [27]:
mask=df[(df.Buysignals==1)|(df.sellsignals==1)]
mask

,Open,High,Low,Close,Adj Close,Volume,stochrsi_k,stochrsi_d,EMA_8,EMA_14,EMA_50,atr,cross,TP,SL,Buysignals,sellsignals,outcome
2022-01-11 16:00:00+00:00,41721.941406,42782.371094,41721.941406,42727.378906,42727.378906,0,0.392136,0.185734,41997.838922,41944.869975,41872.500103,352.651301,True,43432.681508,41669.425004,1,0,NaN
2022-01-12 00:00:00+00:00,42742.179688,42918.714844,42664.984375,42737.199219,42737.199219,176791552,0.767205,0.766941,42643.632489,42488.949130,42110.246821,299.468835,True,43336.136889,41838.792714,1,0,NaN
2022-01-12 09:00:00+00:00,42625.992188,42875.132812,42611.968750,42778.679688,42778.679688,224499712,0.295671,0.194619,42658.264331,42604.909371,42270.137510,229.828208,True,43238.336103,42089.195064,1,0,NaN
2022-01-12 13:00:00+00:00,43177.093750,43925.546875,43177.093750,43897.910156,43897.910156,2346455040,1.000000,0.975340,43087.179085,42902.531401,42414.068203,278.237931,False,44454.386018,43063.196364,0,1,TP
2022-01-12 21:00:00+00:00,43855.277344,44135.367188,43832.601562,43832.601562,43832.601562,2086070272,0.527612,0.524891,43679.084919,43483.429791,42777.162622,266.240734,True,44365.083031,43033.879360,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-29 10:00:00+00:00,23301.953125,23455.544922,23301.953125,23432.160156,23432.160156,1070927872,0.758469,0.656775,23259.031186,23205.927923,23094.459471,83.336937,False,23598.834030,23182.149345,0,1,TP
2023-01-29 12:00:00+00:00,23432.574219,23506.107422,23391.091797,23498.642578,23498.642578,499974144,0.999519,0.897726,23342.145650,23271.061470,23123.021397,86.440634,False,23671.523846,23239.320676,0,1,TP
2023-01-29 13:00:00+00:00,23494.263672,23594.681641,23481.976562,23552.087891,23552.087891,714815488,0.999519,0.978076,23388.799481,23308.531659,23139.847534,88.316666,False,23728.721222,23287.137894,0,1,TP
2023-01-29 17:00:00+00:00,23591.099609,23625.316406,23573.179688,23592.787109,23592.787109,464596992,0.953239,0.935335,23504.038825,23421.380304,23202.632417,84.127965,True,23761.043039,23340.403215,1,0,NaN
2023-01-29 19:00:00+00:00,23689.275391,23919.890625,23681.570312,23900.707031,23900.707031,1579069440,0.995756,0.981583,23624.097850,23516.176658,23248.320503,99.131722,False,24098.970475,23603.311866,0,1,TP

In [28]:
mask.outcome.value_counts()

TP    126
SL    113
Name: outcome, dtype: int64

In [29]:
126/(126+113)

0.5271966527196653

In [30]:
t=[1, 3, 6,8,10]
[j-i for i, j in zip(t[:-1], t[1:])]  # or use itertools.izip in py2k

[2, 3, 2, 2]

In [31]:
[print(i,' ',j) for i, j in zip(t[:-2], t[2:])]  # or use itertools.izip in py2k

1   6
3   8
6   10

[None, None, None]