In [1]:
import random
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import math
import scipy.stats as stats
from scipy.stats import norm
from scipy.stats import kurtosis
import requests
%matplotlib inline

In [2]:
df=pd.read_excel('C:\\Users\\nafissaad\\Downloads\\NEDL_Anderson_Darling.xlsx',index_col='Date')[['S&P 500 return','Unnamed: 8']]
df.to_excel('C:\\Users\\nafissaad\\Downloads\\NEDL_Anderson_Darling.xlsx')
df

            S&P 500 return  Unnamed: 8
Date
2014-12-02        0.006384         NaN
2014-12-03        0.003765         NaN
2014-12-04       -0.001162         NaN
2014-12-05        0.001665         NaN
2014-12-08       -0.007257         NaN
...                    ...         ...
2019-11-22        0.002175         NaN
2019-11-25        0.007507         NaN
2019-11-26        0.002196         NaN
2019-11-27        0.004174         NaN
2019-11-29       -0.004011         NaN

[1258 rows x 2 columns]

In [3]:
mean=df['S&P 500 return'].mean()
standard_deviation=df['S&P 500 return'].std()
skewness=df['S&P 500 return'].skew()
kurtosis=kurtosis(df['S&P 500 return'])
mean,standard_deviation,skewness,kurtosis

(0.00037434340238909667,
 0.008530000235635715,
 -0.4252919459989185,
 3.6859292685889065)

In [4]:
matric=pd.DataFrame(columns=[['VaR','MVaR']],index=[['0.05','0.025','0.01','0.001']])
matric.loc['0.05','VaR']=mean+standard_deviation*norm.ppf(0.05)
matric.loc['0.025','VaR']=mean+standard_deviation*norm.ppf(0.025)
matric.loc['0.01','VaR']=mean+standard_deviation*norm.ppf(0.01)
matric.loc['0.001','VaR']=mean+standard_deviation*norm.ppf(0.001)
matric

            VaR MVaR
0.05  -0.013656  NaN
0.025 -0.016344  NaN
0.01  -0.019469  NaN
0.001 -0.025985  NaN

In [5]:
matric.loc['0.05','MVaR']=mean+standard_deviation*(norm.ppf(0.05)+(1/6)*(norm.ppf(0.05)**2-1)*skewness+(1/24)*(norm.ppf(0.05)**3-3*norm.ppf(0.05))*kurtosis+(1/36)*(2*norm.ppf(0.05)**3-5*norm.ppf(0.05))*skewness**2)
matric.loc['0.025','MVaR']=mean+standard_deviation*(norm.ppf(0.025)+(1/6)*(norm.ppf(0.025)**2-1)*skewness+(1/24)*(norm.ppf(0.025)**3-3*norm.ppf(0.025))*kurtosis+(1/36)*(2*norm.ppf(0.025)**3-5*norm.ppf(0.025))*skewness**2)
matric.loc['0.01','MVaR']=mean+standard_deviation*(norm.ppf(0.01)+(1/6)*(norm.ppf(0.01)**2-1)*skewness+(1/24)*(norm.ppf(0.01)**3-3*norm.ppf(0.01))*kurtosis+(1/36)*(2*norm.ppf(0.01)**3-5*norm.ppf(0.01))*skewness**2)
matric.loc['0.001','MVaR']=mean+standard_deviation*(norm.ppf(0.001)+(1/6)*(norm.ppf(0.001)**2-1)*skewness+(1/24)*(norm.ppf(0.001)**3-3*norm.ppf(0.001))*kurtosis+(1/36)*(2*norm.ppf(0.001)**3-5*norm.ppf(0.001))*skewness**2)
matric

            VaR      MVaR
0.05  -0.013656 -0.014082
0.025 -0.016344 -0.020448
0.01  -0.019469 -0.030068
0.001 -0.025985 -0.059537

In [6]:
mean=df['S&P 500 return'].mean()
standard_deviation=df['S&P 500 return'].std()
skewness=0.0
kurtosis=0.0
mean,standard_deviation,skewness,kurtosis

(0.00037434340238909667, 0.008530000235635715, 0.0, 0.0)

In [7]:
matric=pd.DataFrame(columns=[['VaR','MVaR']],index=[['0.05','0.025','0.01','0.001']])
matric.loc['0.05','VaR']=mean+standard_deviation*norm.ppf(0.05)
matric.loc['0.025','VaR']=mean+standard_deviation*norm.ppf(0.025)
matric.loc['0.01','VaR']=mean+standard_deviation*norm.ppf(0.01)
matric.loc['0.001','VaR']=mean+standard_deviation*norm.ppf(0.001)
matric

            VaR MVaR
0.05  -0.013656  NaN
0.025 -0.016344  NaN
0.01  -0.019469  NaN
0.001 -0.025985  NaN

In [8]:
matric.loc['0.05','MVaR']=mean+standard_deviation*(norm.ppf(0.05)+(1/6)*(norm.ppf(0.05)**2-1)*skewness+(1/24)*(norm.ppf(0.05)**3-3*norm.ppf(0.05))*kurtosis+(1/36)*(2*norm.ppf(0.05)**3-5*norm.ppf(0.05))*skewness**2)
matric.loc['0.025','MVaR']=mean+standard_deviation*(norm.ppf(0.025)+(1/6)*(norm.ppf(0.025)**2-1)*skewness+(1/24)*(norm.ppf(0.025)**3-3*norm.ppf(0.025))*kurtosis+(1/36)*(2*norm.ppf(0.025)**3-5*norm.ppf(0.025))*skewness**2)
matric.loc['0.01','MVaR']=mean+standard_deviation*(norm.ppf(0.01)+(1/6)*(norm.ppf(0.01)**2-1)*skewness+(1/24)*(norm.ppf(0.01)**3-3*norm.ppf(0.01))*kurtosis+(1/36)*(2*norm.ppf(0.01)**3-5*norm.ppf(0.01))*skewness**2)
matric.loc['0.001','MVaR']=mean+standard_deviation*(norm.ppf(0.001)+(1/6)*(norm.ppf(0.001)**2-1)*skewness+(1/24)*(norm.ppf(0.001)**3-3*norm.ppf(0.001))*kurtosis+(1/36)*(2*norm.ppf(0.001)**3-5*norm.ppf(0.001))*skewness**2)
matric

            VaR      MVaR
0.05  -0.013656 -0.013656
0.025 -0.016344 -0.016344
0.01  -0.019469 -0.019469
0.001 -0.025985 -0.025985

In [9]:
mean=df['S&P 500 return'].mean()
standard_deviation=df['S&P 500 return'].std()
skewness=0.50
kurtosis=0.0
mean,standard_deviation,skewness,kurtosis

(0.00037434340238909667, 0.008530000235635715, 0.5, 0.0)

In [10]:
matric=pd.DataFrame(columns=[['VaR','MVaR']],index=[['0.05','0.025','0.01','0.001']])
matric.loc['0.05','VaR']=mean+standard_deviation*norm.ppf(0.05)
matric.loc['0.025','VaR']=mean+standard_deviation*norm.ppf(0.025)
matric.loc['0.01','VaR']=mean+standard_deviation*norm.ppf(0.01)
matric.loc['0.001','VaR']=mean+standard_deviation*norm.ppf(0.001)
matric

            VaR MVaR
0.05  -0.013656  NaN
0.025 -0.016344  NaN
0.01  -0.019469  NaN
0.001 -0.025985  NaN

In [11]:
matric.loc['0.05','MVaR']=mean+standard_deviation*(norm.ppf(0.05)+(1/6)*(norm.ppf(0.05)**2-1)*skewness+(1/24)*(norm.ppf(0.05)**3-3*norm.ppf(0.05))*kurtosis+(1/36)*(2*norm.ppf(0.05)**3-5*norm.ppf(0.05))*skewness**2)
matric.loc['0.025','MVaR']=mean+standard_deviation*(norm.ppf(0.025)+(1/6)*(norm.ppf(0.025)**2-1)*skewness+(1/24)*(norm.ppf(0.025)**3-3*norm.ppf(0.025))*kurtosis+(1/36)*(2*norm.ppf(0.025)**3-5*norm.ppf(0.025))*skewness**2)
matric.loc['0.01','MVaR']=mean+standard_deviation*(norm.ppf(0.01)+(1/6)*(norm.ppf(0.01)**2-1)*skewness+(1/24)*(norm.ppf(0.01)**3-3*norm.ppf(0.01))*kurtosis+(1/36)*(2*norm.ppf(0.01)**3-5*norm.ppf(0.01))*skewness**2)
matric.loc['0.001','MVaR']=mean+standard_deviation*(norm.ppf(0.001)+(1/6)*(norm.ppf(0.001)**2-1)*skewness+(1/24)*(norm.ppf(0.001)**3-3*norm.ppf(0.001))*kurtosis+(1/36)*(2*norm.ppf(0.001)**3-5*norm.ppf(0.001))*skewness**2)
matric

            VaR      MVaR
0.05  -0.013656 -0.012484
0.025 -0.016344 -0.014636
0.01  -0.019469 -0.017136
0.001 -0.025985 -0.022489

In [12]:
mean=df['S&P 500 return'].mean()
standard_deviation=df['S&P 500 return'].std()
skewness=-0.50
kurtosis=0.0
mean,standard_deviation,skewness,kurtosis

(0.00037434340238909667, 0.008530000235635715, -0.5, 0.0)

In [13]:
matric=pd.DataFrame(columns=[['VaR','MVaR']],index=[['0.05','0.025','0.01','0.001']])
matric.loc['0.05','VaR']=mean+standard_deviation*norm.ppf(0.05)
matric.loc['0.025','VaR']=mean+standard_deviation*norm.ppf(0.025)
matric.loc['0.01','VaR']=mean+standard_deviation*norm.ppf(0.01)
matric.loc['0.001','VaR']=mean+standard_deviation*norm.ppf(0.001)
matric

            VaR MVaR
0.05  -0.013656  NaN
0.025 -0.016344  NaN
0.01  -0.019469  NaN
0.001 -0.025985  NaN

In [14]:
matric.loc['0.05','MVaR']=mean+standard_deviation*(norm.ppf(0.05)+(1/6)*(norm.ppf(0.05)**2-1)*skewness+(1/24)*(norm.ppf(0.05)**3-3*norm.ppf(0.05))*kurtosis+(1/36)*(2*norm.ppf(0.05)**3-5*norm.ppf(0.05))*skewness**2)
matric.loc['0.025','MVaR']=mean+standard_deviation*(norm.ppf(0.025)+(1/6)*(norm.ppf(0.025)**2-1)*skewness+(1/24)*(norm.ppf(0.025)**3-3*norm.ppf(0.025))*kurtosis+(1/36)*(2*norm.ppf(0.025)**3-5*norm.ppf(0.025))*skewness**2)
matric.loc['0.01','MVaR']=mean+standard_deviation*(norm.ppf(0.01)+(1/6)*(norm.ppf(0.01)**2-1)*skewness+(1/24)*(norm.ppf(0.01)**3-3*norm.ppf(0.01))*kurtosis+(1/36)*(2*norm.ppf(0.01)**3-5*norm.ppf(0.01))*skewness**2)
matric.loc['0.001','MVaR']=mean+standard_deviation*(norm.ppf(0.001)+(1/6)*(norm.ppf(0.001)**2-1)*skewness+(1/24)*(norm.ppf(0.001)**3-3*norm.ppf(0.001))*kurtosis+(1/36)*(2*norm.ppf(0.001)**3-5*norm.ppf(0.001))*skewness**2)
matric

            VaR      MVaR
0.05  -0.013656 -0.014909
0.025 -0.016344 -0.018675
0.01  -0.019469 -0.023408
0.001 -0.025985 -0.034644