In [1]:
import random
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import math
import scipy.stats as stats
from scipy.stats import norm
from scipy.stats import kurtosis
import requests
%matplotlib inline

In [2]:
df=pd.read_excel('C:\\Users\\nafissaad\\Downloads\\NEDL_Modified_Sharpe_MVaR.xlsx',index_col='Date')[['Large stocks','Small stocks','Treasury bonds','Corporate bonds','Gold','REIT']]
#df.to_excel('C:\\Users\\nafissaad\\Downloads\\NEDL_PMPT.xlsx')
df

,Large stocks,Small stocks,Treasury bonds,Corporate bonds,Gold,REIT
Date,,,,,,
2016-03-30,187.404327,103.284630,115.934731,63.101669,117.099998,67.771255
2016-03-31,186.949509,103.563309,116.757210,63.186726,117.639999,68.186249
2016-04-01,188.222961,103.804810,117.061729,63.232586,116.930000,68.096741
2016-04-04,187.613495,103.024544,117.133392,63.077179,116.150002,67.999100
2016-04-05,185.739670,101.835556,118.414383,62.844059,117.660004,67.551575
...,...,...,...,...,...,...
2021-03-23,389.500000,209.498306,137.490005,86.459999,161.809998,90.471031
2021-03-24,387.519989,206.307007,138.229996,86.510002,162.369995,89.963997
2021-03-25,389.700012,210.350006,137.139999,86.660004,161.779999,90.879997
2021-03-26,395.980011,214.119995,136.660004,86.919998,162.240005,92.839996
2021-03-29,395.779999,209.979996,135.500000,86.970001,160.309998,92.300003

In [3]:
returns=df.pct_change().fillna(0)
returns

,Large stocks,Small stocks,Treasury bonds,Corporate bonds,Gold,REIT
Date,,,,,,
2016-03-30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2016-03-31,-0.002427,0.002698,0.007094,0.001348,0.004611,0.006123
2016-04-01,0.006812,0.002332,0.002608,0.000726,-0.006035,-0.001313
2016-04-04,-0.003238,-0.007517,0.000612,-0.002458,-0.006671,-0.001434
2016-04-05,-0.009988,-0.011541,0.010936,-0.003696,0.013000,-0.006581
...,...,...,...,...,...,...
2021-03-23,-0.007871,-0.028578,0.009027,0.001042,-0.007301,-0.001427
2021-03-24,-0.005083,-0.015233,0.005382,0.000578,0.003461,-0.005604
2021-03-25,0.005626,0.019597,-0.007885,0.001734,-0.003634,0.010182
2021-03-26,0.016115,0.017922,-0.003500,0.003000,0.002843,0.021567
2021-03-29,-0.000505,-0.019335,-0.008488,0.000575,-0.011896,-0.005816

In [4]:
matrix=pd.DataFrame(columns=[['Large Stocks','Small stocks','Treasury bonds','Corporate bonds','Gold','REIT']],index=['Portfolio weights'])
matrix

,Large Stocks,Small stocks,Treasury bonds,Corporate bonds,Gold,REIT
Portfolio weights,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
matrix.loc['Portfolio weights']=1/6
matrix

,Large Stocks,Small stocks,Treasury bonds,Corporate bonds,Gold,REIT
Portfolio weights,0.166667,0.166667,0.166667,0.166667,0.166667,0.166667

In [6]:
df['portfolio']=matrix.loc['Portfolio weights'].dot(returns[returns.columns].values.T)
df

,Large stocks,Small stocks,Treasury bonds,Corporate bonds,Gold,REIT,portfolio
Date,,,,,,,
2016-03-30,187.404327,103.284630,115.934731,63.101669,117.099998,67.771255,0.0
2016-03-31,186.949509,103.563309,116.757210,63.186726,117.639999,68.186249,0.003241
2016-04-01,188.222961,103.804810,117.061729,63.232586,116.930000,68.096741,0.000855
2016-04-04,187.613495,103.024544,117.133392,63.077179,116.150002,67.999100,-0.003451
2016-04-05,185.739670,101.835556,118.414383,62.844059,117.660004,67.551575,-0.001312
...,...,...,...,...,...,...,...
2021-03-23,389.500000,209.498306,137.490005,86.459999,161.809998,90.471031,-0.005851
2021-03-24,387.519989,206.307007,138.229996,86.510002,162.369995,89.963997,-0.00275
2021-03-25,389.700012,210.350006,137.139999,86.660004,161.779999,90.879997,0.00427
2021-03-26,395.980011,214.119995,136.660004,86.919998,162.240005,92.839996,0.009658
2021-03-29,395.779999,209.979996,135.500000,86.970001,160.309998,92.300003,-0.007578

In [7]:
returns_mean=(np.prod(1+df['portfolio'].values))**(1/1259)-1#Geometric Mean
volatility_sigma=df['portfolio'].std()
skewness=df['portfolio'].skew()
kurtosises=kurtosis(df['portfolio'])
kurtosises

26.091157666061868

In [8]:
confidence_interval=0.99#less confidence interval means less risk averse

In [9]:
z_stat=norm.ppf(0.99)

In [10]:
#Favre and Galeano(2002) formula it adjust the normalities and calulate the risk under non normal distribution assumption
Z_modified_value_at_risk=z_stat+1/6*(z_stat**2-1)*skewness+1/24*(z_stat**3-3*z_stat)*kurtosises-1/36*(2*z_stat**3-5*z_stat)*skewness**2

In [11]:
Z_modified_value_at_risk

6.6807095487819055

In [12]:
MVAR=returns_mean-volatility_sigma*Z_modified_value_at_risk
MVAR

-0.046439704626751184

In [13]:
annualised_expected_return=(1+returns_mean)**252-1
annualised_expected_return

0.09880392793884774

In [14]:
risk_free_rate=0.0157
modified=(annualised_expected_return-risk_free_rate)/(risk_free_rate-MVAR)
modified#it means we gain 1.3% return for 1% modified value at risk

1.337372432618089