In [1]:
import pandas as pd 
import numpy as np
import scipy.stats

In [2]:
df=pd.read_excel('C:\\Users\\nafissaad\\Downloads\\Spreadsheets-20231017T124722Z-001\\Spreadsheets\\NEDL_Multidimensional_Monte_Carlo.xlsx',index_col='Date')[1:]
df=df[df.columns[0:3]]
df.columns=['Stocks','Bonds','Real Estate']
df

              Stocks     Bonds Real Estate
Date
2021-10-01  0.011884  0.000115    0.003368
2021-10-04 -0.012896 -0.002988    0.000699
2021-10-05  0.010405 -0.003112   -0.006988
2021-10-06  0.004156   0.00185    0.017593
2021-10-07  0.008646  0.002654    0.003112
...              ...       ...         ...
2022-09-23 -0.016755 -0.009392   -0.024442
2022-09-26 -0.009893 -0.004601    0.016688
2022-09-27 -0.002553  0.013105    0.013729
2022-09-28  0.019676  0.021537    0.016491
2022-09-29 -0.020889 -0.003944   -0.015845

[251 rows x 3 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2021-10-01 to 2022-09-29
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Stocks       251 non-null    object
 1   Bonds        251 non-null    object
 2   Real Estate  251 non-null    object
dtypes: object(3)
memory usage: 7.8+ KB

In [4]:
df=df[['Stocks','Bonds','Real Estate']].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2021-10-01 to 2022-09-29
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Stocks       251 non-null    float64
 1   Bonds        251 non-null    float64
 2   Real Estate  251 non-null    float64
dtypes: float64(3)
memory usage: 7.8 KB

In [5]:
cor=df.corr()
cor

               Stocks     Bonds  Real Estate
Stocks       1.000000 -0.022525    -0.048715
Bonds       -0.022525  1.000000     0.672036
Real Estate -0.048715  0.672036     1.000000

In [6]:
matrix=pd.DataFrame(columns=[['Stocks','Bonds','Real Estate']],index=['Average','Volatility'])
matrix.loc['Average']=df.mean().values
matrix.loc['Volatility']=df.std().values
matrix

              Stocks     Bonds Real Estate
Average    -0.000514 -0.000474   -0.000486
Volatility  0.013786  0.007028    0.013523

In [7]:
Cholesky_decomposition=pd.DataFrame(columns=[['Stocks','Bonds','Real Estate']],index=[['Stocks','Bonds','Real Estate']])
Cholesky_decomposition

            Stocks Bonds Real Estate
Stocks         NaN   NaN         NaN
Bonds          NaN   NaN         NaN
Real Estate    NaN   NaN         NaN

In [8]:
Cholesky_decomposition.loc['Stocks']=[1,0.0,0.0]
Cholesky_decomposition.loc['Bonds','Stocks']=df.corr().loc['Bonds','Stocks']/Cholesky_decomposition.loc['Stocks','Stocks'].values
Cholesky_decomposition.loc['Real Estate','Stocks']=df.corr().loc['Real Estate','Stocks']
Cholesky_decomposition.loc['Bonds','Real Estate']=0.0
Cholesky_decomposition.loc['Bonds','Bonds']=np.sqrt((df.corr().loc['Bonds','Bonds']-Cholesky_decomposition.loc['Bonds','Stocks']**2).values[0][0])
Cholesky_decomposition.loc['Real Estate','Bonds']=df.corr().loc['Real Estate','Bonds']-Cholesky_decomposition.loc['Real Estate','Stocks'].values[0][0]*Cholesky_decomposition.loc['Bonds','Stocks'].values[0][0]
Cholesky_decomposition.loc['Real Estate','Real Estate']=np.sqrt(df.corr().loc['Real Estate','Real Estate']-(Cholesky_decomposition.loc['Real Estate','Bonds']**2).values[0][0]-(Cholesky_decomposition.loc['Real Estate','Stocks']**2).values[0][0])
Cholesky_decomposition

               Stocks     Bonds Real Estate
Stocks              1       0.0         0.0
Bonds       -0.022525  0.999746         0.0
Real Estate -0.048715  0.670939    0.739911

In [9]:
#Creating uncorrelated z Stat
df["Uncorrelatd Z-Stats Stocks"]=scipy.stats.norm.ppf([np.random.uniform() for i in range(len(df))])
df["Uncorrelatd Z-Stats Bonds"]=scipy.stats.norm.ppf([np.random.uniform() for i in range(len(df))])
df["Uncorrelatd Z-Stats Real Estate"]=scipy.stats.norm.ppf([np.random.uniform() for i in range(len(df))])
df

,Stocks,Bonds,Real Estate,Uncorrelatd Z-Stats Stocks,Uncorrelatd Z-Stats Bonds,Uncorrelatd Z-Stats Real Estate
Date,,,,,,
2021-10-01,0.011884,0.000115,0.003368,0.040952,-0.107745,0.748488
2021-10-04,-0.012896,-0.002988,0.000699,-2.902088,2.334322,0.007916
2021-10-05,0.010405,-0.003112,-0.006988,-0.740555,-0.823766,-0.062781
2021-10-06,0.004156,0.001850,0.017593,-0.101314,-1.995090,2.592420
2021-10-07,0.008646,0.002654,0.003112,0.716772,-1.421623,-1.405655
...,...,...,...,...,...,...
2022-09-23,-0.016755,-0.009392,-0.024442,1.526359,-0.171003,-0.549745
2022-09-26,-0.009893,-0.004601,0.016688,0.858190,-1.747278,0.401815
2022-09-27,-0.002553,0.013105,0.013729,-0.529222,-0.581938,0.256567
2022-09-28,0.019676,0.021537,0.016491,-0.961710,-0.101337,1.167613
2022-09-29,-0.020889,-0.003944,-0.015845,1.160105,-0.596640,-0.109789

In [10]:
matrix.loc['Average']

Stocks        -0.000514
Bonds         -0.000474
Real Estate   -0.000486
Name: Average, dtype: object

In [11]:
#Making Correlated z stat
df[['Correlatd Z-Stats Stocks','Correlatd Z-Stats Bonds','Correlatd Z-Stats Real Estate']]=(Cholesky_decomposition.values.dot(df[['Uncorrelatd Z-Stats Stocks','Uncorrelatd Z-Stats Bonds','Uncorrelatd Z-Stats Real Estate']].T.values)).T

In [12]:
df

,Stocks,Bonds,Real Estate,Uncorrelatd Z-Stats Stocks,Uncorrelatd Z-Stats Bonds,Uncorrelatd Z-Stats Real Estate,Correlatd Z-Stats Stocks,Correlatd Z-Stats Bonds,Correlatd Z-Stats Real Estate
Date,,,,,,,,,
2021-10-01,0.011884,0.000115,0.003368,0.040952,-0.107745,0.748488,0.040952,-0.10864,0.479529
2021-10-04,-0.012896,-0.002988,0.000699,-2.902088,2.334322,0.007916,-2.902088,2.399099,1.71342
2021-10-05,0.010405,-0.003112,-0.006988,-0.740555,-0.823766,-0.062781,-0.740555,-0.806876,-0.563073
2021-10-06,0.004156,0.001850,0.017593,-0.101314,-1.995090,2.592420,-0.101314,-1.992301,0.584511
2021-10-07,0.008646,0.002654,0.003112,0.716772,-1.421623,-1.405655,0.716772,-1.437407,-2.028798
...,...,...,...,...,...,...,...,...,...
2022-09-23,-0.016755,-0.009392,-0.024442,1.526359,-0.171003,-0.549745,1.526359,-0.205341,-0.595852
2022-09-26,-0.009893,-0.004601,0.016688,0.858190,-1.747278,0.401815,0.85819,-1.766166,-0.916817
2022-09-27,-0.002553,0.013105,0.013729,-0.529222,-0.581938,0.256567,-0.529222,-0.569869,-0.174827
2022-09-28,0.019676,0.021537,0.016491,-0.961710,-0.101337,1.167613,-0.96171,-0.079649,0.842788
2022-09-29,-0.020889,-0.003944,-0.015845,1.160105,-0.596640,-0.109789,1.160105,-0.62262,-0.538058

In [13]:
df[['Simulated Returns of Stocks','Simulated Returns of Bonds','Simulated Returns of Real Estate']]=matrix.loc['Average'].values+df[['Correlatd Z-Stats Stocks','Correlatd Z-Stats Bonds','Correlatd Z-Stats Real Estate']].values*matrix.loc['Volatility'].values

In [14]:
df[['Simulated Returns of Stocks','Simulated Returns of Bonds','Simulated Returns of Real Estate']].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2021-10-01 to 2022-09-29
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Simulated Returns of Stocks       251 non-null    object
 1   Simulated Returns of Bonds        251 non-null    object
 2   Simulated Returns of Real Estate  251 non-null    object
dtypes: object(3)
memory usage: 7.8+ KB

In [15]:
new=df[['Simulated Returns of Stocks','Simulated Returns of Bonds','Simulated Returns of Real Estate']].astype(float).corr()
new

,Simulated Returns of Stocks,Simulated Returns of Bonds,Simulated Returns of Real Estate
Simulated Returns of Stocks,1.000000,-0.046324,-0.040699
Simulated Returns of Bonds,-0.046324,1.000000,0.663174
Simulated Returns of Real Estate,-0.040699,0.663174,1.000000

In [16]:
abs(new.values-cor.values)

array([[0.        , 0.02379962, 0.00801579],
       [0.02379962, 0.        , 0.00886212],
       [0.00801579, 0.00886212, 0.        ]])

In [17]:
0.00538441+0.05018597

0.05557038

In [18]:
sum(abs(new.values-cor.values))

array([0.03181541, 0.03266174, 0.01687791])

In [19]:
sum(sum(abs(cor.values-new.values)))#on average deviation from our biased correlation

0.08135505904785328

In [20]:
sum(sum(abs(cor.values-cor.values)))

0.0

In [21]:
#suppose correlation might be encountered for various reason.For an Example for interest rate Real estate and bond can be correlated
#in this system we simulate and see what is our expected correlation for any circumtance