In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
#Undoing a difference
ex_df = pd.DataFrame({'A': np.random.randint(0, 10, 5)})
ex_df['B'] = ex_df['A'].diff()
ex_df#made it stationary

   A    B
0  0  NaN
1  8  8.0
2  0 -8.0
3  2  2.0
4  3  1.0

In [8]:
ex_df['A'].iloc[0],ex_df['B'].iloc[1:]

(0,
 2   -8.0
 3    2.0
 4    1.0
 Name: B, dtype: float64)

In [11]:
x,x_diff=ex_df['A'].iloc[0],ex_df['B'].iloc[1:]

In [13]:
ex_df['C'] = np.r_[x, x_diff].cumsum().astype(float)
ex_df

   A    B    C
0  0  NaN  0.0
1  8  8.0  8.0
2  0 -8.0  0.0
3  2  2.0  2.0
4  3  1.0  3.0

In [54]:
#Undoing a difference
ex_df = pd.DataFrame({'A': np.random.randint(0, 10, 7)})
ex_df['B'] = ex_df['A'].diff(2)
ex_df#made it stationary

   A    B
0  1  NaN
1  8  NaN
2  7  6.0
3  2 -6.0
4  7  0.0
5  5  3.0
6  8  1.0

In [55]:
ex_df['A'].iloc[0],ex_df['B'].iloc[2:]

(1,
 2    6.0
 3   -6.0
 4    0.0
 5    3.0
 6    1.0
 Name: B, dtype: float64)

In [56]:
def undo_stationarity(ex_df,col_1,col_2,diff_num=1):
    c=[]
    for i in ex_df.index:
        if i<diff_num:
            x=ex_df[col_1][i]+0
            c.append(x)
        else:
            x=ex_df[col_2][i]+ex_df[col_1][i-diff_num]
            c.append(x)
    return c

In [57]:
undo_stationarity(ex_df,'A','B',2)

[1, 8, 7.0, 2.0, 7.0, 5.0, 8.0]