In [6]:
#Exponential smoothing.
#1 simple exponential Smoothing.when we dont have trend ,seasonality.it is kind of random
#2 Doble Exponential Smoothing.when we have trend but no seasonality
#3 Triple Exponential Smoothing.when we have both trend and seasonality

#trend can be two type 
#Additive constant growth
#Multiplicative  exponential growth

In [119]:
#!python -m pip install sktime

In [122]:
import pandas as pd
from sktime.forecasting.exp_smoothing import ExponentialSmoothing
from sktime.datasets import load_airline
from sktime.forecasting.model_selection import temporal_train_test_split

In [123]:
airline = load_airline()
train, test = temporal_train_test_split(airline, test_size = 36)
type(airline)

pandas.core.series.Series

In [125]:
import datetime as dt
df=pd.read_csv('dailysales.csv',parse_dates=['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    704 non-null    datetime64[ns]
 1   sales   704 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 11.1 KB

In [126]:
df=df.groupby('date').sum()#when we have two transiction in a single day. so we sum all the entry for one day
df

            sales
date
2018-01-01  477.0
2018-01-02  365.0
2018-01-03  442.0
2018-01-04  490.0
2018-01-05  396.0
...           ...
2019-12-27  133.0
2019-12-28  214.1
2019-12-29   85.5
2019-12-30  182.9
2019-12-31  322.7

[703 rows x 1 columns]

In [127]:
df=df.resample(rule='M').mean()#same job weekly process
df.info()
type(df)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 24 entries, 2018-01-31 to 2019-12-31
Freq: M
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sales   24 non-null     float64
dtypes: float64(1)
memory usage: 384.0 bytes

pandas.core.frame.DataFrame

In [128]:
df

                 sales
date
2018-01-31  291.451613
2018-02-28  368.115385
2018-03-31  423.967742
2018-04-30  414.233333
2018-05-31  262.354839
2018-06-30  247.900000
2018-07-31  379.290323
2018-08-31  384.307692
2018-09-30  240.533333
2018-10-31  188.774194
2018-11-30  372.862069
2018-12-31  219.137931
2019-01-31  188.145000
2019-02-28  244.398077
2019-03-31  282.363793
2019-04-30  272.215517
2019-05-31  179.913333
2019-06-30  172.855172
2019-07-31  261.243333
2019-08-31  221.678571
2019-09-30  168.432692
2019-10-31  134.781667
2019-11-30  213.565000
2019-12-31  157.008065

In [129]:
df=df.resample(rule='MS').mean()#same job weekly process
df

                 sales
date
2018-01-01  291.451613
2018-02-01  368.115385
2018-03-01  423.967742
2018-04-01  414.233333
2018-05-01  262.354839
2018-06-01  247.900000
2018-07-01  379.290323
2018-08-01  384.307692
2018-09-01  240.533333
2018-10-01  188.774194
2018-11-01  372.862069
2018-12-01  219.137931
2019-01-01  188.145000
2019-02-01  244.398077
2019-03-01  282.363793
2019-04-01  272.215517
2019-05-01  179.913333
2019-06-01  172.855172
2019-07-01  261.243333
2019-08-01  221.678571
2019-09-01  168.432692
2019-10-01  134.781667
2019-11-01  213.565000
2019-12-01  157.008065

In [130]:
simple_exp = ExponentialSmoothing(trend=None, seasonal=None)

In [131]:
simple_model.fit(df)

ExponentialSmoothing()