In [1]:
import yfinance as yf
import numpy as np
import pandas as pd
import datetime as dt
from pandas.tseries.offsets import MonthEnd

In [2]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
df

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
...,...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [3]:
tickers=df.Symbol.to_list()
tickers

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ABMD',
 'ACN',
 'ATVI',
 'ADM',
 'ADBE',
 'ADP',
 'AAP',
 'AES',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AMD',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'AZO',
 'AVB',
 'AVY',
 'BKR',
 'BALL',
 'BAC',
 'BBWI',
 'BAX',
 'BDX',
 'WRB',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'CNC',
 'CNP',
 'CDAY',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CTXS',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DISH',
 'DIS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DRE',
 'DD',
 'DXC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'RE',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FAST',
 'FRT',
 'FDX',
 'FITB',
 'FRC',
 'FE',
 'FIS',
 'FISV',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FBHS',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GL',
 'GPN',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'INTC',
 'ICE',
 'IP',
 'IPG',
 'IFF',
 'INTU',
 'ISRG',
 'IVZ',
 'IQV',
 'IRM',
 'JBHT',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LNC',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LUMN',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NWL',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NLSN',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NLOK',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OGN',
 'OTIS',
 'PCAR',
 'PKG',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PENN',
 'PNR',
 'PEP',
 'PKI',
 'PFE',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'PVH',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SBNY',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SEDG',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STE',
 'SYK',
 'SIVB',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TWTR',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'VICI',
 'V',
 'VNO',
 'VMC',
 'WAB',
 'WBA',
 'WMT',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

In [4]:
len(tickers)

503

In [5]:
df2=yf.download(tickers,starts='2009-12-31',end='2020-12-31')
df2

[*********************100%***********************]  503 of 503 completed

4 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- OGN: Data doesn't exist for startDate = -631159200, endDate = 1609351200
- CEG: Data doesn't exist for startDate = -631159200, endDate = 1609351200
- BRK.B: No data found, symbol may be delisted

             Adj Close                                                \
                     A        AAL         AAP        AAPL       ABBV
Date
1962-01-02         NaN        NaN         NaN         NaN        NaN
1962-01-03         NaN        NaN         NaN         NaN        NaN
1962-01-04         NaN        NaN         NaN         NaN        NaN
1962-01-05         NaN        NaN         NaN         NaN        NaN
1962-01-08         NaN        NaN         NaN         NaN        NaN
...                ...        ...         ...         ...        ...
2020-12-23  116.089691  15.890000  154.348007  129.621216  95.822395
2020-12-24  116.099571  15.660000  155.694901  130.620911  95.803841
2020-12-28  116.614220  16.059999  153.873230  135.292648  95.980110
2020-12-29  116.020416  15.860000  151.828690  133.491257  97.139862
2020-12-30  116.178749  16.150000  152.768600  132.353012  97.668694

                                                                       ...  \
                  ABC        ABMD         ABT         ACN        ADBE  ...
Date                                                                   ...
1962-01-02        NaN         NaN         NaN         NaN         NaN  ...
1962-01-03        NaN         NaN         NaN         NaN         NaN  ...
1962-01-04        NaN         NaN         NaN         NaN         NaN  ...
1962-01-05        NaN         NaN         NaN         NaN         NaN  ...
1962-01-08        NaN         NaN         NaN         NaN         NaN  ...
...               ...         ...         ...         ...         ...  ...
2020-12-23  94.878975  304.049988  104.559143  251.989853  496.910004  ...
2020-12-24  94.615532  303.410004  105.434929  251.852814  499.859985  ...
2020-12-28  94.449661  312.910004  104.889999  254.182404  498.950012  ...
2020-12-29  94.761887  320.929993  105.415474  252.303085  502.109985  ...
2020-12-30  94.605774  323.920013  105.522507  252.087723  497.450012  ...

               Volume                                                        \
                 WYNN        XEL         XOM      XRAY       XYL        YUM
Date
1962-01-02        NaN        NaN    902400.0       NaN       NaN        NaN
1962-01-03        NaN        NaN   1200000.0       NaN       NaN        NaN
1962-01-04        NaN        NaN   1088000.0       NaN       NaN        NaN
1962-01-05        NaN        NaN   1222400.0       NaN       NaN        NaN
1962-01-08        NaN        NaN   1388800.0       NaN       NaN        NaN
...               ...        ...         ...       ...       ...        ...
2020-12-23  1998000.0  1153200.0  19085900.0  499600.0  593300.0   884700.0
2020-12-24   850900.0   598400.0   8039000.0  217600.0  249700.0   340400.0
2020-12-28  1912000.0  1799800.0  23877500.0  576400.0  408600.0  1822900.0
2020-12-29  1262500.0  1761400.0  20287700.0  458300.0  501900.0  1818300.0
2020-12-30  2087100.0  1296400.0  23807300.0  527500.0  418200.0  1267900.0


                 ZBH      ZBRA       ZION        ZTS
Date
1962-01-02       NaN       NaN        NaN        NaN
1962-01-03       NaN       NaN        NaN        NaN
1962-01-04       NaN       NaN        NaN        NaN
1962-01-05       NaN       NaN        NaN        NaN
1962-01-08       NaN       NaN        NaN        NaN
...              ...       ...        ...        ...
2020-12-23  681860.0  191100.0   706800.0  1164600.0
2020-12-24  292314.0  138300.0   327700.0   417400.0
2020-12-28  704520.0  251200.0   835600.0  1522400.0
2020-12-29  757771.0  185500.0  1084100.0  1188400.0
2020-12-30  440428.0  166100.0   728400.0  1009000.0

[14853 rows x 3018 columns]

In [6]:
price=df2['Adj Close']
price

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.099852,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.101335,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.101582,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.099357,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.099110,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-23,116.089691,15.890000,154.348007,129.621216,95.822395,94.878975,304.049988,104.559143,251.989853,496.910004,...,115.300003,61.673706,38.153534,50.932377,97.779144,103.520988,142.879135,379.739990,41.626842,158.151489
2020-12-24,116.099571,15.660000,155.694901,130.620911,95.803841,94.615532,303.410004,105.434929,251.852814,499.859985,...,114.389999,61.980591,37.998249,51.139614,98.288971,104.248032,143.369019,376.890015,41.464203,159.012253
2020-12-28,116.614220,16.059999,153.873230,135.292648,95.980110,94.449661,312.910004,104.889999,254.182404,498.950012,...,115.470001,62.642315,38.126129,51.623184,98.406639,106.419472,143.023209,382.589996,41.483334,160.664490
2020-12-29,116.020416,15.860000,151.828690,133.491257,97.139862,94.761887,320.929993,105.415474,252.303085,502.109985,...,114.309998,62.738201,37.696827,50.577106,97.563454,106.099548,146.442917,378.040009,40.918877,161.386734
2020-12-30,116.178749,16.150000,152.768600,132.353012,97.668694,94.605774,323.920013,105.522507,252.087723,497.450012,...,113.400002,62.958782,37.998249,50.784348,98.808617,106.157730,146.222015,383.750000,41.349396,162.524536

In [7]:
price.index=pd.to_datetime(price.index)

In [8]:
Monthly_ret=price.pct_change().resample('M').agg(lambda x: (x+1).prod()-1)

In [9]:
Monthly_ret

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.049506,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1962-02-28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.056362,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1962-03-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.013544,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1962-04-30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.020596,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1962-05-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.017292,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-31,0.042458,0.173561,0.041095,0.216569,0.009061,-0.027564,0.025605,0.087738,0.067399,0.155451,...,0.207373,0.006228,-0.032131,0.006054,0.102198,0.057867,0.044639,0.020588,0.000061,0.055511
2020-09-30,0.005178,-0.058238,-0.016387,-0.102526,-0.085413,-0.001134,-0.099343,-0.005846,-0.058100,-0.044722,...,-0.178845,-0.000379,-0.140461,-0.023121,0.049139,-0.047470,-0.031941,-0.118905,-0.091418,0.032917
2020-10-31,0.013217,-0.082181,-0.040521,-0.060012,-0.015197,-0.008770,-0.090883,-0.030963,-0.036420,-0.088351,...,0.008634,0.014780,-0.049811,0.079122,0.035901,0.022234,-0.029676,0.123505,0.104381,-0.040041
2020-11-30,0.145068,0.252660,0.002852,0.095493,0.228907,0.077749,0.088217,0.029588,0.148356,0.070163,...,0.387547,-0.038126,0.197117,0.078407,0.104466,0.138709,0.128842,0.334156,0.206209,0.011542
2020-12-31,0.004192,0.142958,0.069091,0.123225,0.006598,-0.059645,0.181759,0.002033,0.033923,0.039668,...,0.128358,-0.018935,0.091004,0.013156,0.050120,0.035066,0.022436,0.014085,0.119979,0.024255

In [10]:
t=price['A'][-10:]

In [11]:
t.pct_change()

Date
2020-12-16         NaN
2020-12-17    0.014756
2020-12-18    0.002774
2020-12-21   -0.012741
2020-12-22   -0.003481
2020-12-23   -0.000596
2020-12-24    0.000085
2020-12-28    0.004433
2020-12-29   -0.005092
2020-12-30    0.001365
Name: A, dtype: float64

In [12]:
t.pct_change().resample("2D").agg(lambda x: (x+1))

Date
2020-12-16         NaN
2020-12-17    1.014756
2020-12-18    1.002774
2020-12-21    0.987259
2020-12-22    0.996519
2020-12-23    0.999404
2020-12-24    1.000085
2020-12-28    1.004433
2020-12-29    0.994908
2020-12-30    1.001365
Name: A, dtype: float64

In [13]:
t.pct_change().resample("2D").agg(lambda x: (x+1).prod())

Date
2020-12-16    1.014756
2020-12-18    1.002774
2020-12-20    0.987259
2020-12-22    0.995925
2020-12-24    1.000085
2020-12-26    1.000000
2020-12-28    0.999318
2020-12-30    1.001365
Freq: 2D, Name: A, dtype: float64

In [14]:
past_11=(Monthly_ret+1).rolling(11).apply(np.prod)-1
past_11

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-31,0.319327,-0.512767,-0.050331,1.327460,0.336078,0.200145,0.729271,0.329877,0.267866,0.858425,...,-0.182117,0.091698,-0.396381,-0.152452,0.020346,-0.138893,0.032637,0.388429,-0.251750,0.292415
2020-09-30,0.341565,-0.588310,-0.049106,0.880673,0.146411,0.155960,0.334714,0.317768,0.233536,0.764581,...,-0.398242,0.114996,-0.457823,-0.194266,0.108237,-0.085255,-0.007289,0.061336,-0.375556,0.298542
2020-10-31,0.274813,-0.606065,-0.056272,0.640576,0.023721,0.107678,0.283923,0.249469,0.095606,0.444448,...,-0.395633,0.168646,-0.495152,-0.157580,0.135879,-0.059302,-0.083492,0.130310,-0.333026,0.323086
2020-11-30,0.379151,-0.505501,-0.072134,0.635663,0.246549,0.234379,0.606777,0.265555,0.201922,0.450744,...,-0.270229,0.081683,-0.409929,-0.093918,0.234159,0.070543,0.002583,0.481444,-0.228649,0.218729
2020-12-31,0.431062,-0.396063,0.205878,0.743075,0.352959,0.153428,0.738794,0.258708,0.270243,0.416671,...,-0.093599,-0.026222,-0.276847,-0.072326,0.250465,0.055282,0.037413,0.605514,-0.013992,0.229212

In [15]:
formation=dt.datetime(2010,12,31)

In [16]:
formation

datetime.datetime(2010, 12, 31, 0, 0)

In [17]:
end_measure=formation-MonthEnd(1)
end_measure

Timestamp('2010-11-30 00:00:00')

In [18]:
past_12=past_11.loc[end_measure]
past_12

A       0.127132
AAL     1.305785
AAP     0.636045
AAPL    0.476534
ABBV    0.000000
          ...
YUM     0.462838
ZBH    -0.166639
ZBRA    0.285361
ZION    0.518741
ZTS     0.000000
Name: 2010-11-30 00:00:00, Length: 503, dtype: float64

In [19]:
past_12=past_12.reset_index()

In [20]:
past_12

    index  2010-11-30 00:00:00
0       A             0.127132
1     AAL             1.305785
2     AAP             0.636045
3    AAPL             0.476534
4    ABBV             0.000000
..    ...                  ...
498   YUM             0.462838
499   ZBH            -0.166639
500  ZBRA             0.285361
501  ZION             0.518741
502   ZTS             0.000000

[503 rows x 2 columns]

In [21]:
past_12['Decile']=pd.qcut(past_12.iloc[:,1],10,labels=False,duplicates='drop')

In [22]:
past_12

    index  2010-11-30 00:00:00  Decile
0       A             0.127132       5
1     AAL             1.305785       9
2     AAP             0.636045       9
3    AAPL             0.476534       8
4    ABBV             0.000000       2
..    ...                  ...     ...
498   YUM             0.462838       8
499   ZBH            -0.166639       0
500  ZBRA             0.285361       7
501  ZION             0.518741       9
502   ZTS             0.000000       2

[503 rows x 3 columns]

In [23]:
winners=past_12[past_12.Decile==9]
loser=past_12[past_12.Decile==0]

In [24]:
winners

    index  2010-11-30 00:00:00  Decile
1     AAL             1.305785       9
2     AAP             0.636045       9
21   AKAM             1.059590       9
22    ALB             0.502406       9
24    ALK             0.591435       9
30    AME             0.553938       9
51    AZO             0.641108       9
56   BBWI             0.864176       9
64   BKNG             0.804176       9
72    BWA             0.816376       9
78    CAT             0.522276       9
101   CMG             1.932055       9
102   CMI             1.142577       9
114   CRM             0.887217       9
122  CTXS             0.596491       9
138  DLTR             0.706522       9
141   DPZ             0.762530       9
156    EL             0.564750       9
164   EQR             0.514109       9
167   ETN             0.558272       9
171    EW             0.528152       9
173  EXPD             0.535436       9
176     F             0.594000       9
184  FFIV             1.489711       9
194  FTNT             0.813887       9
212   HAS             0.523130       9
213  HBAN             0.608253       9
235  ILMN             0.959583       9
236  INCY             0.592755       9
245    IT             0.783259       9
282   LVS             2.352075       9
327  NFLX             2.737520       9
336  NTAP             0.482247       9
352  ORLY             0.578699       9
358  PCAR             0.498382       9
367    PH             0.513162       9
383   PVH             0.672282       9
385   PXD             0.665363       9
389   RCL             0.592168       9
401  ROST             0.533684       9
425  SWKS             0.793517       9
441  TMUS             0.592398       9
442   TPR             0.562761       9
443  TRMB             0.477778       9
446  TSCO             0.616724       9
447  TSLA             0.478861       9
455   UAL             1.144074       9
458  ULTA             0.924560       9
462   URI             1.000000       9
493  WYNN             0.884940       9
501  ZION             0.518741       9

In [25]:
winnerret=Monthly_ret.loc[formation+MonthEnd(1),Monthly_ret.columns.isin(winners['index'])]
loserret=Monthly_ret.loc[formation+MonthEnd(1),Monthly_ret.columns.isin(loser['index'])]

In [26]:
momentumprofit=winnerret.mean()-loserret.mean()
momentumprofit

-0.03969408755987079

In [27]:
def momentum(formation):
    end_measure=formation-MonthEnd(1)
    past_12=past_11.loc[end_measure]
    past_12=past_12.reset_index()
    past_12['Decile']=pd.qcut(past_12.iloc[:,1],10,labels=False,duplicates='drop')
    winnerret=Monthly_ret.loc[formation+MonthEnd(1),Monthly_ret.columns.isin(winners['index'])]
    loserret=Monthly_ret.loc[formation+MonthEnd(1),Monthly_ret.columns.isin(loser['index'])]
    momentumprofit=winnerret.mean()-loserret.mean()
    return momentumprofit

In [28]:
momentum(formation)

-0.03969408755987079

In [29]:
for i in range(12*10):
    print(formation+MonthEnd(i))

2010-12-31 00:00:00
2011-01-31 00:00:00
2011-02-28 00:00:00
2011-03-31 00:00:00
2011-04-30 00:00:00
2011-05-31 00:00:00
2011-06-30 00:00:00
2011-07-31 00:00:00
2011-08-31 00:00:00
2011-09-30 00:00:00
2011-10-31 00:00:00
2011-11-30 00:00:00
2011-12-31 00:00:00
2012-01-31 00:00:00
2012-02-29 00:00:00
2012-03-31 00:00:00
2012-04-30 00:00:00
2012-05-31 00:00:00
2012-06-30 00:00:00
2012-07-31 00:00:00
2012-08-31 00:00:00
2012-09-30 00:00:00
2012-10-31 00:00:00
2012-11-30 00:00:00
2012-12-31 00:00:00
2013-01-31 00:00:00
2013-02-28 00:00:00
2013-03-31 00:00:00
2013-04-30 00:00:00
2013-05-31 00:00:00
2013-06-30 00:00:00
2013-07-31 00:00:00
2013-08-31 00:00:00
2013-09-30 00:00:00
2013-10-31 00:00:00
2013-11-30 00:00:00
2013-12-31 00:00:00
2014-01-31 00:00:00
2014-02-28 00:00:00
2014-03-31 00:00:00
2014-04-30 00:00:00
2014-05-31 00:00:00
2014-06-30 00:00:00
2014-07-31 00:00:00
2014-08-31 00:00:00
2014-09-30 00:00:00
2014-10-31 00:00:00
2014-11-30 00:00:00
2014-12-31 00:00:00
2015-01-31 00:00:00
2015-02-28 00:00:00
2015-03-31 00:00:00
2015-04-30 00:00:00
2015-05-31 00:00:00
2015-06-30 00:00:00
2015-07-31 00:00:00
2015-08-31 00:00:00
2015-09-30 00:00:00
2015-10-31 00:00:00
2015-11-30 00:00:00
2015-12-31 00:00:00
2016-01-31 00:00:00
2016-02-29 00:00:00
2016-03-31 00:00:00
2016-04-30 00:00:00
2016-05-31 00:00:00
2016-06-30 00:00:00
2016-07-31 00:00:00
2016-08-31 00:00:00
2016-09-30 00:00:00
2016-10-31 00:00:00
2016-11-30 00:00:00
2016-12-31 00:00:00
2017-01-31 00:00:00
2017-02-28 00:00:00
2017-03-31 00:00:00
2017-04-30 00:00:00
2017-05-31 00:00:00
2017-06-30 00:00:00
2017-07-31 00:00:00
2017-08-31 00:00:00
2017-09-30 00:00:00
2017-10-31 00:00:00
2017-11-30 00:00:00
2017-12-31 00:00:00
2018-01-31 00:00:00
2018-02-28 00:00:00
2018-03-31 00:00:00
2018-04-30 00:00:00
2018-05-31 00:00:00
2018-06-30 00:00:00
2018-07-31 00:00:00
2018-08-31 00:00:00
2018-09-30 00:00:00
2018-10-31 00:00:00
2018-11-30 00:00:00
2018-12-31 00:00:00
2019-01-31 00:00:00
2019-02-28 00:00:00
2019-03-31 00:00:00
2019-04-30 00:00:00
2019-05-31 00:00:00
2019-06-30 00:00:00
2019-07-31 00:00:00
2019-08-31 00:00:00
2019-09-30 00:00:00
2019-10-31 00:00:00
2019-11-30 00:00:00
2019-12-31 00:00:00
2020-01-31 00:00:00
2020-02-29 00:00:00
2020-03-31 00:00:00
2020-04-30 00:00:00
2020-05-31 00:00:00
2020-06-30 00:00:00
2020-07-31 00:00:00
2020-08-31 00:00:00
2020-09-30 00:00:00
2020-10-31 00:00:00
2020-11-30 00:00:00

In [30]:
profits=[]
dates=[]
for i in range(12*10):
    profits.append(momentum(formation+MonthEnd(i)))
    dates.append(momentum(formation+MonthEnd(i)))

In [31]:
profits

[-0.03969408755987079,
 -0.006599576902614996,
 0.03803791141366518,
 0.004435619498945595,
 0.009121155069068796,
 0.03368925513446065,
 -0.028514733615318748,
 -0.002114881782565123,
 -0.00933931641736338,
 0.04315172428410488,
 -0.007310201679606427,
 -0.029171613385448134,
 0.0723089830024724,
 0.007323836630888092,
 0.010053561003915398,
 0.01641616847270328,
 -0.01887629517658304,
 -0.0503462023052001,
 -0.009055967059259717,
 -0.0018498483848523387,
 -0.013334422890694642,
 0.015450108125369285,
 0.021901736514570874,
 -0.0160003444031814,
 -0.008390212641359043,
 -0.010930321864027301,
 -0.020380657583885096,
 0.0030771393936660923,
 -0.00038302604215938174,
 -0.011429943535994904,
 0.05343932446258565,
 0.020813331245985736,
 0.022919462261203026,
 -0.013190783950296266,
 -0.0022200082884227743,
 0.0044033428225540225,
 0.00452398521339181,
 0.04650836138654745,
 -0.02578566975150002,
 -0.005681073279757302,
 0.004052316146336971,
 -0.015080169264310689,
 -0.0024582934907003973,
 -0.0011348764803789102,
 -0.015875299997672676,
 0.025306608083545068,
 -0.003205924663265365,
 -3.4596195503245556e-05,
 0.00750981839170313,
 0.010975119758796073,
 0.014535315016635828,
 -0.0030297775939576235,
 -0.015749759380810947,
 0.03965157601673555,
 -0.010677380903095984,
 0.0023010404618518596,
 0.0017393543309664333,
 -0.01711800989522197,
 -0.024497052597268414,
 -0.013113867557846224,
 0.0021758657324041086,
 0.040125553952424196,
 -0.006012474553305336,
 -0.01943454836557136,
 -0.05088122859103368,
 -0.02981716407743069,
 0.015418828924142113,
 0.0004907979344763152,
 -0.014929581824869,
 0.023883243352902577,
 0.013495178294089749,
 -0.027569530527699077,
 0.0006563565776363731,
 -0.015829644268369834,
 -0.011364174215562019,
 -0.004467096013779986,
 -0.01188903046244466,
 -0.024573971023848857,
 -0.024024283922642577,
 -0.034853659460553105,
 0.01908509254338911,
 -0.03945398773432686,
 0.03874511752607361,
 0.021376521340663857,
 -0.017246314186813876,
 0.004767922280181608,
 -0.0014084549311122498,
 0.01217407645148118,
 -0.002394587875710164,
 -0.00599621881995281,
 -0.0012763881904284645,
 0.007386023912580468,
 0.020342488105646157,
 0.004477543434172407,
 0.004820278216681309,
 -0.013776221927128796,
 -0.0013063664802738656,
 0.002664413095333759,
 -0.02394562983232699,
 0.006812314192091447,
 -0.03386399028581123,
 0.015346574774560473,
 -0.01918468474549223,
 -0.062343019347072495,
 0.029609608943157558,
 0.01066992374361923,
 -0.0024625606266663602,
 -0.004965944976609973,
 -0.037733246787787174,
 0.001700951809566309,
 -0.06665280934463158,
 0.029358145697952615,
 0.02615397243150263,
 0.017984840190013597,
 -0.006769912191041547,
 0.056882464240499885,
 -0.006441552455881447,
 -0.009770700189371106,
 0.07126821815854814,
 0.018855698255708868]

In [32]:
sp=yf.download('^GSPC',start='2011-1-01',end='2020-12-01')

[*********************100%***********************]  1 of 1 completed

In [33]:
sp=sp['Adj Close']

In [34]:
sp_monthly_returns_values=sp.pct_change().resample('M').agg(lambda x: (x+1).prod()-1)
sp_monthly_returns_values.values

array([ 0.        ,  0.02264557,  0.03195656, -0.00104731,  0.02849538,
       -0.01350095, -0.01825746, -0.02147443, -0.05679111, -0.07176199,
        0.10772304, -0.00505872,  0.00853276,  0.04358306,  0.04058946,
        0.03133231, -0.00749745, -0.06265073,  0.03955498,  0.01259757,
        0.01976337,  0.02423615, -0.01978941,  0.00284672,  0.00706823,
        0.0504281 ,  0.01106065,  0.03598772,  0.01808577,  0.02076281,
       -0.0149993 ,  0.04946208, -0.03129802,  0.02974952,  0.04459575,
        0.02804947,  0.02356279, -0.03558291,  0.04311703,  0.00693217,
        0.00620079,  0.02103028,  0.01905833, -0.01507983,  0.0376553 ,
       -0.01551384,  0.02320146,  0.02453359, -0.00418859, -0.03104081,
        0.05489251, -0.01739611,  0.00852082,  0.01049138, -0.02101167,
        0.01974203, -0.06258082, -0.02644283,  0.08298312,  0.00050487,
       -0.01753019, -0.05073532, -0.00412836,  0.06599111,  0.0026994 ,
        0.0153246 ,  0.00091092,  0.0356098 , -0.00121924, -0.00123445,
       -0.01942568,  0.03417452,  0.01820076,  0.01788436,  0.03719816,
       -0.0003892 ,  0.00909121,  0.01157625,  0.00481378,  0.01934883,
        0.00054643,  0.01930298,  0.02218814,  0.02808263,  0.00983163,
        0.0561787 , -0.03894737, -0.0268845 ,  0.00271877,  0.02160834,
        0.00484244,  0.03602156,  0.03026321,  0.00429429, -0.06940336,
        0.01785936, -0.09177689,  0.0786844 ,  0.02972889,  0.01792426,
        0.0393135 , -0.06577773,  0.06893016,  0.01312815, -0.01809163,
        0.01718118,  0.02043177,  0.03404704,  0.02858982, -0.00162809,
       -0.08411048, -0.12511928,  0.12684404,  0.04528182,  0.0183884 ,
        0.05510132,  0.07006467, -0.03922797, -0.02766579,  0.10754564])

In [35]:
frame=pd.DataFrame(profits)
frame

            0
0   -0.039694
1   -0.006600
2    0.038038
3    0.004436
4    0.009121
..        ...
115  0.056882
116 -0.006442
117 -0.009771
118  0.071268
119  0.018856

[120 rows x 1 columns]

In [36]:
frame['S&P 500 monthly return']=sp_monthly_returns_values.values

In [37]:
frame['Excess']=frame.iloc[:,0]-frame.iloc[:,1]

In [38]:
frame['outperformed']=['Yes' if i >0 else 'No' for i in frame.Excess]

In [39]:
frame[frame.outperformed=='Yes'].shape

(41, 4)

In [40]:
frame.shape

(120, 4)

In [41]:
41/120

0.3416666666666667