In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

In [2]:
scaled=pd.read_excel('NEDL_Portfolio_Evaluation.xlsx',index_col='Unnamed: 0')[['Artisan Global Opportunities','Barings Fixed Income','S&P 500','US 10-year bond yield']].dropna()
scaled

,Artisan Global Opportunities,Barings Fixed Income,S&P 500,US 10-year bond yield
2007-12-31,1148.58,3313.76,1468.3600,4.0232
2008-01-31,1037.86,3373.76,1380.2835,3.5931
2008-02-29,1008.07,3366.48,1335.4384,3.5092
2008-03-31,999.20,3361.26,1329.6650,3.4096
2008-04-30,1071.64,3358.05,1394.4310,3.7279
...,...,...,...,...
2019-08-31,3235.61,5608.48,3752.1537,1.4961
2019-09-30,3235.93,5580.21,3822.3592,1.6646
2019-10-31,3309.06,5596.89,3905.1411,1.6910
2019-11-30,3411.64,5595.90,4046.8974,1.7758
2019-12-31,3411.64,5593.17,4168.7699,1.9175

In [3]:
scaled['Monthly risk-free']=(1+scaled['US 10-year bond yield']/100)**(1/12)-1
scaled['Return_A']=(scaled['Artisan Global Opportunities']/scaled['Artisan Global Opportunities'].shift(1))-1
scaled['Return_B']=(scaled['Barings Fixed Income']/scaled['Barings Fixed Income'].shift(1))-1
scaled['Return_C']=(scaled['S&P 500']/scaled['S&P 500'].shift(1))-1
scaled['Peak_A']=scaled['Artisan Global Opportunities'].expanding().max()
scaled['Peak_B']=scaled['Barings Fixed Income'].expanding().max()
scaled['Peak_C']=scaled['S&P 500'].expanding().max()
scaled['Drawdown_A']=(scaled['Artisan Global Opportunities'].values/scaled['Peak_A'].values)-1
scaled['Drawdown_B']=(scaled['Barings Fixed Income'].values/scaled['Peak_B'].values)-1
scaled['Drawdown_C']=(scaled['S&P 500'].values/scaled['Peak_C'].values)-1
scaled

,Artisan Global Opportunities,Barings Fixed Income,S&P 500,US 10-year bond yield,Monthly risk-free,Return_A,Return_B,Return_C,Peak_A,Peak_B,Peak_C,Drawdown_A,Drawdown_B,Drawdown_C
2007-12-31,1148.58,3313.76,1468.3600,4.0232,0.003292,NaN,NaN,NaN,1148.58,3313.76,1468.3600,0.000000,0.000000,0.000000
2008-01-31,1037.86,3373.76,1380.2835,3.5931,0.002946,-0.096397,0.018106,-0.059983,1148.58,3373.76,1468.3600,-0.096397,0.000000,-0.059983
2008-02-29,1008.07,3366.48,1335.4384,3.5092,0.002878,-0.028703,-0.002158,-0.032490,1148.58,3373.76,1468.3600,-0.122334,-0.002158,-0.090524
2008-03-31,999.20,3361.26,1329.6650,3.4096,0.002798,-0.008799,-0.001551,-0.004323,1148.58,3373.76,1468.3600,-0.130056,-0.003705,-0.094456
2008-04-30,1071.64,3358.05,1394.4310,3.7279,0.003055,0.072498,-0.000955,0.048709,1148.58,3373.76,1468.3600,-0.066987,-0.004657,-0.050348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-31,3235.61,5608.48,3752.1537,1.4961,0.001238,-0.017100,0.024743,-0.015840,3291.90,5608.48,3812.5446,-0.017100,0.000000,-0.015840
2019-09-30,3235.93,5580.21,3822.3592,1.6646,0.001377,0.000099,-0.005041,0.018711,3291.90,5608.48,3822.3592,-0.017002,-0.005041,0.000000
2019-10-31,3309.06,5596.89,3905.1411,1.6910,0.001398,0.022599,0.002989,0.021657,3309.06,5608.48,3905.1411,0.000000,-0.002067,0.000000
2019-11-30,3411.64,5595.90,4046.8974,1.7758,0.001468,0.031000,-0.000177,0.036300,3411.64,5608.48,4046.8974,0.000000,-0.002243,0.000000
2019-12-31,3411.64,5593.17,4168.7699,1.9175,0.001584,0.000000,-0.000488,0.030115,3411.64,5608.48,4168.7699,0.000000,-0.002730,0.000000

In [4]:
scaled['Excess Return_A']=scaled['Return_A'].values-scaled['Monthly risk-free'].values
scaled['Excess Return_B']=scaled['Return_B'].values-scaled['Monthly risk-free'].values
scaled['Excess Return_C']=scaled['Return_C'].values-scaled['Monthly risk-free'].values
scaled

,Artisan Global Opportunities,Barings Fixed Income,S&P 500,US 10-year bond yield,Monthly risk-free,Return_A,Return_B,Return_C,Peak_A,Peak_B,Peak_C,Drawdown_A,Drawdown_B,Drawdown_C,Excess Return_A,Excess Return_B,Excess Return_C
2007-12-31,1148.58,3313.76,1468.3600,4.0232,0.003292,NaN,NaN,NaN,1148.58,3313.76,1468.3600,0.000000,0.000000,0.000000,NaN,NaN,NaN
2008-01-31,1037.86,3373.76,1380.2835,3.5931,0.002946,-0.096397,0.018106,-0.059983,1148.58,3373.76,1468.3600,-0.096397,0.000000,-0.059983,-0.099343,0.015160,-0.062929
2008-02-29,1008.07,3366.48,1335.4384,3.5092,0.002878,-0.028703,-0.002158,-0.032490,1148.58,3373.76,1468.3600,-0.122334,-0.002158,-0.090524,-0.031582,-0.005036,-0.035368
2008-03-31,999.20,3361.26,1329.6650,3.4096,0.002798,-0.008799,-0.001551,-0.004323,1148.58,3373.76,1468.3600,-0.130056,-0.003705,-0.094456,-0.011597,-0.004348,-0.007121
2008-04-30,1071.64,3358.05,1394.4310,3.7279,0.003055,0.072498,-0.000955,0.048709,1148.58,3373.76,1468.3600,-0.066987,-0.004657,-0.050348,0.069443,-0.004010,0.045654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-31,3235.61,5608.48,3752.1537,1.4961,0.001238,-0.017100,0.024743,-0.015840,3291.90,5608.48,3812.5446,-0.017100,0.000000,-0.015840,-0.018338,0.023505,-0.017078
2019-09-30,3235.93,5580.21,3822.3592,1.6646,0.001377,0.000099,-0.005041,0.018711,3291.90,5608.48,3822.3592,-0.017002,-0.005041,0.000000,-0.001278,-0.006417,0.017334
2019-10-31,3309.06,5596.89,3905.1411,1.6910,0.001398,0.022599,0.002989,0.021657,3309.06,5608.48,3905.1411,0.000000,-0.002067,0.000000,0.021201,0.001591,0.020259
2019-11-30,3411.64,5595.90,4046.8974,1.7758,0.001468,0.031000,-0.000177,0.036300,3411.64,5608.48,4046.8974,0.000000,-0.002243,0.000000,0.029532,-0.001645,0.034832
2019-12-31,3411.64,5593.17,4168.7699,1.9175,0.001584,0.000000,-0.000488,0.030115,3411.64,5608.48,4168.7699,0.000000,-0.002730,0.000000,-0.001584,-0.002072,0.028531

In [5]:
scaled['Downside_A']=[i-j if i<j else 0 for i,j in scaled[['Return_A','Monthly risk-free']].values]
scaled['Downside_B']=[i-j if i<j else 0 for i,j in scaled[['Return_B','Monthly risk-free']].values]
scaled['Downside_C']=[i-j if i<j else 0 for i,j in scaled[['Return_C','Monthly risk-free']].values]
scaled

,Artisan Global Opportunities,Barings Fixed Income,S&P 500,US 10-year bond yield,Monthly risk-free,Return_A,Return_B,Return_C,Peak_A,Peak_B,Peak_C,Drawdown_A,Drawdown_B,Drawdown_C,Excess Return_A,Excess Return_B,Excess Return_C,Downside_A,Downside_B,Downside_C
2007-12-31,1148.58,3313.76,1468.3600,4.0232,0.003292,NaN,NaN,NaN,1148.58,3313.76,1468.3600,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000
2008-01-31,1037.86,3373.76,1380.2835,3.5931,0.002946,-0.096397,0.018106,-0.059983,1148.58,3373.76,1468.3600,-0.096397,0.000000,-0.059983,-0.099343,0.015160,-0.062929,-0.099343,0.000000,-0.062929
2008-02-29,1008.07,3366.48,1335.4384,3.5092,0.002878,-0.028703,-0.002158,-0.032490,1148.58,3373.76,1468.3600,-0.122334,-0.002158,-0.090524,-0.031582,-0.005036,-0.035368,-0.031582,-0.005036,-0.035368
2008-03-31,999.20,3361.26,1329.6650,3.4096,0.002798,-0.008799,-0.001551,-0.004323,1148.58,3373.76,1468.3600,-0.130056,-0.003705,-0.094456,-0.011597,-0.004348,-0.007121,-0.011597,-0.004348,-0.007121
2008-04-30,1071.64,3358.05,1394.4310,3.7279,0.003055,0.072498,-0.000955,0.048709,1148.58,3373.76,1468.3600,-0.066987,-0.004657,-0.050348,0.069443,-0.004010,0.045654,0.000000,-0.004010,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-31,3235.61,5608.48,3752.1537,1.4961,0.001238,-0.017100,0.024743,-0.015840,3291.90,5608.48,3812.5446,-0.017100,0.000000,-0.015840,-0.018338,0.023505,-0.017078,-0.018338,0.000000,-0.017078
2019-09-30,3235.93,5580.21,3822.3592,1.6646,0.001377,0.000099,-0.005041,0.018711,3291.90,5608.48,3822.3592,-0.017002,-0.005041,0.000000,-0.001278,-0.006417,0.017334,-0.001278,-0.006417,0.000000
2019-10-31,3309.06,5596.89,3905.1411,1.6910,0.001398,0.022599,0.002989,0.021657,3309.06,5608.48,3905.1411,0.000000,-0.002067,0.000000,0.021201,0.001591,0.020259,0.000000,0.000000,0.000000
2019-11-30,3411.64,5595.90,4046.8974,1.7758,0.001468,0.031000,-0.000177,0.036300,3411.64,5608.48,4046.8974,0.000000,-0.002243,0.000000,0.029532,-0.001645,0.034832,0.000000,-0.001645,0.000000
2019-12-31,3411.64,5593.17,4168.7699,1.9175,0.001584,0.000000,-0.000488,0.030115,3411.64,5608.48,4168.7699,0.000000,-0.002730,0.000000,-0.001584,-0.002072,0.028531,-0.001584,-0.002072,0.000000

In [6]:
matrix=pd.DataFrame(columns=['Artisan Global Opportunities','Barings Fixed Income','S&P 500'],index=['Annualised return','Annualised risk','Annualised risk-free','Sharp ratio','Beta','Treynor ratio',"Alpha(Jensen's)","Maximum drawdown","Average drawdown","Calmer ratio","Sterling ratio","downsides","Semivariance","Semideviation","Sortino ratio"])
matrix

                     Artisan Global Opportunities Barings Fixed Income S&P 500
Annualised return                             NaN                  NaN     NaN
Annualised risk                               NaN                  NaN     NaN
Annualised risk-free                          NaN                  NaN     NaN
Sharp ratio                                   NaN                  NaN     NaN
Beta                                          NaN                  NaN     NaN
Treynor ratio                                 NaN                  NaN     NaN
Alpha(Jensen's)                               NaN                  NaN     NaN
Maximum drawdown                              NaN                  NaN     NaN
Average drawdown                              NaN                  NaN     NaN
Calmer ratio                                  NaN                  NaN     NaN
Sterling ratio                                NaN                  NaN     NaN
downsides                                     NaN                  NaN     NaN
Semivariance                                  NaN                  NaN     NaN
Semideviation                                 NaN                  NaN     NaN
Sortino ratio                                 NaN                  NaN     NaN

In [7]:
matrix.loc['Annualised return','Artisan Global Opportunities']=(1+scaled['Return_A']).prod()**(1/12)-1
matrix

                     Artisan Global Opportunities Barings Fixed Income S&P 500
Annualised return                        0.094965                  NaN     NaN
Annualised risk                               NaN                  NaN     NaN
Annualised risk-free                          NaN                  NaN     NaN
Sharp ratio                                   NaN                  NaN     NaN
Beta                                          NaN                  NaN     NaN
Treynor ratio                                 NaN                  NaN     NaN
Alpha(Jensen's)                               NaN                  NaN     NaN
Maximum drawdown                              NaN                  NaN     NaN
Average drawdown                              NaN                  NaN     NaN
Calmer ratio                                  NaN                  NaN     NaN
Sterling ratio                                NaN                  NaN     NaN
downsides                                     NaN                  NaN     NaN
Semivariance                                  NaN                  NaN     NaN
Semideviation                                 NaN                  NaN     NaN
Sortino ratio                                 NaN                  NaN     NaN

In [8]:
matrix.loc['Annualised return','Artisan Global Opportunities']=(1+scaled['Return_A']).prod()**(1/12)-1
matrix.loc['Annualised return','Barings Fixed Income']=(1+scaled['Return_B']).prod()**(1/12)-1
matrix.loc['Annualised return','S&P 500']=(1+scaled['Return_C']).prod()**(1/12)-1
matrix.loc['Annualised risk','Artisan Global Opportunities']=np.sqrt(12)*scaled['Return_A'].std()
matrix.loc['Annualised risk','Barings Fixed Income']=np.sqrt(12)*scaled['Return_B'].std()
matrix.loc['Annualised risk','S&P 500']=np.sqrt(12)*scaled['Return_C'].std()
matrix.loc['Annualised risk-free','Artisan Global Opportunities']=0.0402
matrix.loc['Annualised risk-free','Barings Fixed Income']=0.0402
matrix.loc['Annualised risk-free','S&P 500']=0.0402
matrix.loc['Sharp ratio','Artisan Global Opportunities']=(matrix.loc['Annualised return','Artisan Global Opportunities']-matrix.loc['Annualised risk-free','S&P 500'])/matrix.loc['Annualised risk','Artisan Global Opportunities']
matrix.loc['Sharp ratio','Barings Fixed Income']=(matrix.loc['Annualised return','Barings Fixed Income']-matrix.loc['Annualised risk-free','S&P 500'])/matrix.loc['Annualised risk','Barings Fixed Income']
matrix.loc['Sharp ratio','S&P 500']=(matrix.loc['Annualised return','S&P 500']-matrix.loc['Annualised risk-free','S&P 500'])/matrix.loc['Annualised risk','S&P 500']
matrix.loc['Beta','Artisan Global Opportunities']=np.polyfit(scaled['Return_C'].dropna().values,scaled['Return_A'].dropna().values,1)[0]
matrix.loc['Beta','Barings Fixed Income']=np.polyfit(scaled['Return_C'].dropna().values,scaled['Return_B'].dropna().values,1)[0]
matrix.loc['Beta','S&P 500']=np.polyfit(scaled['Return_C'].dropna().values,scaled['Return_C'].dropna().values,1)[0]
matrix.loc['Treynor ratio','Artisan Global Opportunities']=(matrix.loc['Annualised return','Artisan Global Opportunities']-matrix.loc['Annualised risk-free','S&P 500'])/matrix.loc['Beta','Artisan Global Opportunities']
matrix.loc['Treynor ratio','Barings Fixed Income']=(matrix.loc['Annualised return','Barings Fixed Income']-matrix.loc['Annualised risk-free','S&P 500'])/matrix.loc['Beta','Barings Fixed Income']
matrix.loc['Treynor ratio','S&P 500']=(matrix.loc['Annualised return','S&P 500']-matrix.loc['Annualised risk-free','S&P 500'])/matrix.loc['Beta','S&P 500']
matrix.loc["Alpha(Jensen's)",'Artisan Global Opportunities']=(matrix.loc['Annualised return','Artisan Global Opportunities']-matrix.loc['Annualised risk-free','S&P 500'])-matrix.loc['Beta','Artisan Global Opportunities']*(matrix.loc['Annualised return','S&P 500']-matrix.loc['Annualised risk-free','Artisan Global Opportunities'])
matrix.loc["Alpha(Jensen's)",'Barings Fixed Income']=(matrix.loc['Annualised return','Barings Fixed Income']-matrix.loc['Annualised risk-free','S&P 500'])-matrix.loc['Beta','Barings Fixed Income']*(matrix.loc['Annualised return','S&P 500']-matrix.loc['Annualised risk-free','Barings Fixed Income'])
matrix.loc["Alpha(Jensen's)",'S&P 500']=(matrix.loc['Annualised return','S&P 500']-matrix.loc['Annualised risk-free','S&P 500'])-matrix.loc['Beta','S&P 500']*(matrix.loc['Annualised return','S&P 500']-matrix.loc['Annualised risk-free','S&P 500'])
matrix

,Artisan Global Opportunities,Barings Fixed Income,S&P 500
Annualised return,0.094965,0.044587,0.090849
Annualised risk,0.176913,0.033036,0.14956
Annualised risk-free,0.0402,0.0402,0.0402
Sharp ratio,0.309558,0.132805,0.338653
Beta,1.078315,0.033251,1.0
Treynor ratio,0.050787,0.131947,0.050649
Alpha(Jensen's),0.000149,0.002703,-0.0
Maximum drawdown,NaN,NaN,NaN
Average drawdown,NaN,NaN,NaN
Calmer ratio,NaN,NaN,NaN
Sterling ratio,NaN,NaN,NaN
downsides,NaN,NaN,NaN
Semivariance,NaN,NaN,NaN
Semideviation,NaN,NaN,NaN
Sortino ratio,NaN,NaN,NaN

In [9]:
matrix.loc['Maximum drawdown','Artisan Global Opportunities']=-np.min(scaled['Drawdown_A'])
matrix.loc['Maximum drawdown','Barings Fixed Income']=-np.min(scaled['Drawdown_B'])
matrix.loc['Maximum drawdown','S&P 500']=-np.min(scaled['Drawdown_C'])
matrix.loc['Average drawdown','Artisan Global Opportunities']=-np.mean(scaled['Drawdown_A'][scaled['Drawdown_A']<0])
matrix.loc['Average drawdown','Barings Fixed Income']=-np.mean(scaled['Drawdown_B'][scaled['Drawdown_B']<0])
matrix.loc['Average drawdown','S&P 500']=-np.mean(scaled['Drawdown_C'][scaled['Drawdown_C']<0])
matrix.loc['Calmer ratio','Artisan Global Opportunities']=(matrix.loc['Annualised return','Artisan Global Opportunities']-matrix.loc['Annualised risk-free','Artisan Global Opportunities'])/matrix.loc['Maximum drawdown','Artisan Global Opportunities']
matrix.loc['Calmer ratio','Barings Fixed Income']=(matrix.loc['Annualised return','Barings Fixed Income']-matrix.loc['Annualised risk-free','Barings Fixed Income'])/matrix.loc['Maximum drawdown','Barings Fixed Income']
matrix.loc['Calmer ratio','S&P 500']=(matrix.loc['Annualised return','S&P 500']-matrix.loc['Annualised risk-free','S&P 500'])/matrix.loc['Maximum drawdown','S&P 500']
matrix.loc['Sterling ratio','Artisan Global Opportunities']=(matrix.loc['Annualised return','Artisan Global Opportunities']-matrix.loc['Annualised risk-free','Artisan Global Opportunities'])/matrix.loc['Average drawdown','Artisan Global Opportunities']
matrix.loc['Sterling ratio','Barings Fixed Income']=(matrix.loc['Annualised return','Barings Fixed Income']-matrix.loc['Annualised risk-free','Barings Fixed Income'])/matrix.loc['Average drawdown','Barings Fixed Income']
matrix.loc['Sterling ratio','S&P 500']=(matrix.loc['Annualised return','S&P 500']-matrix.loc['Annualised risk-free','S&P 500'])/matrix.loc['Average drawdown','S&P 500']
matrix.loc['downsides','Artisan Global Opportunities']=scaled[scaled['Downside_A']!=0]['Downside_A'].count()
matrix.loc['downsides','Barings Fixed Income']=scaled[scaled['Downside_B']!=0]['Downside_B'].count()
matrix.loc['downsides','S&P 500']=scaled[scaled['Downside_C']!=0]['Downside_C'].count()
matrix.loc['Semivariance','Artisan Global Opportunities']=np.sum((scaled['Downside_A'])**2)/matrix.loc['downsides','Artisan Global Opportunities']
matrix.loc['Semivariance','Barings Fixed Income']=np.sum((scaled['Downside_B'])**2)/matrix.loc['downsides','Barings Fixed Income']
matrix.loc['Semivariance','S&P 500']=np.sum((scaled['Downside_C'])**2)/matrix.loc['downsides','S&P 500']
matrix.loc['Semideviation','Artisan Global Opportunities']=np.sqrt(matrix.loc['Semivariance','Artisan Global Opportunities'])*np.sqrt(12)
matrix.loc['Semideviation','Barings Fixed Income']=np.sqrt(matrix.loc['Semivariance','Barings Fixed Income'])*np.sqrt(12)
matrix.loc['Semideviation','S&P 500']=np.sqrt(matrix.loc['Semivariance','S&P 500'])*np.sqrt(12)
matrix.loc['Sortino ratio','Artisan Global Opportunities']=(matrix.loc['Annualised return','Artisan Global Opportunities']-matrix.loc['Annualised risk-free','Artisan Global Opportunities'])/matrix.loc['Semideviation','Artisan Global Opportunities']
matrix.loc['Sortino ratio','Barings Fixed Income']=(matrix.loc['Annualised return','Barings Fixed Income']-matrix.loc['Annualised risk-free','Barings Fixed Income'])/matrix.loc['Semideviation','Barings Fixed Income']
matrix.loc['Sortino ratio','S&P 500']=(matrix.loc['Annualised return','S&P 500']-matrix.loc['Annualised risk-free','S&P 500'])/matrix.loc['Semideviation','S&P 500']
matrix

,Artisan Global Opportunities,Barings Fixed Income,S&P 500
Annualised return,0.094965,0.044587,0.090849
Annualised risk,0.176913,0.033036,0.14956
Annualised risk-free,0.0402,0.0402,0.0402
Sharp ratio,0.309558,0.132805,0.338653
Beta,1.078315,0.033251,1.0
Treynor ratio,0.050787,0.131947,0.050649
Alpha(Jensen's),0.000149,0.002703,-0.0
Maximum drawdown,0.497022,0.054227,0.484525
Average drawdown,0.112901,0.012534,0.114015
Calmer ratio,0.110186,0.080906,0.104533
Sterling ratio,0.485068,0.350035,0.44423
downsides,55,62,50
Semivariance,0.003326,0.000087,0.002732
Semideviation,0.19977,0.03227,0.181064
Sortino ratio,0.274139,0.135958,0.279729

In [10]:
#Semideviation>Annualised risk means has more downside risk
#Sortino ratio greater means over Performed with lower downside risk