In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_excel('C:\\Users\\nafissaad\\Tutorial\\Fundamental analysis\\Technical analysis\\NEDL_Omega_Ratio.xlsx',index_col='Date')
df=df.rename(columns=df.iloc[0])
df=df[1:]
df=df.iloc[:,0:5]
df

                  TSLA        AAPL        MSFT         WMT         CAT
Date
2010-09-14       4.224    8.272898   19.830849   41.047852   53.342751
2010-09-15       4.396    8.339559   19.902151   41.203758   53.565552
2010-09-16       4.188    8.535535   20.068541   41.429798   53.469013
2010-09-17       4.046    8.498499   19.981386   41.320667    54.34531
2010-09-20       4.212    8.741076   20.147764   41.733799   55.511215
...                ...         ...         ...         ...         ...
2020-09-04  418.320007  120.959999      214.25  142.830002  148.179993
2020-09-08  330.209991      112.82  202.660004  138.449997  148.520004
2020-09-09  366.279999      117.32  211.289993  139.889999  152.690002
2020-09-10  371.339996  113.489998  205.369995  136.809998  149.860001
2020-09-11  372.720001         112  204.029999  136.699997  153.830002

[2517 rows x 5 columns]

In [3]:
returns=df.pct_change()
returns

                TSLA      AAPL      MSFT       WMT       CAT
Date
2010-09-14       NaN       NaN       NaN       NaN       NaN
2010-09-15  0.040720  0.008058  0.003596  0.003798  0.004177
2010-09-16 -0.047316  0.023500  0.008360  0.005486 -0.001802
2010-09-17 -0.033906 -0.004339 -0.004343 -0.002634  0.016389
2010-09-20  0.041028  0.028544  0.008327  0.009998  0.021454
...              ...       ...       ...       ...       ...
2020-09-04  0.027813  0.000662 -0.014036 -0.011831  0.009676
2020-09-08 -0.210628 -0.067295 -0.054096 -0.030666  0.002295
2020-09-09  0.109234  0.039887  0.042584  0.010401  0.028077
2020-09-10  0.013815 -0.032646 -0.028018 -0.022017 -0.018534
2020-09-11  0.003716 -0.013129 -0.006525 -0.000804  0.026491

[2517 rows x 5 columns]

In [4]:
Matrix=pd.DataFrame(columns=[df.columns],index=['Returns','Weights'])
Matrix

        TSLA AAPL MSFT  WMT  CAT
Returns  NaN  NaN  NaN  NaN  NaN
Weights  NaN  NaN  NaN  NaN  NaN

In [5]:
for i in df.columns:
    Matrix.loc['Returns',i]=np.prod(1+returns[i])**(1/len(df))-1
    Matrix.loc['Weights',:]=0.2
Matrix

             TSLA      AAPL      MSFT       WMT       CAT
Returns  0.001781  0.001036  0.000927  0.000478  0.000421
Weights       0.2       0.2       0.2       0.2       0.2

In [6]:
Annual_target_return=0.1
Expected_returns=Matrix.loc['Returns'].mean()
Targeted_daily_return=(1+0.1)**(1/252)-1
Outperformance=Expected_returns-Targeted_daily_return
Outperformance

0.0005502534792030112

In [7]:
returns['Portfolio']=Matrix.loc['Weights'].values.dot(returns.T)
returns

                TSLA      AAPL      MSFT       WMT       CAT Portfolio
Date
2010-09-14       NaN       NaN       NaN       NaN       NaN       NaN
2010-09-15  0.040720  0.008058  0.003596  0.003798  0.004177   0.01207
2010-09-16 -0.047316  0.023500  0.008360  0.005486 -0.001802 -0.002354
2010-09-17 -0.033906 -0.004339 -0.004343 -0.002634  0.016389 -0.005767
2010-09-20  0.041028  0.028544  0.008327  0.009998  0.021454   0.02187
...              ...       ...       ...       ...       ...       ...
2020-09-04  0.027813  0.000662 -0.014036 -0.011831  0.009676  0.002457
2020-09-08 -0.210628 -0.067295 -0.054096 -0.030666  0.002295 -0.072078
2020-09-09  0.109234  0.039887  0.042584  0.010401  0.028077  0.046036
2020-09-10  0.013815 -0.032646 -0.028018 -0.022017 -0.018534  -0.01748
2020-09-11  0.003716 -0.013129 -0.006525 -0.000804  0.026491   0.00195

[2517 rows x 6 columns]

In [8]:
returns['Downside']=[max(Targeted_daily_return-i,0) for i in returns['Portfolio'].fillna(1).values]
returns

,TSLA,AAPL,MSFT,WMT,CAT,Portfolio,Downside
Date,,,,,,,
2010-09-14,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2010-09-15,0.040720,0.008058,0.003596,0.003798,0.004177,0.01207,0.000000
2010-09-16,-0.047316,0.023500,0.008360,0.005486,-0.001802,-0.002354,0.002733
2010-09-17,-0.033906,-0.004339,-0.004343,-0.002634,0.016389,-0.005767,0.006145
2010-09-20,0.041028,0.028544,0.008327,0.009998,0.021454,0.02187,0.000000
...,...,...,...,...,...,...,...
2020-09-04,0.027813,0.000662,-0.014036,-0.011831,0.009676,0.002457,0.000000
2020-09-08,-0.210628,-0.067295,-0.054096,-0.030666,0.002295,-0.072078,0.072456
2020-09-09,0.109234,0.039887,0.042584,0.010401,0.028077,0.046036,0.000000
2020-09-10,0.013815,-0.032646,-0.028018,-0.022017,-0.018534,-0.01748,0.017859
2020-09-11,0.003716,-0.013129,-0.006525,-0.000804,0.026491,0.00195,0.000000

In [9]:
Downside_risk=returns['Downside'].mean()
Downside_risk

0.004465396727163319

In [10]:
Omega_rato=(Outperformance/Downside_risk)+1

In [11]:
#We can Maximize Omega_ratio for optimize portfolio Weights