In [1]:
total_book_debt=1000000
interest_expense=60000
cost_of_debt=0.08

In [2]:
mv_debt=total_book_debt
mv_debt

1000000

In [3]:
average_maturity=5

In [4]:
#Determin the Coupon Payment on the Hypothetical Bond
coupon_rate=interest_expense/total_book_debt
coupon_rate

0.06

In [5]:
principal=total_book_debt
coupon_payment=coupon_rate*principal
cash_flows=[coupon_rate*principal for i in range(average_maturity-1)]+[(1+coupon_rate)*principal]
cash_flows

[60000.0, 60000.0, 60000.0, 60000.0, 1060000.0]

In [6]:
[coupon_rate*principal for i in range(average_maturity-1)]#Coupon payment last 4 year

[60000.0, 60000.0, 60000.0, 60000.0]

In [7]:
[(1+coupon_rate)*principal]#Coupon payment in last year plust principal ammount

[1060000.0]

In [8]:
import numpy_financial as npf
#Calculate Value of Hypothetical Bond as Mv of Debt
mv_debt=npf.npv(cost_of_debt,[0]+cash_flows)
mv_debt

920145.7992584379

In [9]:
[0]+cash_flows

[0, 60000.0, 60000.0, 60000.0, 60000.0, 1060000.0]

In [10]:
cash_flows

[60000.0, 60000.0, 60000.0, 60000.0, 1060000.0]

In [11]:
mv_debt=coupon_payment*((1-(1+cost_of_debt)**(-average_maturity))/cost_of_debt)+principal/(1+cost_of_debt)**average_maturity
mv_debt

920145.7992584382

In [12]:
# we can wrap this all up in a function
def mv_debt_by_average_maturity(average_maturity,cost_of_debt,total_book_debt,interest_expense):
    '''Calculate the market value of debt based off financial statement data, cost of debt, and average maturity'''
    coupon_rate=interest_expense/total_book_debt
    principal=total_book_debt
    coupon_payment=coupon_rate*principal
    return coupon_payment*((1-(1+cost_of_debt)**(-average_maturity))/cost_of_debt)+principal/(1+cost_of_debt)**average_maturity
mv_debt_by_average_maturity(5.5,cost_of_debt,total_book_debt,interest_expense)

913722.8716722389

In [13]:
import pandas as pd
df=pd.read_excel('debt data.xlsx')
df

   Principal  Coupon Rate  Maturity (years) Maturity (Date)
0     300000         0.07                 2      2021-11-06
1     500000         0.05                 3      2022-11-06
2     200000         0.06                 4      2023-11-06

In [14]:
df['Principal'].sum()

1000000

In [15]:
total_book_debt

1000000

In [16]:
#Calculate the Value of Debt Instrument
principal=300000
coupon_rate=0.07
maturity=2

coupon_payment=coupon_rate*principal
cash_flows=[coupon_rate*principal for i in range(maturity-1)]+[(1+coupon_rate)*principal]
cash_flows

[21000.000000000004, 321000.0]

In [17]:
my_debt=npf.npv(cost_of_debt,[0]+cash_flows)
my_debt

294650.2057613168

In [18]:
def mv_bond(principal,coupon_rate,maturity,cost_of_debt):
    '''
    Calculate the market value of bond
    '''
    coupon_payment=coupon_rate*principal
    cash_flows=[coupon_rate*principal for i in range(maturity-1)]+[coupon_payment+principal]
    return npf.npv(cost_of_debt,[0]+cash_flows)
mv_bond(principal,coupon_rate,maturity,cost_of_debt)

294650.2057613168

In [19]:
def understand_apply(series):
    '''
    For demonstration purpose to understand DataFrame.apply
    '''
    print('Calling understand_apply')
    print(f'Got values:\n{series}\n')
    print(f'Values have type{type(series)}')
    principal=series['Principal']
    print(f'Value pf principal in the series:{principal}')
    principal=series['Principal']
    print(f'Value pf principal in the series:{principal}')
    print('\n\n\n')#separate output

In [20]:
df.apply(understand_apply,axis=1)

Calling understand_apply
Got values:
Principal                        300000
Coupon Rate                        0.07
Maturity (years)                      2
Maturity (Date)     2021-11-06 00:00:00
Name: 0, dtype: object

Values have type<class 'pandas.core.series.Series'>
Value pf principal in the series:300000
Value pf principal in the series:300000




Calling understand_apply
Got values:
Principal                        500000
Coupon Rate                        0.05
Maturity (years)                      3
Maturity (Date)     2022-11-06 00:00:00
Name: 1, dtype: object

Values have type<class 'pandas.core.series.Series'>
Value pf principal in the series:500000
Value pf principal in the series:500000




Calling understand_apply
Got values:
Principal                        200000
Coupon Rate                        0.06
Maturity (years)                      4
Maturity (Date)     2023-11-06 00:00:00
Name: 2, dtype: object

Values have type<class 'pandas.core.series.Series'>
Value pf principal in the series:200000
Value pf principal in the series:200000

0    None
1    None
2    None
dtype: object

In [21]:
def mv_bond_for_apply(series,cost_of_debt):
    '''
    For demonstration purpose to understand DataFrame.apply
    '''
    principal=series['Principal']
    coupon_rate=series['Coupon Rate']
    maturity=series['Maturity (years)']
    return mv_bond(principal,coupon_rate,maturity,cost_of_debt)
df.apply(mv_bond_for_apply,axis=1,cost_of_debt=cost_of_debt)

0    294650.205761
1    461343.545191
2    186751.492640
dtype: float64

In [22]:
df['Value']=df.apply(mv_bond_for_apply,axis=1,cost_of_debt=cost_of_debt)

In [23]:
df

   Principal  Coupon Rate  Maturity (years) Maturity (Date)          Value
0     300000         0.07                 2      2021-11-06  294650.205761
1     500000         0.05                 3      2022-11-06  461343.545191
2     200000         0.06                 4      2023-11-06  186751.492640

In [24]:
my_debt=df['Value'].sum()
my_debt

942745.2435924213

In [25]:
def mv_bond_annuity_approach(principal, coupon_rate, maturity, cost_of_debt):
    """
    Calculate the market value of bond with non-integer maturity
    """
    coupon_payment = coupon_rate * principal
    return coupon_payment * ((1 - (1 + cost_of_debt)**(-maturity))/cost_of_debt) + principal/(1 + cost_of_debt)**maturity


def mv_bond_annuity_approach_for_apply(series, cost_of_debt):
    """
    Calculate market value of a bond with non-integer maturity. This version to be used with DataFrame.apply
    """
    principal = series['Principal']
    coupon_rate = series['Coupon Rate']
    maturity = series['Maturity (years)']
    return mv_bond_annuity_approach(principal, coupon_rate, maturity, cost_of_debt)

df.apply(mv_bond_annuity_approach_for_apply, axis=1, cost_of_debt=cost_of_debt)

0    294650.205761
1    461343.545191
2    186751.492640
dtype: float64

In [26]:
df

   Principal  Coupon Rate  Maturity (years) Maturity (Date)          Value
0     300000         0.07                 2      2021-11-06  294650.205761
1     500000         0.05                 3      2022-11-06  461343.545191
2     200000         0.06                 4      2023-11-06  186751.492640

In [27]:
df = df.drop(['Maturity (years)', 'Value'], axis=1)  # axis=1 here means column, the command can also be used to drop rows with axis=0
df

   Principal  Coupon Rate Maturity (Date)
0     300000         0.07      2021-11-06
1     500000         0.05      2022-11-06
2     200000         0.06      2023-11-06

In [28]:
df.dtypes

Principal                   int64
Coupon Rate               float64
Maturity (Date)    datetime64[ns]
dtype: object

In [29]:
df['Maturity (Date)']=pd.to_datetime(df['Maturity (Date)'])

In [30]:
df

   Principal  Coupon Rate Maturity (Date)
0     300000         0.07      2021-11-06
1     500000         0.05      2022-11-06
2     200000         0.06      2023-11-06

In [31]:
df.dtypes

Principal                   int64
Coupon Rate               float64
Maturity (Date)    datetime64[ns]
dtype: object

In [32]:
#calculate the difference between the maturity date and today
date=df.loc[0,'Maturity (Date)']#get the first row(0-index) value from Maturity (Date) column
date

Timestamp('2021-11-06 00:00:00')

In [33]:
import datetime
today=datetime.datetime.today()
today

datetime.datetime(2022, 12, 1, 22, 14, 13, 979439)

In [34]:
diff=date-today
diff

Timedelta('-391 days +01:45:46.020561')

In [35]:
#converts those days int seconds
seconds=diff.total_seconds()
seconds#converting floating point number

-33776053.979439

In [36]:
seconds_per_year=60*60*24*365
seconds_per_year

31536000

In [37]:
years_elapsed=seconds/seconds_per_year
years_elapsed

-1.0710316457204148

In [38]:
def years_until_from_date(date):
    """
    Calculate the number of years until a date, starting from today.
    """
    today = datetime.datetime.today()
    diff = date - today
    seconds = diff.total_seconds()
    seconds_per_year = 60 * 60 * 24 * 365
    years_elapsed = seconds / seconds_per_year
    return years_elapsed

years_until_from_date(date)

-1.0710316643637747

In [39]:
def years_until_from_date_for_apply(series, date_col='Maturity (Date)'):
    date = series[date_col]
    return years_until_from_date(date)

df.apply(years_until_from_date_for_apply, axis=1)

0   -1.071032
1   -0.071032
2    0.928968
dtype: float64

In [40]:
df['Maturity (years)'] = df.apply(years_until_from_date_for_apply, axis=1)
df

   Principal  Coupon Rate Maturity (Date)  Maturity (years)
0     300000         0.07      2021-11-06         -1.071032
1     500000         0.05      2022-11-06         -0.071032
2     200000         0.06      2023-11-06          0.928968

In [41]:
df['Value'] = df.apply(mv_bond_annuity_approach_for_apply, axis=1, cost_of_debt=cost_of_debt)
df

   Principal  Coupon Rate Maturity (Date)  Maturity (years)          Value
0     300000         0.07      2021-11-06         -1.071032  303222.006453
1     500000         0.05      2022-11-06         -0.071032  501027.807654
2     200000         0.06      2023-11-06          0.928968  196550.075964

In [42]:
mv_debt = df['Value'].sum()
mv_debt

1000799.890071762