In [1]:
#Description: This program determines if a stock is under or overvalued
#import the Liberies
import pandas as pd
import numpy as np
import yfinance as yfp
import yahoo_fin.stock_info as yf

In [2]:
yfp.Ticker('TSLA').history(start='2022-11-23',end='2022-11-23')['Close'][0]

169.91000366210938

In [3]:
pe_ratio = yf.get_quote_table('AMZN')['EPS (TTM)']

In [4]:
pe_ratio

1.08

In [5]:
stocks=['AMZN','TSLA','AAPL','GOOG','META','MSFT','NFLX']

In [6]:
df=pd.DataFrame()
x=[]
y=[]
z=[]
m=[]
for i in stocks:
    print(i)
    x.append(i)
    y.append(yfp.Ticker(i).history(start='2022-11-23',end='2022-11-23')['Close'][0])
    z.append(yf.get_quote_table(i)['PE Ratio (TTM)'])
    m.append(yf.get_quote_table(i)['EPS (TTM)'])
df['Ticker']=x
df['Price']=y
df['PE Ratio']= z
df['EPS']=m

AMZN
TSLA
AAPL
GOOG
META
MSFT
NFLX

In [7]:
df

  Ticker       Price  PE Ratio    EPS
0   AMZN   93.199997     87.33   1.08
1   TSLA  169.910004     55.09   3.27
2   AAPL  150.179993     24.69   6.11
3   GOOG   97.330002     19.22   5.11
4   META  111.440002     10.72  10.42
5   MSFT  245.029999     26.55   9.29
6   NFLX  286.690002     25.63  11.23

In [8]:
#Calculate & Show the mean P/E Ratio
PE_Ratio_Mean=df['PE Ratio'].mean()
#Show The Data
PE_Ratio_Mean

35.604285714285716

In [9]:
#CalCulate and Show Fair market value
df['Fair Market Value']=PE_Ratio_Mean*df['EPS']
#Show the Data
df

  Ticker       Price  PE Ratio    EPS  Fair Market Value
0   AMZN   93.199997     87.33   1.08          38.452629
1   TSLA  169.910004     55.09   3.27         116.426014
2   AAPL  150.179993     24.69   6.11         217.542186
3   GOOG   97.330002     19.22   5.11         181.937900
4   META  111.440002     10.72  10.42         370.996657
5   MSFT  245.029999     26.55   9.29         330.763814
6   NFLX  286.690002     25.63  11.23         399.836129

In [10]:
#Calculate and Show a companies value ratio to determine if that company is over values or under values
df['Over Under Ratio']=df['Price']/df['Fair Market Value']
df

  Ticker       Price  PE Ratio    EPS  Fair Market Value  Over Under Ratio
0   AMZN   93.199997     87.33   1.08          38.452629          2.423761
1   TSLA  169.910004     55.09   3.27         116.426014          1.459382
2   AAPL  150.179993     24.69   6.11         217.542186          0.690349
3   GOOG   97.330002     19.22   5.11         181.937900          0.534963
4   META  111.440002     10.72  10.42         370.996657          0.300380
5   MSFT  245.029999     26.55   9.29         330.763814          0.740800
6   NFLX  286.690002     25.63  11.23         399.836129          0.717019

In [11]:
#Create a new Column to store and show a label of under valued and over valued stocks
df['Value Label']=np.where(df['Over Under Ratio']<1.0,'Under Valued','Fair or Over Valued')
#show The data
df

,Ticker,Price,PE Ratio,EPS,Fair Market Value,Over Under Ratio,Value Label
0,AMZN,93.199997,87.33,1.08,38.452629,2.423761,Fair or Over Valued
1,TSLA,169.910004,55.09,3.27,116.426014,1.459382,Fair or Over Valued
2,AAPL,150.179993,24.69,6.11,217.542186,0.690349,Under Valued
3,GOOG,97.330002,19.22,5.11,181.937900,0.534963,Under Valued
4,META,111.440002,10.72,10.42,370.996657,0.300380,Under Valued
5,MSFT,245.029999,26.55,9.29,330.763814,0.740800,Under Valued
6,NFLX,286.690002,25.63,11.23,399.836129,0.717019,Under Valued

In [12]:
#Show the Percentage that the Stock is over or under valued
df['Value Percentage']=abs(df['Over Under Ratio'] -1)*100
#show the Data
df.index=df.Ticker

In [13]:
#Show only a list of stocks that are Considered under valued
df[df['Value Label']=='Under Valued'].index

Index(['AAPL', 'GOOG', 'META', 'MSFT', 'NFLX'], dtype='object', name='Ticker')