In [1]:
d={'Tom': 7326,'Rob':732,'Joe':889}
d

{'Tom': 7326, 'Rob': 732, 'Joe': 889}

In [2]:
d['Tom']

7326

In [3]:
d['sam']=999
d

{'Tom': 7326, 'Rob': 732, 'Joe': 889, 'sam': 999}

In [4]:
del d['sam']
d

{'Tom': 7326, 'Rob': 732, 'Joe': 889}

In [5]:
for key in d:
    print('Name:',key,'ID:',d[key])

Name: Tom ID: 7326
Name: Rob ID: 732
Name: Joe ID: 889

In [6]:
for k,v in d.items():
    print('Name:',k,'ID:',v)

Name: Tom ID: 7326
Name: Rob ID: 732
Name: Joe ID: 889

In [7]:
'Tom' in d

True

In [8]:
'Samir' in d

False

In [9]:
d.clear()
d

{}