In [1]:
tom_exp_list=[2100,3400,3500]
joe_exp_list_list =[200,500,700]

In [2]:
total=0
for item in tom_exp_list:
    total=total+item
print("Toms's Total Expenses: ",total)

Toms's Total Expenses:  9000

In [3]:
total=0
for item in joe_exp_list_list:
    total=total+item
print("Joe's Total Expenses: ",total)

Joe's Total Expenses:  1400

In [4]:
def exp(exp=tom_exp_list,name='tom'):
    print(name)
    print(exp)
    total=0
    for item in exp:
        total=total+item
    return print(name+"'s Total Expenses: ",total)

In [5]:
exp(tom_exp_list,'tom')

tom
[2100, 3400, 3500]
tom's Total Expenses:  9000

In [6]:
exp(joe_exp_list_list,'joe')

joe
[200, 500, 700]
joe's Total Expenses:  1400

In [7]:
exp(tom_exp_list)

tom
[2100, 3400, 3500]
tom's Total Expenses:  9000