In [1]:
import pandas as pd
y=pd.Period('2016')
y

Period('2016', 'A-DEC')

In [2]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [3]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [4]:
m=pd.Period('2011-1',freq='M')
m

Period('2011-01', 'M')

In [5]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [6]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [7]:
m+1

Period('2011-02', 'M')

In [8]:
d=pd.Period('2017-02-28',freq='D')
d

Period('2017-02-28', 'D')

In [9]:
d+1

Period('2017-03-01', 'D')

In [10]:
h=pd.Period('2016-02-28 23:00:00',freq='H')
h

Period('2016-02-28 23:00', 'H')

In [11]:
h.start_time

Timestamp('2016-02-28 23:00:00')

In [12]:
h.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [13]:
h+1

Period('2016-02-29 00:00', 'H')

In [14]:
h+pd.offsets.Hour(5)

Period('2016-02-29 04:00', 'H')

In [15]:
h-6

Period('2016-02-28 17:00', 'H')

In [16]:
h+pd.offsets.Hour(5)

Period('2016-02-29 04:00', 'H')

In [17]:
q=pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

In [18]:
q+1

Period('2017Q2', 'Q-DEC')

In [19]:
q.start_time

Timestamp('2017-01-01 00:00:00')

In [20]:
q.asfreq('M',how='start')

Period('2017-01', 'M')

In [21]:
q.asfreq('M',how='End')

Period('2017-03', 'M')

In [22]:
q=pd.Period('2017Q1',freq='Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [23]:
q2=pd.Period('2018Q2',freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [24]:
q2-q

In [25]:
idx=pd.period_range('2011','2017',freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [26]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [27]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [28]:
import numpy as np
ps=pd.Series(np.random.randn(len(idx)),idx)
ps

2011Q4    1.479856
2012Q1    0.693687
2012Q2    1.289545
2012Q3    0.212827
2012Q4    1.199471
2013Q1    1.693269
2013Q2    0.458042
2013Q3   -0.480486
2013Q4   -0.189978
2014Q1    0.270089
2014Q2   -1.465770
2014Q3   -1.094612
2014Q4   -0.251141
2015Q1    0.540882
2015Q2   -0.512170
2015Q3   -2.311631
2015Q4   -0.748396
2016Q1    0.242566
2016Q2   -0.755045
2016Q3   -0.316239
2016Q4    0.505701
2017Q1    0.117566
2017Q2    1.200841
2017Q3   -0.002693
2017Q4    0.317221
Freq: Q-JAN, dtype: float64

In [29]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [30]:
ps['2011':'2013']

2011Q4    1.479856
2012Q1    0.693687
2012Q2    1.289545
2012Q3    0.212827
2012Q4    1.199471
2013Q1    1.693269
2013Q2    0.458042
2013Q3   -0.480486
2013Q4   -0.189978
2014Q1    0.270089
2014Q2   -1.465770
2014Q3   -1.094612
2014Q4   -0.251141
Freq: Q-JAN, dtype: float64

In [31]:
pst=ps.to_timestamp()
pst

2010-11-01    1.479856
2011-02-01    0.693687
2011-05-01    1.289545
2011-08-01    0.212827
2011-11-01    1.199471
2012-02-01    1.693269
2012-05-01    0.458042
2012-08-01   -0.480486
2012-11-01   -0.189978
2013-02-01    0.270089
2013-05-01   -1.465770
2013-08-01   -1.094612
2013-11-01   -0.251141
2014-02-01    0.540882
2014-05-01   -0.512170
2014-08-01   -2.311631
2014-11-01   -0.748396
2015-02-01    0.242566
2015-05-01   -0.755045
2015-08-01   -0.316239
2015-11-01    0.505701
2016-02-01    0.117566
2016-05-01    1.200841
2016-08-01   -0.002693
2016-11-01    0.317221
Freq: QS-NOV, dtype: float64

In [32]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01', '2013-05-01', '2013-08-01',
               '2013-11-01', '2014-02-01', '2014-05-01', '2014-08-01',
               '2014-11-01', '2015-02-01', '2015-05-01', '2015-08-01',
               '2015-11-01', '2016-02-01', '2016-05-01', '2016-08-01',
               '2016-11-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [33]:
pst.to_period()

2010Q4    1.479856
2011Q1    0.693687
2011Q2    1.289545
2011Q3    0.212827
2011Q4    1.199471
2012Q1    1.693269
2012Q2    0.458042
2012Q3   -0.480486
2012Q4   -0.189978
2013Q1    0.270089
2013Q2   -1.465770
2013Q3   -1.094612
2013Q4   -0.251141
2014Q1    0.540882
2014Q2   -0.512170
2014Q3   -2.311631
2014Q4   -0.748396
2015Q1    0.242566
2015Q2   -0.755045
2015Q3   -0.316239
2015Q4    0.505701
2016Q1    0.117566
2016Q2    1.200841
2016Q3   -0.002693
2016Q4    0.317221
Freq: Q-DEC, dtype: float64

In [34]:
import pandas as pd
df=pd.read_csv('wmt.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [35]:
df.set_index('Line Item',inplace=True)

In [36]:
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [37]:
df=df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [38]:
df.index=pd.PeriodIndex(df.index,freq='Q-jan')

In [39]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [40]:
df['start date']=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [41]:
df['End date']=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit start date                      End date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999