In [1]:
#Create a new column and name it 'investment_amount_inthousand' and fill the values from 'investment amount(in lalkh INR)' column 
#in thousand from ShartankIndiaAllPitches dataframe ?

In [2]:
import pandas as pd
import numpy as np
url='https://raw.githubusercontent.com/nafissaad/Tutorial1/main/Tutorial/Python/Python%20Essentials%20DataMites/32%20Conditional%20Filtering%20in%20Pandas/ShartankIndiaAllPitches.csv'
df=pd.read_csv(url)
df

,Episode Number,Pitch Number,Brand,Idea,Investment Amount (In Lakhs INR),Debt (In lakhs INR),Equity,Anupam,Ashneer,Namita,Aman,Peyush,Vineeta,Ghazal,Season
0,1,1,BluePine Industries,Frozen Momos,75,0,18%,N,Y,N,Y,N,Y,N,1
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40,0,50%,N,Y,N,N,N,Y,N,1
2,1,3,Heart up my Sleeves,Detachable Sleeves,25,0,30%,Y,N,N,N,N,Y,N,1
3,2,4,Tagz Foods,Healthy Potato Chips,70,0,2.75%,N,Y,N,N,N,N,N,1
4,2,5,Head and Heart,Brain Development Course,0,0,0,N,N,N,N,N,N,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,0,0,N,N,N,N,N,N,N,1
113,34,114,On2Cook,Fastest Cooking Device,0,0,0,N,N,N,N,N,N,N,1
114,35,115,Jain Shikanji,Lemonade,40,0,30.00%,Y,Y,N,Y,N,Y,N,1
115,35,116,Woloo,Washroom Finder,0,0,0,N,N,N,N,N,N,N,1
116,35,117,Elcare India,Carenting for Elders,0,0,0,N,N,N,N,N,N,N,1

In [3]:
df.columns

Index(['Episode Number', 'Pitch Number', 'Brand', 'Idea',
       'Investment Amount (In Lakhs INR) ', 'Debt (In lakhs INR)', 'Equity',
       'Anupam', 'Ashneer', 'Namita', 'Aman', 'Peyush', 'Vineeta', 'Ghazal',
       'Season'],
      dtype='object')

In [5]:
df['investment_amount_in_thousands']=df['Investment Amount (In Lakhs INR) '].map(lambda x : x*100)
df['investment_amount_in_thousands']

0      7500
1      4000
2      2500
3      7000
4         0
       ...
112       0
113       0
114    4000
115       0
116       0
Name: investment_amount_in_thousands, Length: 117, dtype: int64