In [1]:
#write a program to convert a list into  a string

In [2]:
list1=['apple','banana','mango']

In [3]:
list1

['apple', 'banana', 'mango']

In [4]:
type(list1)

list

In [6]:
#join()
str1=' '.join(list1)
str1

'apple banana mango'

In [7]:
type(str1)

str

In [9]:
list2=[2,3,4]

In [11]:
list2=' '.join(str(ele) for ele in list2)
list2

'2   3   4'