In [6]:
import pandas as pd
df=pd.read_csv('C:\\Users\\nafissaad\\Tutorial\\Pandas\\Codebasics\\Python Pandas Tutorial 2 Dataframe  Basics\\weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [40]:
#Create a data frame
weather_data={
    'Day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'Event':['Rain','Sunny','Snow','Snow','Rain','Sunny'],
    'temperature':[32,35,28,24,32,31],
    'windspeed':[6,7,2,7,4,2]
}
df=pd.DataFrame(weather_data)
df

        Day  Event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [41]:
row,columns=df.shape

In [42]:
row,columns

(6, 4)

In [43]:
df.head()

        Day  Event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4

In [44]:
df.tail()

        Day  Event  temperature  windspeed
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [45]:
df.columns

Index(['Day', 'Event', 'temperature', 'windspeed'], dtype='object')

In [46]:
df.Day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: Day, dtype: object

In [47]:
df['Event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: Event, dtype: object

In [48]:
type(df['Event'])

pandas.core.series.Series

In [49]:
df[['Day','Event','temperature']]

        Day  Event  temperature
0  1/1/2017   Rain           32
1  1/2/2017  Sunny           35
2  1/3/2017   Snow           28
3  1/4/2017   Snow           24
4  1/5/2017   Rain           32
5  1/6/2017  Sunny           31

In [50]:
df['temperature'].max()

35

In [51]:
df['temperature'].std()

3.8297084310253524

In [52]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [53]:
df[df.temperature>=32]

        Day  Event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
4  1/5/2017   Rain           32          4

In [58]:
df[df.temperature==df['temperature'].max()]

        Day  Event  temperature  windspeed
1  1/2/2017  Sunny           35          7

In [60]:
df.set_index('Day',inplace=True)

In [61]:
df

          Event  temperature  windspeed
Day
1/1/2017   Rain           32          6
1/2/2017  Sunny           35          7
1/3/2017   Snow           28          2
1/4/2017   Snow           24          7
1/5/2017   Rain           32          4
1/6/2017  Sunny           31          2

In [63]:
df.loc['1/4/2017']

Event          Snow
temperature      24
windspeed         7
Name: 1/4/2017, dtype: object

In [65]:
df.reset_index(inplace=True)
df

        Day  Event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [66]:
df.set_index('Event',inplace=True)

In [68]:
df.loc['Snow']

            Day  temperature  windspeed
Event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7