In [2]:
import pandas as pd
df=pd.read_excel('price data.xlsx')

In [3]:
df

     Market Portfolio   Asset Price
0        1.000000e+03    100.000000
1        1.178861e+03     88.056952
2        1.400554e+03     71.554169
3        1.476669e+03     57.621757
4        1.536614e+03     47.839685
..                ...           ...
96       2.454551e+06  23148.498853
97       2.413149e+06  19580.732898
98       2.904958e+06  26815.922014
99       3.560505e+06  27573.115245
100      3.752190e+06  25190.508535

[101 rows x 2 columns]

In [4]:
len(df)

101

In [5]:
returns=df.pct_change()
returns.head()

   Market Portfolio  Asset Price
0               NaN          NaN
1          0.178861    -0.119430
2          0.188057    -0.187410
3          0.054347    -0.194711
4          0.040594    -0.169764

In [6]:
returns.tail()

     Market Portfolio  Asset Price
96           0.097515     0.411711
97          -0.016867    -0.154125
98           0.203804     0.369506
99           0.225665     0.028237
100          0.053837    -0.086411

In [8]:
risk_free=0.03
returns['MRP']=returns['Market Portfolio']-risk_free
returns.head()

   Market Portfolio  Asset Price       MRP
0               NaN          NaN       NaN
1          0.178861    -0.119430  0.148861
2          0.188057    -0.187410  0.158057
3          0.054347    -0.194711  0.024347
4          0.040594    -0.169764  0.010594

In [11]:
returns=returns.dropna()
returns.head()

   Market Portfolio  Asset Price       MRP
1          0.178861    -0.119430  0.148861
2          0.188057    -0.187410  0.158057
3          0.054347    -0.194711  0.024347
4          0.040594    -0.169764  0.010594
5          0.076758     0.227258  0.046758

In [13]:
import statsmodels.api as sm
x=sm.add_constant(returns['MRP'])
y=returns['Asset Price']
model=sm.OLS(y,x)
results=model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            Asset Price   R-squared:                       0.225
Model:                            OLS   Adj. R-squared:                  0.218
Method:                 Least Squares   F-statistic:                     28.53
Date:                Thu, 01 Dec 2022   Prob (F-statistic):           5.99e-07
Time:                        20:09:38   Log-Likelihood:                 13.883
No. Observations:                 100   AIC:                            -23.77
Df Residuals:                      98   BIC:                            -18.56
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0306      0.024      1.301      0.196      -0.016       0.077
MRP            0.8338      0.156      5.341      0.000       0.524       1.144
==============================================================================
Omnibus:                        1.312   Durbin-Watson:                   2.049
Prob(Omnibus):                  0.519   Jarque-Bera (JB):                1.114
Skew:                           0.010   Prob(JB):                        0.573
Kurtosis:                       2.483   Cond. No.                         7.37
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [14]:
results.params

const    0.030628
MRP      0.833783
dtype: float64

In [16]:
beta=results.params['MRP']
beta

0.8337833218355805

In [17]:
market_return=returns['Market Portfolio'].mean()
market_return

0.0944856620313094

In [19]:
#Estimating the Cost of Equity
#ri=rf+B(rm-rf)+e
cost_of_equity=risk_free+beta*(market_return - risk_free)
print(f'The cost of equity is {cost_of_equity:0.2%}.')

The cost of equity is 8.38%.